@if (shopGroup) {
  <div class="wrapper">
    <header>
      <img [imageLoader]="shopGroup.logo || shopGroup.shops[0].logo" id="logo" />
      <div class="header-texts">
        <h1 id="title">{{ shopGroup.title }}</h1>
        @if (shopGroup.description) {
          <p id="description">{{ shopGroup.description }}</p>
        }
      </div>
    </header>
    <mat-nav-list>
      @if (shopGroup.phone) {
        <a mat-list-item href="tel:{{ shopGroup.phone }}">
          <span matListItemTitle>تلفن</span>
          <span matListItemLine>
            {{ shopGroup.phone }}
          </span>
          <button mat-icon-button matListItemMeta>
            <i class="fa-solid fa-phone"></i>
          </button>
        </a>
      }
      @if (shopGroup.instagram) {
        <a
          mat-list-item
          href="https://www.instagram.com/{{ shopGroup.instagram }}"
          target="_blank"
          >
          <span matListItemTitle>اینستاگرام</span>
          <span matListItemLine>
            {{ shopGroup.instagram }}
          </span>
          <button mat-icon-button matListItemMeta>
            <i class="fa-brands fa-instagram"></i>
          </button>
        </a>
      }
      <mat-divider></mat-divider>
      <div>
        <span spacer></span>
      </div>
      @if (shopGroup.listName) {
        <span matSubheader>
          یکی از {{ shopGroup.listName || 'شعب' }} را انتخاب کنید:
        </span>
      }
      @for (s of shopGroup.shops; track s) {
        <a mat-list-item [href]="appLink(s)">
          <img matListItemAvatar [imageLoader]="s.logo" />
          <span matListItemTitle>{{ s.title }}</span>
          @if (s.address) {
            <span matListItemLine>
              {{ s.address }}
            </span>
          }
          <button mat-icon-button matListItemMeta>
            <i class="fa-solid fa-angle-left"></i>
          </button>
        </a>
      }
    </mat-nav-list>
  </div>
}
