<app-top-app-bar [hideMenu]="true" />

<main p-md>
  <mat-nav-list fxLayout="column" fxLayoutGap="8">
    @if (auth.isGuestUser) {
      <a mat-list-item class="surface-background" routerLink="/login">
        <span matListItemLine>
          <i class="fa-regular fa-user"></i>
          &nbsp;
          {{ 'mainMenu.login' | translate }}
        </span>
        <div matListItemMeta>
          <i class="fa-regular fa-chevron-left"></i>
        </div>
      </a>
    } @else {
      <a mat-list-item class="surface-background" routerLink="/login/register">
        <span matListItemLine>
          <i class="fa-regular fa-user"></i>
          &nbsp;
          {{ 'mainMenu.profile' | translate }}
        </span>
        <div matListItemMeta>
          <i class="fa-regular fa-chevron-left"></i>
        </div>
      </a>
    }
    <a mat-list-item class="surface-background" routerLink="/info">
      <span matListItemLine>
        <i class="fa-regular fa-store"></i>
        &nbsp;
        {{ 'mainMenu.info' | translate }}
      </span>
      <div matListItemMeta>
        <i class="fa-regular fa-chevron-left"></i>
      </div>
    </a>
    <a mat-list-item class="surface-background">
      <span matListItemLine>
        <i class="fa-regular fa-clock-rotate-left"></i>
        &nbsp;
        {{ 'mainMenu.orders' | translate }}
      </span>
      <div matListItemMeta>
        <i class="fa-regular fa-chevron-left"></i>
      </div>
    </a>
    <a mat-list-item class="surface-background">
      <span matListItemLine>
        <i class="fa-regular fa-crown"></i>
        &nbsp;
        {{ 'mainMenu.club' | translate }}
      </span>
      <div matListItemMeta>
        <i class="fa-regular fa-chevron-left"></i>
      </div>
    </a>
    <a mat-list-item class="surface-background">
      <span matListItemLine>
        <i class="fa-regular fa-share-nodes"></i>
        &nbsp;
        {{ 'mainMenu.share' | translate }}
      </span>
      <div matListItemMeta>
        <i class="fa-regular fa-chevron-left"></i>
      </div>
    </a>
    @if (!pwa.isStandalone && !pwa.deferredPrompt) {
      <a mat-list-item class="surface-background" (click)="pwa.install()">
        <span matListItemLine>
          <i class="fa-regular fa-arrow-down-to-bracket"></i>
          &nbsp;
          {{ 'mainMenu.download' | translate }}
        </span>
        <div matListItemMeta>
          <i class="fa-regular fa-chevron-left"></i>
        </div>
      </a>
    }
  </mat-nav-list>
</main>
