<app-top-app-bar
  [hideMenu]="true"
  title="{{ 'editAddress.' + (this.address ? 'editTitle' : 'newTitle') | translate }}"
/>
<form [formGroup]="addressForm" p-md fxLayout="column" (ngSubmit)="submit()" pb>
  <div id="map">
    <i id="marker" class="fa-solid fa-location-dot fa-lg error-text"></i>
  </div>
  <br />

  <mat-form-field>
    <mat-label>{{ 'editAddress.titleLabel' | translate }}</mat-label>
    <input
      matInput
      formControlName="title"
      type="text"
      placeholder="{{ 'editAddress.titlePlaceholder' | translate }}"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'editAddress.stateLabel' | translate }}</mat-label>
    <mat-select
      #regionStateElem
      [value]="regionState"
      (valueChange)="regionState.set($event)"
      [disabled]="loading()"
    >
      @for (state of states; track state.title) {
        <mat-option [value]="state">
          {{ state.title }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'editAddress.regionLabel' | translate }}</mat-label>
    <mat-select formControlName="region">
      @for (region of regions(); track region.id) {
        <mat-option [value]="region">
          {{ region.title }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'editAddress.addressLabel' | translate }}</mat-label>
    <textarea
      matInput
      type="text"
      formControlName="description"
      placeholder="{{ 'editAddress.addressHint' | translate }}"
      rows="3"
    ></textarea>
    <mat-hint>{{ 'editAddress.addressHint' | translate }}</mat-hint>
  </mat-form-field>
  <br>

  @if (deliveryArea?.isPost || address?.postalCode) {
    <mat-form-field>
      <mat-label>{{ 'editAddress.postalCode' | translate }}</mat-label>
      <input matInput formControlName="postalCode" type="text" />
    </mat-form-field>
  }

  <button id="submit" type="submit" mat-flat-button class="large" [disabled]="saving() || loading()">
    {{ 'app.select' | translate }}
    @if (saving()) {
      ...
    }
  </button>
</form>
