<h2 mat-dialog-title>{{ 'members.filterTitle' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="filterForm" style="display: flex; flex-direction: column; gap: 16px">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'members.joinedAtDateRange' | translate }}</mat-label>
      <mat-date-range-input [formGroup]="filterForm" [rangePicker]="joinedAtPicker">
        <input
          matStartDate
          formControlName="joinedAtFromDate"
          placeholder="{{ 'members.startDate' | translate }}"
        />
        <input
          matEndDate
          formControlName="joinedAtToDate"
          placeholder="{{ 'members.endDate' | translate }}"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="joinedAtPicker"></mat-datepicker-toggle>
      <mat-date-range-picker #joinedAtPicker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'members.lastVisitDateRange' | translate }}</mat-label>
      <mat-date-range-input [formGroup]="filterForm" [rangePicker]="lastVisitPicker">
        <input
          matStartDate
          formControlName="lastVisitFromDate"
          placeholder="{{ 'members.startDate' | translate }}"
        />
        <input
          matEndDate
          formControlName="lastVisitToDate"
          placeholder="{{ 'members.endDate' | translate }}"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="lastVisitPicker"></mat-datepicker-toggle>
      <mat-date-range-picker #lastVisitPicker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'members.firstOrderDateRange' | translate }}</mat-label>
      <mat-date-range-input [formGroup]="filterForm" [rangePicker]="firstOrderPicker">
        <input
          matStartDate
          formControlName="firstOrderFromDate"
          placeholder="{{ 'members.startDate' | translate }}"
        />
        <input
          matEndDate
          formControlName="firstOrderToDate"
          placeholder="{{ 'members.endDate' | translate }}"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="firstOrderPicker"></mat-datepicker-toggle>
      <mat-date-range-picker #firstOrderPicker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'members.lastOrderDateRange' | translate }}</mat-label>
      <mat-date-range-input [formGroup]="filterForm" [rangePicker]="lastOrderPicker">
        <input
          matStartDate
          formControlName="lastOrderFromDate"
          placeholder="{{ 'members.startDate' | translate }}"
        />
        <input
          matEndDate
          formControlName="lastOrderToDate"
          placeholder="{{ 'members.endDate' | translate }}"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="lastOrderPicker"></mat-datepicker-toggle>
      <mat-date-range-picker #lastOrderPicker></mat-date-range-picker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="onApply()">{{ 'app.ok' | translate }}</button>
  <button mat-button (click)="onClear()">{{ 'app.cancel' | translate }}</button>
</mat-dialog-actions>
