#shop-button {
  margin: 0 -16px;
  img {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    vertical-align: middle;
  }
}

mat-spinner {
  margin: 0px auto;
}

#float-chat {
  position: fixed;
  left: 16px;
  bottom: 16px;
}