<app-top-app-bar [sticky]="true" />
<main p-md max-center fxLayout="column" fxLayoutGap="16px">
  @if (order()) {
    <app-alert-banner
      title="{{ 'orderDetails.description' | translate }}"
      description="{{ 'orderDetails.state.title' | translate }}: {{
        'orderDetails.state.' + order()?.state | translate
      }}"
      type="success"
    />
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>{{ 'orderDetails.title' | translate }}</span>
        <span matListItemLine>{{ order()?.createdAt | pdate }}</span>
        <div matListItemMeta>
          <button mat-button class="tertiary-button" id="shop-button" routerLink="/">
            <img
              [imageLoader]="shop()?.logo"
              [imageFile]="shop()?.logoImage"
              alt="{{ shop()?.title }}"
              [imageSize]="'sm'"
            />
            &nbsp;
            {{ shop()?.title }}
            &nbsp;
            <i class="fa-regular fa-angle-left"></i>
          </button>
        </div>
      </mat-list-item>
      <mat-divider />
      @for (item of order()?.items; track item.id) {
        <mat-list-item>
          <span matListItemTitle style="font-size: 13px">{{ item.title }}</span>
          @if (!item.isAbstract) {
            <span matListItemLine>{{ 'app.number' | translate: { value: item.quantity } }}</span>
          }
          <div matListItemMeta>
            <span>
              {{ item.price | menuCurrency }}
            </span>
          </div>
        </mat-list-item>
      }
      <mat-divider />
      <mat-list-item>
        <span matListItemTitle>
          <b>
            {{ 'app.total' | translate }}
          </b>
        </span>
        <div matListItemMeta>
          <span>
            <b>
              {{ order()?.totalPrice | menuCurrency }}
            </b>
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  } @else {
    <mat-spinner [diameter]="24" />
  }
</main>

<button mat-fab extended routerLink="." id="float-chat" [matBadge]="2">
  <i class="fa-regular fa-message-lines fa-lg"></i>
  پیگیری سفارش
</button>
