<app-top-app-bar title="{{ 'orderDetails.title' | translate }}" [sticky]="true" />
<main max-center>
  @if (order()) {
    <mat-list>
      <mat-list-item>
        <img matListItemAvatar imageLoader [imageFile]="shop()?.logoImage" [imageSize]="'sm'" />
        <span matListItemTitle>{{ shop()?.title }}</span>
        <div matListItemMeta>
          <span>{{ order()?.createdAt | pdate }}</span>
        </div>
      </mat-list-item>
      <mat-divider />
      @for (item of order()?.items; track item.id) {
        <mat-list-item>
          <span matListItemLine>{{ item.title }}</span>
          @if (!item.isAbstract) {
            <span matListItemLine>{{ 'app.number' | translate: { value: item.quantity } }}</span>
          }
          <div matListItemMeta>
            <span>
              {{ item.price * item.quantity | menuCurrency }}
            </span>
          </div>
        </mat-list-item>
      }
      <mat-divider />
      <mat-list-item>
        <span matListItemTitle>
          <b>
            {{ 'app.total' | translate }}
          </b>
        </span>
        <div matListItemMeta>
          <span>
            <b>
              {{ order()?.totalPrice | menuCurrency }}
            </b>
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  }
</main>
