.page-container {
  padding: 16px;

  mat-list-item {
    &.three-line {
      height: auto;
      min-height: 72px;
    }

    s {
      color: var(--mat-sys-error);
      margin-inline-end: 8px;
      opacity: 0.7;
    }
  }
}
