<div class="page-container">
  <h1>سبد خرید</h1>

  @if (cart.orderItems().length) {
    <mat-list>
      @for (item of cart.orderItems(); track $index) {
        <mat-list-item>
          <span matListItemTitle>{{ item.title }}</span>
          <span matListItemLine> {{ item.price | number }} تومان </span>
          <div matListItemMeta>
            @if (item.product) {
              <app-quantity-selector
                [product]="item.product"
                [variant]="item.productVariant"
              ></app-quantity-selector>
            }
          </div>
        </mat-list-item>
      }
    </mat-list>

    <div class="cart-summary">
      <h2>مجموع: {{ cart.total() | number }} تومان</h2>
      <button mat-raised-button color="primary">تکمیل خرید</button>
    </div>
  } @else {
    <p>سبد خرید شما خالی است.</p>
  }
</div>
