:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100svh;
  height: 100vh;
  margin-inline: auto;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 600px;
  }
}

.page-container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-bottom: calc(80px + env(safe-area-inset-bottom));
}

mat-list-item {

  img {
    width: 48px;
    height: 48px;
    border-radius: var(--mat-sys-corner-small) !important;
  }

  &.three-line {
    height: auto;
    min-height: 72px;
  }

  s {
    margin-inline-end: 8px;
    opacity: 0.7;
  }

  .price-text {
    transform: translateY(-8px);
  }
}

.action-toolbar {
  background-color: var(--mat-sys-background);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: calc(64px + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom); // Account for phone's bottom indicator
  display: flex;

  button {
    flex: 1;
    height: 48px;
  }

  @media (min-width: 768px) {
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
  }
}
