<app-top-app-bar title="سبد خرید" [sticky]="true" [hideMetaAction]="true">
  <button mat-icon-button (click)="clearCart()" title="خالی کردن سبد">
    <ng-icon [svg]="trashIcon" size="22"></ng-icon>
  </button>
</app-top-app-bar>

<div class="page-container">
  @if (cart.orderItems().length) {
    <mat-list>
      <div mat-subheader>تعداد {{ cart.length() }} آیتم انتخاب شده</div>
      @for (item of cart.orderItems(); track $index) {
        <mat-list-item [class.three-line]="item.productVariant">
          <img matListItemAvatar appImageLoader [imageFile]="Product.mainImageFile(item?.product)" [alt]="item.product?.title" />
          <span matListItemTitle class="mat-font-title-sm">{{ item.product?.title }}</span>
          @if (item.productVariant) {
            <span matListItemLine class="mat-font-body-sm">{{ item.productVariant.title }}</span>
          }
          <span matListItemLine class="mat-font-label-sm price-text">
            @if (item.realPrice) {
              <s class="mat-color-error">{{ item.realPrice | number }}</s>
            }
            {{ item.price | number }} تومان
          </span>
          <div matListItemMeta>
            @if (item.product) {
              <app-quantity-selector
                [product]="item.product"
                [variant]="item.productVariant"
              ></app-quantity-selector>
            }
          </div>
        </mat-list-item>

        <!-- @if (!$last) {
          <mat-divider />
        } -->
      }
    </mat-list>
  } @else {
    <app-empty-state text="سبد خرید شما خالی است."></app-empty-state>
  }

  @if (cart.orderItems().length) {
    <mat-toolbar class="action-toolbar">
      <button mat-raised-button (click)="proceedToCheckout()">
        تکمیل سفارش ({{ cart.total() | number }} تومان)
      </button>
    </mat-toolbar>
  }
</div>
