<div class="page-container">
  @if (cart.orderItems().length) {
    <mat-list>
      @for (item of cart.orderItems(); track $index) {
        <mat-list-item [class.three-line]="item.productVariant">
          <span matListItemTitle class="mat-font-title-sm">{{ item.product?.title }}</span>
          @if (item.productVariant) {
            <span matListItemLine class="mat-font-body-sm">{{ item.productVariant.title }}</span>
          }
          <span matListItemLine class="mat-font-body-sm">
            @if (item.realPrice) {
              <s>{{ item.realPrice | number }}</s>
            }
            {{ item.price | number }} تومان
          </span>
          <div matListItemMeta>
            @if (item.product) {
              <app-quantity-selector
                [product]="item.product"
                [variant]="item.productVariant"
              ></app-quantity-selector>
            }
          </div>
        </mat-list-item>

        @if (!$last) {
          <mat-divider />
        }
      }
    </mat-list>
  } @else {
    <p>سبد خرید شما خالی است.</p>
  }
</div>
