/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/iransans/iransans.scss";
@import "_base-theme.scss";
@import "assets/fonts/fontawesome/scss/fontawesome.scss";
@import "assets/fonts/fontawesome/scss/regular.scss";
@import "assets/fonts/fontawesome/scss/brands.scss";
@import "assets/fonts/fontawesome/scss/solid.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IRANSans";
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

.submit-button {
  height: 56px !important;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.spacer,
span[spacer] {
  flex: none;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.spacer-2x,
span[spacer-2x] {
  flex: none;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.spacer-sm,
span[spacer-sm] {
  flex: none;
  display: inline-block;
  width: 8px;
  height: 8px;
}

[flex] {
  flex: 1;
}

// material override
mat-toolbar {
  background-color: transparent !important;
  color: var(--md-sys-color-on-background) !important;

  min-height: 72px;
  &-row {
    min-height: 72px;
  }
}

.mdc-button[mat-flat-button][color=primary],
.mdc-button[mat-raised-button][color=primary] {
  color: var(--md-sys-color-on-primary) !important;
}

.mdc-button[mat-flat-button][color=accent],
.mdc-button[mat-raised-button][color=accent] {
  color: var(--md-sys-color-on-tertiary) !important;
}

@media (prefers-color-scheme: dark) {
  @import "./config/theme.dark.scss";
}

[mat-button],
[mat-raised-button],
[mat-stroked-button],
[mat-flat-button] {
  border-radius: 16px !important;
}

.mat-button-toggle-group {
  border-radius: 32px !important;
  font-family: inherit !important;
  font-size: 14px;

  .mat-button-toggle {
    font-family: inherit !important;
  }
}

mat-card {
  box-shadow: none !important;
  border-radius: 12px !important;
}

[matListItemIcon] {
  line-height: 24px;
  text-align: center;
}

.mat-bottom-sheet-container {
  background-color: var(--md-sys-color-background) !important;
}
