.container {
  padding: 24px;
  max-width: 600px;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
  }
}
