#container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100svh;
  left: 0;

  @media only screen and (min-width: 600px) {
    left: 50%;
    right: auto;
    width: 400px;
    transform: translateX(-50%);
  }
}
#logo {
  width: 60px;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 8px;
}
h1 {
  font-size: 34px;
  margin: 0;
}
p {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
}
.content {
  text-align: center;
  padding: 16px;
  padding-bottom: 32px;
}
