<mat-card class="product-card" appearance="outlined" routerLink="{{ product().id }}">
  <mat-card-content class="product-card__content" [class.large-image]="!largeImage()">
    <img
      class="product-card__image"
      appImageLoader
      [imageFile]="imageFile()"
      [imageSize]="largeImage() ? 'md' : 'sm'"
      [attr.alt]="product().title"
    />

    <div class="product-card__texts">
      <h3 class="product-card__title">{{ product().title }}</h3>

      @if (product().description) {
        <p class="product-card__description">{{ product().description }}</p>
      }
    </div>
  </mat-card-content>
  @if (!hideVariants()) {
    @if (hasVariants()) {
      @for (variant of variants(); track variant.id) {
        <mat-card-actions class="product-card__price-actions">
          <!-- <ng-icon class="product-card__variant-icon" [svg]="stopCircleIcon" /> -->
          <div class="product-card__variant-text">
            <span class="product-card__price-title">{{ variant.title }}</span>
            <span class="product-card__price">
              @if (variantHasDiscount(variant)) {
                <span class="product-card__price-old">{{ variantRealPrice(variant) | number }} تومان</span>
                &nbsp;
              }
              {{ variantTotalPrice(variant) | number }} تومان
            </span>
          </div>
          <app-quantity-selector [product]="product()" [variant]="variant" />
        </mat-card-actions>
      }
    } @else {
      <mat-card-actions class="product-card__price-actions">
        <div class="product-card__variant-text">
          <span class="product-card__price-title">قیمت</span>
          <span class="product-card__price">
            @if (hasDiscount()) {
              <span class="product-card__price-old">{{ realPrice() | number }} تومان</span>
              &nbsp;
            }
            {{ totalPrice() | number }} تومان
          </span>
        </div>
        <app-quantity-selector [product]="product()" />
      </mat-card-actions>
    }
  }
</mat-card>
