:host {
  display: block;
}

.product-card {
  // background: transparent;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: transparent;
  overflow: hidden;
  // padding-inline: 0;

  .product-card__image {
    width: calc(100% + 32px);
    margin: -16px;
    margin-bottom: 0;
    border-radius: var(--mat-sys-corner-medium);
  }

  &.side-media {
    flex-direction: row;
    gap: 8px;

    .product-card__image {
      width: 96px !important;
      margin: 0;
      margin-inline-start: -8px;
      margin-block-start: -8px;
      border-radius: var(--mat-sys-corner-small);
      flex: none;
    }
  }
}

.product-card__title {
  margin: 0;
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-on-surface);

  &.small {
    font: var(--mat-sys-title-medium);
    margin-inline: -8px;
    height: 24px;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.product-card__description {
  margin: 0;
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-outline);
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card__price-actions {
  display: flex;
  align-items: center;
  gap: 8px;

  &.small {
    height: 32px;
    min-height: 32px;
  }
}

.product-card__variant-icon {
  color: var(--mat-sys-outline);
}

.product-card__variant-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-card__price-title {
  font: var(--mat-sys-title-small);
}

.product-card__price {
  flex: 1;
  .product-card__price-old {
    text-decoration: line-through;
    color: var(--mat-sys-error);
  }
  font: var(--mat-sys-label-small);
}
