<mat-toolbar class="content-toolbar">
  <h1 fxFlex>{{ 'nav.bom' | translate: { value: shopService.businessCategoryMenuTitle() } }}</h1>
</mat-toolbar>
<main p-md fxLayout="column" fxLayoutGap="16px">
  <mat-toolbar>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'app.search' | translate }}</mat-label>
      <input matInput [(ngModel)]="searchQuery" type="search" />
    </mat-form-field>
  </mat-toolbar>
  @for (categoryItem of categoryItems(); track categoryItem.category.id) {
    <h2>{{ categoryItem.category.title }}</h2>
    <mat-card appearance="outlined">
      <mat-card-content>
        <table mat-table [dataSource]="categoryItem.items">
          <!-- Product Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef style="width: 260px">{{ 'bom.products' | translate }}</th>
            <td mat-cell *matCellDef="let item">
              {{ item.product?.title }}
              @if (item.variant) {
                - {{ item.variant.title }}
              }
            </td>
          </ng-container>

          <!-- Materials Column (for product itself) -->
          <ng-container matColumnDef="materials">
            <th mat-header-cell *matHeaderCellDef>{{ 'materials.title' | translate }}</th>
            <td mat-cell *matCellDef="let item">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-chip-set>
                  @for (bom of item.boms; track bom.id) {
                    <mat-chip [matMenuTriggerFor]="menu">
                      {{ bom.material.name }}
                      (<span eng>{{ bom.quantity | number }}</span
                      >{{ 'materials.units.' + bom.material.unit | translate }})
                    </mat-chip>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="editBom(bom)">
                        <i class="fa-regular fa-pen-to-square"></i>
                        {{ 'app.edit' | translate }}
                      </button>
                      <button mat-menu-item (click)="removeBom(bom)">
                        <i class="fa-regular fa-trash-can"></i>
                        {{ 'app.remove' | translate }}
                      </button>
                    </mat-menu>
                  }
                </mat-chip-set>
                @if (editableItem()?.product?.id === item.product?.id && editableItem()?.variant?.id === item.variant?.id) {
                  <form>
                    <input
                      type="text"
                      class="search-material-input"
                      [(ngModel)]="searchMaterialInput"
                      [matAutocomplete]="auto"
                      [ngModelOptions]="{ standalone: true }"
                      (keyup.esc)="editableItem.set(null)"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      autoActiveFirstOption
                      (optionSelected)="selectMaterial($event.option.value)"
                    >
                      @for (material of filteredMaterials(); track material.id) {
                        <mat-option [value]="material.id">
                          {{ material.name }}
                        </mat-option>
                      }
                    </mat-autocomplete>
                  </form>
                  <button mat-icon-button (click)="editableItem.set(null)">
                    <i class="fa-regular fa-xmark"></i>
                  </button>
                } @else {
                  <button mat-icon-button (click)="setEditableItem(item)">
                    <i class="fa-regular fa-plus"></i>
                  </button>
                }
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef style="width: 140px">{{ 'bom.cost' | translate }}</th>
            <td mat-cell *matCellDef="let item">
              @if (item.cost !== null) {
                {{ item.cost | number | menuCurrency }}
              } @else {
                <i class="fa-regular fa-question"></i>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef style="width: 140px">{{ 'bom.price' | translate }}</th>
            <td mat-cell *matCellDef="let item">
              {{ (item.variant || item.product).price | number: '1.0-0' | menuCurrency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="profit">
            <th mat-header-cell *matHeaderCellDef style="width: 200px">{{ 'bom.profit' | translate }}</th>
            <td mat-cell *matCellDef="let item" eng ltr>
              @if (item.cost !== null) {
                @let price = (item.variant || item.product).price;
                @let percentage = ((price - item.cost) / price) * 100;
                <span [class.error-text]="percentage < 0" [class.success-text]="percentage > 50">
                  {{ price - item.cost | number }}
                  <span eng ltr> ({{ percentage | number: '1.0-0' }}%) </span>
                </span>
              } @else {
                <i class="fa-regular fa-question"></i>
              }
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  }
</main>
