main {
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

i {
  color: var(--sys-primary);
  font-size: 128px;
}

mat-progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}