@import "theme";

table {
  box-shadow: none;
}

.add-customer {
  background-color: $gray-l2;
  border-radius: 24px;
  height: 32px;
  font-size: 12px;
}

.state-button {
  border-radius: 24px;
  height: 32px;
  &.red {
    background-color: lighten($red, 35);
    color: $red;
  }

  &.yellow {
    background-color: lighten($yellow, 30);
    color: darken($yellow, 30);
  }

  &.blue {
    background-color: lighten($blue, 30);
    color: $blue;
  }

  &.green {
    background-color: lighten($green, 50);
    color: $green;
  }
}

.payed-label {
  color: $green;
  font-size: 12px;
}
