@import "theme";

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 960px;

  td {
    font-size: 12px;
  }

  img {
    width: 36px;
    height: 36px;
    margin: 4px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .user-info {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
  }
}

.items-col {
  width: 300px;

  .mat-chip-list {
    max-height: 48px;
    overflow: hidden;
  }

  .mat-chip {
    font-size: 9px;
    min-height: 20px;
    margin: 2px;
  }
}

.state-container {
  width: 120px;
  height: 24px;
  position: relative;

  .order-state-button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 24px;
    font-size: 10px;
    height: 24px;
    line-height: 24px;
    transition: 0.3s opacity;

    &.pending {
      background-color: lighten($red, 35);
      color: $red;
    }

    &.processing {
      background-color: lighten($yellow, 30);
      color: darken($yellow, 30);
    }

    &.shipping,
    &.ready {
      background-color: lighten($blue, 30);
      color: $blue;
    }

    &.completed {
      background-color: lighten($green, 50);
      color: $green;
    }
  }

  .next-state {
    opacity: 0;
    font-size: 9px;
  }

  &:not(.last-step):hover {
    .current-state {
      opacity: 0;
    }

    .next-state {
      opacity: 1;
    }
  }
}
