<section fxLayout="column" fxLayoutGap="8" class="category-section">
  <h2>
    @if (category.faIcon) {
      <i class="fa-regular fa-{{ category.faIcon }} fa-lg"></i>&nbsp;
    }
    {{ category.title }}
  </h2>
  @if (category.description) {
    <p class="outline-text">{{ category.description }}</p>
  }
  @switch (viewType) {
    @case (MenuViewType.Card) {
      <app-product-card-view [category]="category" />
    }
    @case (MenuViewType.Compact) {
      <app-product-list-view [category]="category" />
    }
    @default {
      <app-product-grid-view [category]="category" />
    }
  }
</section>
