mat-spinner {
  margin: 24px auto;
}

main {
  padding: 24px;
  max-width: 800px;
}

.image-section {
  padding: 16px;
  img {
    width: 200px;
    border-radius: 16px;
  }
}

.uploaded-photo {
  height: 160px;
  border-radius: 8px;
}
