<div class="container">
  <mat-list flex class="scrollable">
    @for (item of POS.items; track item) {
      <mat-list-item>
        <h5 matListItemTitle>{{ item.title }}</h5>
        <p matListItemLine>{{ item.price | number }}</p>
        <div matListItemMeta class="quantity-section">
          <button mat-icon-button (click)="POS.minus(item.product?.id!, item.productVariant?.id)">
            <i class="fas fa-minus-circle"></i>
          </button>
          <b> {{ item.quantity | number }} </b>
          <button mat-icon-button (click)="POS.plus(item.product?.id!, item.productVariant?.id)">
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
      </mat-list-item>
    }
  </mat-list>

  <mat-divider></mat-divider>

  <mat-nav-list dense class="footer">
    <a mat-list-item class="more-details" (click)="showFactorDetails = !showFactorDetails">
      <p matListItemTitle>
        {{ 'pos.showMoreFactorDetails' | translate }}
      </p>
      @if (!showFactorDetails) {
        <i matListItemMeta class="fa-regular fa-angle-left"></i>
      }
      @if (showFactorDetails) {
        <i matListItemMeta class="fa-regular fa-angle-down"></i>
      }
    </a>
    @if (showFactorDetails) {
      <div [@slideInOut]>
        <a mat-list-item (click)="openNoteDialog()">
          @if (!POS.note) {
            <p matListItemTitle>{{ 'pos.noteDialogTitle' | translate }}:</p>
          }
          @if (POS.note) {
            <p matListItemLine>{{ POS.note }}</p>
          }
          <i matListItemMeta class="fa-regular fa-angle-left"></i>
        </a>
        <mat-divider></mat-divider>
        @if (POS.abstractItems.length) {
          <a mat-list-item>
            <p matListItemTitle>{{ 'app.sum' | translate }}:</p>
            <p matListItemMeta>{{ POS.sum | number }}</p>
          </a>
        }
        @for (item of POS.abstractItems; track item) {
          <a mat-list-item>
            <p matListItemTitle>{{ item.title }}:</p>
            <p matListItemMeta class="ltr">{{ item.price | number }}</p>
          </a>
        }
        <a mat-list-item (click)="openDiscountAndCostDialog(POS.manualCost || 0, 'cost')">
          <p matListItemTitle>{{ MANUAL_COST_TITLE }}</p>
          <i matListItemMeta class="fa-regular fa-angle-left"></i>
        </a>
        <a mat-list-item (click)="openDiscountAndCostDialog(POS.manualDiscount || 0, 'discount')">
          <p matListItemTitle>{{ MANUAL_DISCOUNT_TITLE }}</p>
          <i matListItemMeta class="fa-regular fa-angle-left"></i>
        </a>
      </div>
    }
    <!-- <a mat-list-item *ngIf="POS.selectedDiscountCoupon">
    <p matListItemTitle>{{ 'app.discountCoupon' | translate }}:</p>
    <p class="red">{{ POS.discountCouponValue | number }}</p>
  </a> -->
  <a mat-list-item class="total-row">
    <b matListItemTitle>{{ 'app.totalPrice' | translate }}:</b>
    <b matListItemMeta>{{ POS.total | menuCurrency }}</b>
  </a>
</mat-nav-list>
</div>
