<mat-toolbar [class.sticky]="sticky" fxLayout="row" class="mat-elevation-z3" fxLayoutGap="4px">
  <button mat-icon-button goBack>
    <i class="fa-regular fa-chevron-right fa-sm"></i>
  </button>
  <span fxFlex></span>
  <label>{{ title }}</label>
  @if (showActions && canShare) {
    <button mat-icon-button (click)="menuService.share()">
      <i class="fa-regular fa-share-nodes fa-sm"></i>
    </button>
  }
  @if (!hideMenu) {
    <button mat-icon-button routerLink="/main-menu">
      <i class="fa-regular fa-bars fa-sm"></i>
    </button>
  }
</mat-toolbar>
