<div class="wrapper">
  <mat-toolbar>
    <mat-toolbar-row>
      <main-menu *ngIf="isHomePage"></main-menu>
      <button mat-icon-button goBack *ngIf="!isHomePage">
        <i class="fa-regular fa-arrow-right"></i>
      </button>
      <h1 flex *ngIf="!isHomePage">{{ 'menu.title' | translate: { value: shop?.title } }}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <header flex-col *ngIf="isHomePage">
    <div class="shop-info" flex-row>
      <img [imageLoader]="shop?.logo" id="logo" />
      <div class="shop-info-texts" flex flex-col>
        <h1 id="title">{{ shop?.title }}</h1>
        <p *ngIf="shop?.description" id="description">{{ shop?.description }}</p>
      </div>
    </div>
    <mat-toolbar flex-row>
      <button mat-button flex (click)="openShopInfoModal()">اطلاعات مجموعه</button>
      <mat-divider vertical></mat-divider>
      <button mat-button flex routerLink="/club">باشگاه مشتریان</button>
    </mat-toolbar>
  </header>

  <mat-toolbar *ngIf="showSelectOrderType">
    <mat-button-toggle-group [(ngModel)]="menuService.type" color="primary" flex>
      <mat-button-toggle *ngFor="let t of appConfig?.selectableOrderTypes" [value]="t">
        {{ t | orderType }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>

  <section
    class="order-disable"
    *ngIf="(appConfig?.disableOrderingText && appConfig?.disableOrdering) || isClosed"
  >
    <disable-ordering-card></disable-ordering-card>
  </section>

  <ng-container [ngSwitch]="orderType">
    <mat-nav-list *ngIf="!appConfig?.disableOrdering && (showTableSelect || orderType === OrderType.Delivery)">
      <a mat-list-item *ngIf="orderType === OrderType.Delivery" (click)="selectDeliveryAddress()">
        <i matListItemIcon class="fa-solid fa-map-location-dot"></i>
        <span matListItemTitle *ngIf="!basket.address" class="error-text">
          {{ 'menu.selectDeliveryAddress' | translate }}
        </span>
        <span matListItemTitle *ngIf="basket.address">
          {{ basket.address.description }}
        </span>
        <span matListItemMeta *ngIf="basket.address && !basket.address?.deliveryArea" class="error-text">
          {{ 'locationsBottomSheet.outsideArea' | translate }}
        </span>
        <span
          matListItemMeta
          *ngIf="basket.address?.deliveryArea && basket.address?.deliveryArea?.status !== Status.Active"
          class="error-text"
        >
          {{ 'locationsBottomSheet.disabled' | translate }}
        </span>
        <span matListItemMeta *ngIf="deliveryCost" class="tertiary-text">
          {{ deliveryCost.price | menuCurrency }}
        </span>
        <i matListItemMeta *ngIf="!basket.address" class="fa-regular fa-chevron-left"></i>
      </a>
      <a mat-list-item *ngIf="showTableSelect" (click)="selectDineInTable()">
        <i matListItemIcon class="fa-solid fa-chair"></i>
        <span matListItemTitle *ngIf="!basket.details?.table" class="error-text">
          {{ 'menu.selectDineInTable' | translate }}
        </span>
        <span matListItemTitle *ngIf="basket.details?.table">
          {{ basket.details?.table }}
        </span>
        <i matListItemMeta class="fa-regular fa-chevron-left"></i>
      </a>
    </mat-nav-list>
  </ng-container>

  <mat-toolbar class="toolbar">
    <div id="search-wrapper" flex>
      <input
        placeholder="{{ 'menu.searchPlaceholder' | translate }}"
        flex
        [formControl]="searchQueryControl"
        class="surface-variant on-surface-variant-text"
        type="query"
      />
      <i class="fa-regular fa-search fa-xs"></i>
    </div>
    <button
      mat-icon-button
      color="warn"
      *ngIf="searchQueryControl.value"
      (click)="searchQueryControl.setValue(undefined)"
    >
      <i class="fa-regular fa-close fa-xs"></i>
    </button>
    <button
      mat-stroked-button
      *ngIf="appConfig?.menuViewType === MenuViewType.Manual && !searchQueryControl.value"
      (click)="toggleView()"
    >
      <ng-container *ngIf="viewType === MenuViewType.Card">
        <i class="fa-solid fa-rectangle"></i>
        {{ 'menu.viewType.card' | translate }}
      </ng-container>
      <ng-container *ngIf="viewType === MenuViewType.Grid">
        <i class="fa-solid fa-grid-2"></i>
        {{ 'menu.viewType.grid' | translate }}
      </ng-container>
      <ng-container *ngIf="viewType === MenuViewType.Compact">
        <i class="fa-solid fa-list"></i>
        {{ 'menu.viewType.compact' | translate }}
      </ng-container>
    </button>
    <button
      id="ding"
      mat-flat-button
      [disabled]="dingTimer > 0"
      color="primary"
      (click)="ding()"
      *ngIf="orderType === OrderType.DineIn && !!basket.details?.table && !searchQueryControl.value"
    >
      <i class="fa-solid fa-bell"></i>
      {{ dingTimer ? dingTimer : ('menu.ding' | translate) }}
    </button>
  </mat-toolbar>

  <div class="menu" *ngIf="!searchQueryControl.value">
    <div class="category-buttons background">
      <menu-categories (chipClick)="categoryClick($event)"></menu-categories>
    </div>

    <div
      *ngFor="let c of categories; let last = last"
      id="category_{{ c.id }}"
      #category
      class="category-wrapper"
    >
      <h3>
        <i *ngIf="c.faIcon" class="fa-solid fa-{{ c.faIcon }}"></i>
        {{ c.title }}
      </h3>
      <p class="outline-text category-description" *ngIf="c.description">{{c.description}}</p>
      <span spacer></span>
      <ng-container *ngIf="viewType === MenuViewType.Card">
        <category-card-view [category]="c"></category-card-view>
      </ng-container>
      <ng-container *ngIf="viewType === MenuViewType.Grid">
        <category-grid-view [category]="c" [menu]="menu" [appConfig]="appConfig"></category-grid-view>
      </ng-container>
      <ng-container *ngIf="viewType === MenuViewType.Compact">
        <category-compact-view [category]="c" [menu]="menu"></category-compact-view>
      </ng-container>
      <span spacer-2x *ngIf="!last"></span>
    </div>
  </div>

  <div class="menu" *ngIf="searchQueryControl.value">
    <div class="category-wrapper" *ngFor="let c of searchCategories; let last = last">
      <h3>
        <i *ngIf="c.faIcon" class="fa-solid fa-{{ c.faIcon }}"></i>
        {{ c.title }}
      </h3>
      <category-compact-view [category]="c" [menu]="menu"></category-compact-view>
      <span spacer-2x *ngIf="!last"></span>
    </div>

    <empty-state icon="fa-face-woozy" text="{{ 'menu.searchNotFound' | translate }}"></empty-state>
  </div>

  <mat-toolbar class="actions-toolbar background" *ngIf="basket.items?.length" routerLink="/basket">
    <button mat-raised-button color="primary">
      {{ 'menu.complete' | translate }}
    </button>
  </mat-toolbar>

  <div style="height: 72px"></div>
</div>
