.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 960px;
  margin: auto;
}

header {
  padding: 0 24px;
  gap: 8px;

  .shop-info {
    gap: 16px;
    align-items: center;

    #logo {
      width: 72px;
      height: 72px;
      border-radius: 16px;
    }

    #title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    #description {
      font-size: 0.8rem;
    }
  }

  mat-toolbar {
    height: 40px !important;
    padding: 0 !important;
    margin-bottom: -16px;

    mat-divider {
      height: 24px !important;
    }
  }
}

.toolbar {
  gap: 8px;
}

#ding {
  margin-left: -16px;
  border-radius: 0 24px 24px 0 !important;
}

#search-wrapper {
  display: flex;
  position: relative;

  input {
    outline: none;
    border: none;
    padding: 4px 12px;
    border-radius: 8px;
    line-height: 28px;
    font-family: inherit;
  }

  i {
    position: absolute;
    left: 12px;
    top: 0;
    line-height: 36px;
  }
}

.menu {
  padding: 0 24px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.category-buttons {
  position: sticky;
  top: 0;
  z-index: 100;
}

.category-wrapper {
  scroll-margin: 72px;
}

.product-wrapper {
  padding: 8px 0;
}

.actions-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  button {
    height: 56px !important;
    flex: 1;
  }
}

.view-type {
  mat-button-toggle-group {
    flex: 1;
  }
}

.order-disable {
  padding: 0 24px;
  font-size: 13px;
}
