.main-toolbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 56px;
}

main {
  display: flex;
  height: calc(100vh - 56px);

  div[flex] {
    // width: 0;
  }

  section {
    flex: none;
    width: 300px;
  }

  @media only screen and (max-width: 1024px) {
    flex-direction: column;

    section {
      width: auto;
    }
  }
}
