<form
  p-md
  w-xs
  fxLayout="column"
  fxLayoutAlign="center stretch"
  center-align
  [formGroup]="loginForm"
  (ngSubmit)="submit()"
  fxLayoutAlign="center default"
  [class.loading]="isLoading()"
  fxLayoutGap="16px"
>
  <h1>
    {{ 'login.title' | translate }}
  </h1>
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>نام کاربری</mat-label>
      <input matInput formControlName="username" eng ltr [disabled]="isLoading()" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>رمز عبور</mat-label>
      <input matInput formControlName="password" eng ltr type="password" [disabled]="isLoading()" />
    </mat-form-field>
  </div>

  <button mat-flat-button [disabled]="isLoading() || loginForm.invalid">
    @if (!isLoading()) {
      <span>ورود</span>
    }
    @if (isLoading()) {
      <mat-spinner diameter="24"></mat-spinner>
    }
  </button>

  <a mat-button routerLink="/auth/register"> ثبت‌نام در منّو </a>
</form>
