<div class="container">
  @for (notif of service.notifications | async; track notif) {
    <mat-card class="shadow mat-elevation-z8">
      <mat-toolbar>
        <h5>{{ notif.title }}</h5>
        <button mat-icon-button class="close" (click)="close(notif)">
          <i class="far fa-times"></i>
        </button>
      </mat-toolbar>
      <mat-card-content>
        @for (c of notif.contents; track c) {
          <p>{{ c }}</p>
        }
      </mat-card-content>
      <mat-card-actions>
        @for (action of notif.actions; track action; let i = $index) {
          @if (action.text) {
            <button
              mat-button
              color="{{ action.color ? action.color : '' }}"
              matTooltip="{{ action.tooltip }}"
              (click)="actionClick(notif, i)"
              [disabled]="notif.disabled"
              >
              @if (action.icon) {
                <i class="{{ action.icon }}"></i>
              }
              {{ action.text }}
            </button>
          }
          @if (!action.text) {
            <button
              mat-icon-button
              color="{{ action.color ? action.color : '' }}"
              matTooltip="{{ action.tooltip }}"
              (click)="actionClick(notif, i)"
              [disabled]="notif.disabled"
              >
              @if (action.icon) {
                <i class="{{ action.icon }}"></i>
              }
            </button>
          }
          <span spacer></span>
        }
      </mat-card-actions>
      <p class="time">{{ notif.createdAt | date: 'HH:mm' }}</p>
    </mat-card>
  }
</div>
