<form [formGroup]="form" class="form-theme">
  <mat-toolbar class="page-toolbar">
    <button mat-icon-button goBack>
      <i class="fa-regular fa-arrow-right"></i>
    </button>
    <h2 flex>{{ 'costEdit.pageTitle' | translate }}</h2>
    <button mat-flat-button color="accent" [disabled]="saving" (click)="save()" [disabled]="!form.dirty">
      {{ 'app.save' | translate }}
    </button>
  </mat-toolbar>
  <main class="content-wrapper">
    <div class="form-page-layout">
      <div class="flex-col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'costEdit.baseSectionTitle' | translate }}</mat-card-title>
          </mat-card-header>
          <span spacer></span>
          <mat-card-content>
            <mat-form-field>
              <mat-label>{{ 'costEdit.titleLabel' | translate }}</mat-label>
              <input matInput formControlName="title" required />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'costEdit.descriptionLabel' | translate }}</mat-label>
              <textarea rows="3" matInput formControlName="description"></textarea>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'costEdit.priceSectionTitle' | translate }}</mat-card-title>
          </mat-card-header>
          <span spacer></span>
          <mat-card-content>
            <mat-form-field>
              <mat-label>{{ 'costEdit.fixedCostLabel' | translate }}</mat-label>
              <input matInput step="10000" type="number" formControlName="fixedCost" />
              <mat-hint>{{ form.controls['fixedCost'].value | menuCurrency }}</mat-hint>
            </mat-form-field>
            <span spacer></span>
            <mat-form-field>
              <mat-label>{{ 'costEdit.percentageCostLabel' | translate }}</mat-label>
              <input step="5" matInput type="number" formControlName="percentageCost" />
              <mat-hint>{{ form.controls['percentageCost'].value }} %</mat-hint>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <select-product-card
          [productControl]="includeProductControl"
          [categoryControl]="includeProductCategoryControl"
        ></select-product-card>
      </div>

      <div class="static-col">
        <select-status-card [control]="statusControl"></select-status-card>

        <select-order-type-card [control]="orderTypesControl"></select-order-type-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title> {{ 'costEdit.shopOnItemTitle' | translate }} </mat-card-title>
          </mat-card-header>
          <span spacer></span>
          <mat-card-content>
            <p>{{ 'costEdit.shopOnItemDescription' | translate }}</p>
            <mat-radio-group matInput formControlName="showOnItem">
              <mat-radio-button [value]="true">
                {{ 'costEdit.shopOnItemDescriptionTrue' | translate }}
              </mat-radio-button>
              <span spacer></span>
              <mat-radio-button [value]="false">
                {{ 'costEdit.shopOnItemDescriptionFalse' | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>

        <select-is-manual-card [control]="isManualControl"></select-is-manual-card>
      </div>
    </div>
  </main>
</form>
