@use "@angular/material" as mat;

$app-typography: mat.define-typography-config(
  $font-family: "IRANSans",
);

@mixin setTheme($mode: auto) {
  $md-primary-palette: (
    50: var(--md-ref-palette-primary0),
    100: var(--md-ref-palette-primary10),
    200: var(--md-ref-palette-primary20),
    300: var(--md-ref-palette-primary30),
    400: var(--md-ref-palette-primary40),
    500: var(--md-ref-palette-primary50),
    600: var(--md-ref-palette-primary60),
    700: var(--md-ref-palette-primary70),
    800: var(--md-ref-palette-primary80),
    900: var(--md-ref-palette-primary90),
    contrast: (
      800: var(--md-ref-palette-primary20),
    ),
  );

  $md-accent-palette: (
    50: var(--md-ref-palette-tertiary0),
    100: var(--md-ref-palette-tertiary10),
    200: var(--md-ref-palette-tertiary20),
    300: var(--md-ref-palette-tertiary30),
    400: var(--md-ref-palette-tertiary40),
    500: var(--md-ref-palette-tertiary50),
    600: var(--md-ref-palette-tertiary60),
    700: var(--md-ref-palette-tertiary70),
    800: var(--md-ref-palette-tertiary80),
    900: var(--md-ref-palette-tertiary90),
    contrast: (
      800: var(--md-ref-palette-tertiary20),
    ),
  );

  $md-warn-palette: (
    50: var(--md-ref-palette-error0),
    100: var(--md-ref-palette-error10),
    200: var(--md-ref-palette-error20),
    300: var(--md-ref-palette-error30),
    400: var(--md-ref-palette-error40),
    500: var(--md-ref-palette-error50),
    600: var(--md-ref-palette-error60),
    700: var(--md-ref-palette-error70),
    800: var(--md-ref-palette-error80),
    900: var(--md-ref-palette-error90),
    contrast: (
      800: var(--md-ref-palette-error20),
    ),
  );

  $primary: mat.define-palette($md-primary-palette, 400);
  $accent: mat.define-palette($md-accent-palette, 400);
  $warn: mat.define-palette($md-warn-palette, 400);
  @include mat.core();

  $light-theme: mat.define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      typography: $app-typography,
    )
  );

  $primary: mat.define-palette($md-primary-palette, 800);
  $accent: mat.define-palette($md-accent-palette, 800);
  $warn: mat.define-palette($md-warn-palette, 800);
  $dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      typography: $app-typography,
    )
  );

  @if $mode == dark {
    @include mat.all-component-themes($dark-theme);
  } @else if $mode == light {
    @include mat.all-component-themes($light-theme);
  } @else {
    @media (prefers-color-scheme: dark) {
      @include mat.all-component-themes($dark-theme);
    }

    @media (prefers-color-scheme: light) {
      @include mat.all-component-themes($light-theme);
    }
  }

  mat-toolbar {
    background-color: transparent !important;
    color: var(--md-sys-color-on-background) !important;
  
    min-height: 72px;
    &-row {
      min-height: 72px;
    }
  }
  
  [mat-flat-button][color="primary"]:not([disabled]),
  [mat-raised-button][color="primary"]:not([disabled]) {
    color: var(--md-sys-color-on-primary) !important;
  }
  
  [mat-flat-button][color="accent"]:not([disabled]),
  [mat-raised-button][color="accent"]:not([disabled]) {
    color: var(--md-sys-color-on-tertiary) !important;
  }
  
  [mat-button],
  [mat-raised-button],
  [mat-stroked-button],
  [mat-flat-button] {
    border-radius: 8px !important;
  }
  
  mat-button-toggle-group {
    border-radius: 8px !important;
    font-family: inherit !important;
    font-size: 14px;

    .mat-button-toggle-checked {
      background-color: mat.get-color-from-palette($primary) !important;
      color: mat.get-color-from-palette($primary, default-contrast) !important;
    }

    &[color="accent"] .mat-button-toggle-checked {
      background-color: mat.get-color-from-palette($accent) !important;
      color: mat.get-color-from-palette($accent, default-contrast) !important;
    }
  
    mat-button-toggle {
      font-family: inherit !important;
      flex: 1;
    }
  }

  i[matlistitemicon] {
    margin-top: 0 !important;
    align-self: center !important;
  }
  
  mat-card {
    box-shadow: none !important;
    border-radius: 12px !important;
  }
  
  [matListItemIcon] {
    line-height: 24px;
    text-align: center;
  }
  
  mat-bottom-sheet-container {
    background-color: var(--md-sys-color-background) !important;
  }

  mat-divider[vertical] {
    height: 100%;
  }
  
  .cdk-visually-hidden {
    display: none !important;
  }
}

@mixin loadTheme() {
  &.dark-mode {
    @include setTheme(dark);
  }
  &.light-mode {
    @include setTheme(light);
  }
  &:not(.dark-mode):not(.light-mode) {
    @include setTheme();
  }
}
