<div fxLayout="column" fxLayout.gt-sm="row" pb max-center>
  <button mat-mini-fab id="back-button" goBack class="tertiary-button">
    <i class="fa-regular fa-chevron-right"></i>
  </button>
  <div class="image-container">
    <app-image-carousel [images]="imageFiles" />
  </div>
  <main fxLayout="column" p-md fxLayoutGap="16">
    <h1>{{ product.title }}</h1>
    @if (!product.variants.length) {
      <span fxLayout="row" class="price-section" fxLayoutAlign="start center" fxLayoutGap="8px">
        <span class="price">{{ Product.totalPrice(product) | menuCurrency }}</span>
        @if (Product.hasDiscount(product)) {
          &nbsp;<span class="line-price error-text">
            {{ Product.realPrice(product) | menuCurrency }}
          </span>
        }
      </span>
    }
    @if (product.description) {
      <div>
        @if (!product.variants.length) {
          <b>{{ 'app.description' | translate }}:</b>
        }
        <p class="description outline-text">{{ product.description }}</p>
      </div>
    }
    @if (product.variants.length) {
      <mat-list #variantsList>
        @for (variant of product.variants; track variant.id; let last = $last) {
          <mat-list-item style="padding: 0">
            <span matListItemTitle>{{ variant.title }}</span>
            <span matListItemLine>
              @if (Product.hasDiscount(product, variant)) {
                <span class="line-price error-text">
                  {{ Product.realPrice(product, variant) | menuCurrency }} </span
                >&nbsp;
              }
              <span class="price">{{ Product.totalPrice(product, variant) | menuCurrency }}</span>
            </span>
            <div matListItemMeta style="margin: 0">
              <app-quantity-selector [product]="product" [variant]="variant" />
            </div>
          </mat-list-item>

          @if (!last) {
            <mat-divider />
          }
        }
      </mat-list>
    }
  </main>
</div>
<mat-toolbar
  @flyInOutFromDown
  fxLayout="row"
  fxLayoutAlign="space-between center"
  id="actionbar"
  fxLayoutGap="24px"
>
  @if (hasInCart()) {
    <button mat-flat-button fxFlex max-center class="large" routerLink="/cart">
      {{ 'cart.complete' | translate }}
    </button>
    @if (!product.variants?.length) {
      <app-quantity-selector [product]="product" />
    }
  } @else {
    <button mat-flat-button fxFlex max-center class="large tertiary-button" (click)="submit()">
      <i class="fa-regular fa-circle-plus"></i>
      &nbsp;
      {{ 'menu.add' | translate }}
    </button>
  }
</mat-toolbar>
