<div fxLayout="column">
  <button mat-mini-fab id="back-button" goBack>
    <i class="fa-regular fa-chevron-right"></i>
  </button>
  <div class="image-container" [imageLoader]="product.images?.[0]"></div>
  <main fxLayout="column" p-md fxLayoutGap="16">
    <h1>{{ product.title }}</h1>
    <span fxLayout="row" class="price-section" fxLayoutAlign="start center">
      @if (!product.variants.length) {
      <span class="price">{{ Product.totalPrice(product) | menuCurrency }}</span>
      @if (Product.hasDiscount(product)) { &nbsp;<span class="line-price error-text">{{
        Product.realPrice(product) | menuCurrency
      }}</span>
      } }
    </span>
    @if (product.description) {
    <div>
      <b>{{ 'app.description' | translate }}:</b>
      <p class="description outline-text">{{ product.description }}</p>
    </div>
    } @if (product.variants.length) {
    <mat-list>
      @for (variant of product.variants; track $index; let last = $last) {
        <mat-list-item>
          <span matListItemTitle>{{ variant.title }}</span>
          <span matListItemLine>
            @if (Product.hasDiscount(product, variant)) {
            <span class="line-price error-text">
              {{ Product.realPrice(product, variant) | menuCurrency }}&nbsp;
            </span>
            }
            <span class="price">{{ Product.totalPrice(product, variant) | menuCurrency }}</span>
          </span>
        </mat-list-item>
        
        @if (!last) {
          <mat-divider />
        }
      }
    </mat-list>
    }
  </main>
</div>
<mat-toolbar fxLayout="column" fxLayoutAlign="center" id="actionbar">
  <button mat-flat-button class="large inverse-surface-button">ok</button>
</mat-toolbar>
