<app-top-app-bar title="{{ 'cart.title' | translate }}" [sticky]="true" [hideMenu]="true" />

<main p-md fxLayout="column" fxLayoutGap="24" max-center pb>
  <app-product-items />

  <mat-form-field appearance="outline">
    <mat-label>{{ 'app.description' | translate }}</mat-label>
    <textarea
      [formControl]="noteControl"
      matInput
      rows="3"
      form
      placeholder="{{ 'cart.notePlaceholder' | translate }}"
    ></textarea>
  </mat-form-field>
</main>

<mat-toolbar fxLayout="row" fxLayoutAlign="center" id="actionbar" class="background-background" p-md>
  <a mat-flat-button fxFlex max-center (click)="submit()" class="large">{{ 'cart.complete' | translate }}</a>
</mat-toolbar>
