<header fxLayout="row" fxLayoutGap="12" fxLayoutAlign="start center" p-md routerLink="/info">
  <img [imageLoader]="shop.logo" [imageFile]="shop.logoImage" id="logo" fxFlex="none" />
  <div fxLayout="column">
    <h1>{{ shop.title }}</h1>
    @if (shop.description) {
      <p class="outline-text">{{ shop.description }}</p>
    }
  </div>
</header>

@if (shopService.isOrderingTemporaryDisabled) {
  <div p-md style="padding-top: 0">
    <app-alert-banner
      type="error"
      title="{{ 'shop.disabledOrderingBanner.title' | translate }}"
      description="{{
        shopService.shop.appConfig?.disableOrderingText ||
          ('shop.disabledOrderingBanner.description' | translate)
      }}"
    />
  </div>
} @else if (shopService.isCloseTime) {
  <div p-md style="padding-top: 0">
    <app-alert-banner
      type="error"
      title="{{ 'shop.closeTimeBanner.title' | translate }}"
      description="{{ 'shop.closeTimeBanner.description' | translate }}"
    />
  </div>
} @else if (shopService.isOrderingDisabledOnType(menu.type())) {
  <div p-md style="padding-top: 0">
    <app-alert-banner
      type="error"
      title="{{ 'shop.disabledOrderingOnTypeBanner.title' | translate }}"
      description="{{
        'shop.disabledOrderingOnTypeBanner.description' | translate: { value: (menu.type() | orderType) }
      }}"
    />
  </div>
}

<mat-toolbar fxLayout="row" fxLayoutGap="8px" class="background-background">
  @if (shopService.hasMultipleOrderType) {
    <button mat-stroked-button (click)="orderTypeClick()">
      {{ menu.type() | orderType }}
      <i class="fa-regular fa-angle-down fa-lg"></i>
    </button>
  }
  <button
    mat-flat-button
    fxFlex
    class="surface-variant-background on-surface-variant-text"
    id="search-button"
    (click)="searchClick.emit()"
  >
    <i class="fa-regular fa-search"></i>
    {{ 'app.search' | translate }}
  </button>
</mat-toolbar>
