<header fxLayout="row" fxLayoutGap="12" fxLayoutAlign="start center" p-md routerLink="/info">
  <img [imageLoader]="shop.logo" [imageFile]="shop.logoImage" id="logo" fxFlex="none" />
  <div fxLayout="column">
    <h1>{{ shop.title }}</h1>
    @if (shop.description) {
      <p class="outline-text">{{ shop.description }}</p>
    }
  </div>
</header>

<mat-toolbar fxLayout="row" fxLayoutGap="8px" class="background-background">
  @if (shopService.hasMultipleOrderType) {
    <button mat-stroked-button (click)="orderTypeClick()">
      {{ menu.type() | orderType }}
      <i class="fa-regular fa-angle-down fa-lg"></i>
    </button>
  }
  <button
    mat-flat-button
    fxFlex
    class="surface-variant-background on-surface-variant-text"
    id="search-button"
    (click)="searchClick.emit()"
  >
    <i class="fa-regular fa-search"></i>
    {{ 'app.search' | translate }}
  </button>
</mat-toolbar>
