header {
  #logo {
    width: 56px;
    height: 56px;
    border-radius: 16px;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}

#search-button {
  justify-content: start !important;

  i {
    line-height: 24px !important;
  }
}

mat-toolbar {
  margin-bottom: 8px;
}