header {
  #logo {
    width: 56px;
    height: 56px;
    border-radius: 16px;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
  }
}

#search-button {
  justify-content: start !important;
  padding: 0 12px;

  i {
    line-height: 24px !important;
    transform: translateY(2px);
  }
}

mat-toolbar {
  margin-bottom: 12px;
  height: fit-content;
}