.container {
    display: flex;
    align-items: center;
    padding: 24px;
    
    form {
        max-width: 90vw;
        width: 460px;

        .mat-card-content {
            display: flex;
            flex-direction: column;
        }
    }
}