<button mat-icon-button [matMenuTriggerFor]="menu">
  <i class="fa-regular fa-bars"></i>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="auth.isGuestUser">
    <i class="fa-solid mat-icon fa-user"></i>
    {{ 'mainMenu.login' | translate }}
  </button>
  <button mat-menu-item routerLink="/profile">
    <i class="fa-solid mat-icon fa-user"></i>
    {{ 'mainMenu.loginInfo' | translate }}
  </button>
  <button mat-menu-item routerLink="/orders">
    <i class="fa-solid mat-icon fa-utensils"></i>
    {{ 'mainMenu.orders' | translate }}
  </button>
</mat-menu>