<div fxLayout="column" fxLayoutGap="16" p-md>
  <h3>{{ 'orderType.title' | translate }}</h3>
  <mat-divider />
  <mat-selection-list [(ngModel)]="type" [multiple]="false" fxLayout="column" fxLayoutGap="16">
    @for (t of shopService.selectableOrderTypes; track $index) {
      <mat-list-option [class.active]="type[0] === t" [value]="t">
        {{ t | orderType }}
      </mat-list-option>
    }
  </mat-selection-list>
  <button mat-flat-button class="large" (click)="save()">
    {{ 'app.ok' | translate }}
  </button>
</div>
