:host {
  display: block;
  padding: 16px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  margin: 0 auto;
  max-width: 400px;

  h1 {
    margin: 0;
    font: var(--mat-sys-headline-small);
  }

  p {
    margin: 0;
    font: var(--mat-sys-body-medium);
    color: var(--mat-sys-on-surface-variant);
  }

  .large {
    height: 48px;
    font: var(--mat-sys-label-large);
  }
}
