<mat-toolbar class="content-toolbar" fxLayoutGap="8px">
  <h1 fxFlex>{{ 'nav.materials' | translate }}</h1>
  <button mat-stroked-button (click)="downloadSampleCsv()">
    <i class="fa-solid fa-download"></i>
    {{ 'materials.downloadSample' | translate }}
  </button>
  <input type="file" accept=".csv" style="display: none" #fileInput (change)="onFileSelected($event)" />
  <button
    mat-stroked-button
    (click)="fileInput.click()"
    [disabled]="materialsService.uploadMaterialsMutation.isPending()"
  >
    <i class="fa-solid fa-upload"></i>
    {{
      materialsService.uploadMaterialsMutation.isPending()
        ? 'app.uploading'
        : ('materials.uploadCsv' | translate)
    }}
  </button>
  <button mat-flat-button color="primary" (click)="openMaterialDialog()">{{ 'app.add' | translate }}</button>
</mat-toolbar>
<main p-md>
  @let queryData = materialsService.materialsQuery.data();
  @if (queryData && queryData.length > 0) {
    <mat-toolbar>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'app.search' | translate }}</mat-label>
        <input matInput [(ngModel)]="searchQuery" type="search" />
      </mat-form-field>
    </mat-toolbar>
    <mat-card appearance="outlined">
      <mat-card-content>
        <table mat-table [dataSource]="materials()">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'app.title' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Stock Column -->
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef>{{ 'materials.stock' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span eng>
                {{ element.stock | number }}
              </span>
              <span>{{ 'materials.units.' + element.unit | translate }}</span>
            </td>
          </ng-container>

          <!-- Average Cost Column -->
          <ng-container matColumnDef="avgItemCount">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'materials.estimatedCount' | translate }}
              <i
                class="fa-solid fa-info-circle"
                matTooltip="{{ 'materials.estimatedCountHint' | translate }}"
              ></i>
            </th>
            <td mat-cell *matCellDef="let element">
              @let estimatedCount = estimateItemCount(element);
              @if (estimatedCount !== null) {
                <span eng>
                  {{ estimatedCount | number }}
                </span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>{{ 'materials.cost' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              @if (element.cost) {
                {{ element.cost | number | menuCurrency }}
              }
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button mat-stroked-button [disabled]="!element.id" (click)="openPurchaseDialog(element)">
                  {{ 'materials.purchase' | translate }}
                </button>
                <button mat-stroked-button [disabled]="!element.id" (click)="openAdjustmentDialog(element)">
                  {{ 'materials.adjustment' | translate }}
                </button>
                <button mat-icon-button [disabled]="!element.id" (click)="openEditDialog(element)">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  [disabled]="!element.id"
                  (click)="deleteMaterial(element)"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  } @else if (isLoading()) {
    <app-data-loading />
  } @else {
    <app-empty-state
      icon="warehouse-full"
      [text]="'materials.empty' | translate"
      [action]="{ label: 'materials.add' | translate, icon: 'plus' }"
      (actionClick)="openMaterialDialog()"
    />
  }
</main>
