@use '../public/fonts/fontawesome/scss/fontawesome.scss';

@use '../public/fonts/iransans/iransans.scss';
@use '../public/fonts/fontawesome/scss/regular.scss';
@use '../public/fonts/fontawesome/scss/brands.scss';
@use '../public/fonts/fontawesome/scss/solid.scss';
@use '../public/fonts/fontawesome/scss/light.scss';
@use '../public/fonts/fontawesome/scss/thin.scss';
@use '@angular/material' as mat;
@use 'theme' as theme;

@mixin successContainer() {
  color: theme.$success-color !important;
  background-color: theme.$success-container !important;
}
@mixin errorContainer() {
  color: var(--mat-sys-error) !important;
  background-color: var(--mat-sys-error-container) !important;
}

html {
  @include mat.theme(
    (
      color: theme.$primary-palette,
      typography: IRANSans,
      density: -1,
    )
  );

  .dark-mode {
    color-scheme: dark;
  }
}

.accent-theme {
  @include mat.theme(
    (
      color: theme.$tertiary-palette,
      typography: IRANSans,
      density: -1,
    )
  );
}

body {
  min-height: 100vh;
  background-color: var(--mat-sys-background);
}
body {
  margin: 0;
  font-family: IRANSans, 'Helvetica Neue', sans-serif;
}

*[p-md] {
  padding: 24px;
}

*[w-xs] {
  max-width: 600px !important;
  margin: auto;
}

*[w-sm] {
  max-width: 960px !important;
  margin: auto;
}

*[w-md] {
  max-width: 1024px !important;
  margin: auto;
}

*[w-lg] {
  max-width: 1280px !important;
  margin: auto;
}

*[center-align] {
  text-align: center;
}

*[ltr] {
  direction: ltr;
}

*[eng] {
  font-family: monospace !important;
}

i.middle {
  vertical-align: middle !important;
}

.content-toolbar {
  position: sticky;
  top: 64px;
  z-index: 99;
  background-color: var(--mat-sys-surface-container) !important;
  color: var(--mat-sys-on-surface-container-highest) !important;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.success-text {
  color: theme.$success-color;
}

.success,
.status_1 {
  @include successContainer();
}

.error,
.status_0,
.status_3 {
  @include errorContainer();
}

//material override
:root {
  @include mat.card-overrides(
    (
      outlined-outline-color: var(--mat-sys-outline-variant),
      outlined-container-color: var(--mat-sys-surface-container-lowest),
    )
  );

  @include mat.table-overrides(
    (
      row-item-outline-color: var(--mat-sys-outline-variant),
      background-color: transparent,
    )
  );

  @include mat.paginator-overrides(
    (
      container-background-color: transparent,
    )
  );
}

.mat-mdc-list-item-meta {
  display: flex !important;
  align-items: center !important;
  min-height: 100%;
}

.mat-toolbar.transparent {
  background-color: transparent !important;
}

.mdc-button {
  i {
    vertical-align: baseline;
  }
}

.mdc-icon-button {
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
  }
}
