/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/iransans/iransans.scss";
@import "_base-theme.scss";
@import "assets/fonts/fontawesome/scss/fontawesome.scss";
@import "assets/fonts/fontawesome/scss/regular.scss";
@import "assets/fonts/fontawesome/scss/brands.scss";
@import "assets/fonts/fontawesome/scss/solid.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IRANSans";
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-size: 14px;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.spacer,
span[spacer] {
  flex: none;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.spacer-2x,
span[spacer-2x] {
  flex: none;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.spacer-sm,
span[spacer-sm] {
  flex: none;
  display: inline-block;
  width: 8px;
  height: 8px;
}

[flex] {
  flex: 1;
}

.secondary {
  display: flex !important;
  align-items: center !important;
  height: 100%;
  gap: 8px;
  background-color: transparent !important;
  background: transparent !important;
}

// material override

html[dir="rtl"] {
  .mat-mdc-button-ripple {
    position: absolute !important;
  }

  i.rtl-dir {
    transform: scaleX(-1);
  }
}

@media (prefers-color-scheme: dark) {
  @import "./config/theme.dark.scss";
}

.submit-button {
  height: 48px !important;
}
