<main fxLayout="column">
  <app-top-app-bar [hideMenu]="true" title="{{ 'map.title' | translate }}" />
  <div id="map" fxFlex>
    <button
      id="search"
      mat-raised-button
      class="surface-variant-background on-surface-variant-text"
      routerLink="../search"
      [queryParams]="center"
    >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        {{ 'app.search' | translate }}
        <i class="fa-regular fa-search fa-large"></i>
      </div>
    </button>
    <i id="marker" class="fa-solid fa-location-dot fa-lg error-text"></i>
    <button mat-mini-fab id="gps" class="tertiary-fab" (click)="gotToGps()">
      @if (gpsLoading()) {
        <i class="fa-regular fa-spinner-third fa-spin"></i>
      } @else {
        <i class="fa-regular fa-location-crosshairs"></i>
      }
    </button>
  </div>
  <mat-toolbar fxLayout="column" fxLayoutAlign="center" p-md>
    <button mat-flat-button class="large" (click)="submit()" [disabled]="loading()">
      {{ 'app.select' | translate }}
    </button>
  </mat-toolbar>
</main>
