
<div class="form-container">
  @for (section of sections; track section; let lastSection = $last) {
    <mat-card>
      @if (section.title || section.description) {
        <mat-card-header>
          @if (section.title) {
            <mat-card-title>{{
              i18n ? (section.title | translate) : section.title
            }}</mat-card-title>
          }
          @if (section.description) {
            <mat-card-subtitle>{{
              i18n ? (section.description | translate) : section.title
            }}</mat-card-subtitle>
          }
        </mat-card-header>
      }
      <mat-card-content>
        @for (field of section.fields; track field; let lastField = $last) {
          <mat-form-field appearance="fill">
            <mat-label>{{ i18n ? (field.label | translate) : field.label }}</mat-label>
            @if (['textarea', 'select', 'multiple', 'datepicker'].indexOf(field.type!) === -1) {
              <input
                matInput
                [formControl]="field.control"
                [placeholder]="i18n ? (field.placeholder! | translate) : field.placeholder!"
                type="{{ field.type || 'text' }}"
                [class.ltr]="field.ltr"
                />
            }
            @if (field.type === 'datepicker') {
              <input
                matInput
                [formControl]="field.control"
                [placeholder]="i18n ? (field.placeholder! | translate) : field.placeholder!"
                [matDatepicker]="picker"
                />
            }
            @if (field.type === 'datepicker') {
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
            }
            <mat-datepicker [hidden]="field.type !== 'datepicker'" #picker></mat-datepicker>
            @if (field.type === 'textarea') {
              <textarea
                matInput
                [formControl]="field.control"
                [placeholder]="i18n ? (field.placeholder! | translate) : field.placeholder!"
                [rows]="field.rows || 3"
              ></textarea>
            }
            @if (field.type === 'select' || field.type === 'multiple') {
              <mat-select
                [formControl]="field.control"
                [multiple]="field.type === 'multiple'"
                >
                @if (field.options) {
                  @for (option of field.options; track option) {
                    <mat-option [value]="option.value">
                      {{ option.text }}
                    </mat-option>
                  }
                }
                @if (field.groups) {
                  @for (group of field.groups; track group) {
                    <mat-optgroup [label]="group.text">
                      @for (option of group.options; track option) {
                        <mat-option [value]="option.value">
                          {{ option.text }}
                        </mat-option>
                      }
                    </mat-optgroup>
                  }
                }
              </mat-select>
            }
            @if (field.hint) {
              <mat-hint>
                {{ i18n ? (field.hint | translate) : field.hint }}
              </mat-hint>
            }
          </mat-form-field>
          @if (!lastField) {
            <span spacer></span>
          }
        }
      </mat-card-content>
    </mat-card>
    @if (!lastSection) {
      <span spacer-2x></span>
    }
  }
</div>
