$md-primary-palette: (
    50: $--md-ref-palette-primary0,
    100: $--md-ref-palette-primary10,
    200: $--md-ref-palette-primary20,
    300: $--md-ref-palette-primary30,
    400: $--md-ref-palette-primary40,
    500: $--md-ref-palette-primary50,
    600: $--md-ref-palette-primary60,
    700: $--md-ref-palette-primary70,
    800: $--md-ref-palette-primary80,
    900: $--md-ref-palette-primary90,
    contrast: (
        800: $--md-ref-palette-primary20,
    ),
);

$md-accent-palette: (
    50: $--md-ref-palette-tertiary0,
    100: $--md-ref-palette-tertiary10,
    200: $--md-ref-palette-tertiary20,
    300: $--md-ref-palette-tertiary30,
    400: $--md-ref-palette-tertiary40,
    500: $--md-ref-palette-tertiary50,
    600: $--md-ref-palette-tertiary60,
    700: $--md-ref-palette-tertiary70,
    800: $--md-ref-palette-tertiary80,
    900: $--md-ref-palette-tertiary90,
    contrast: (
        800: $--md-ref-palette-tertiary20,
    ),
);

$md-warn-palette: (
    50: $--md-ref-palette-error0,
    100: $--md-ref-palette-error10,
    200: $--md-ref-palette-error20,
    300: $--md-ref-palette-error30,
    400: $--md-ref-palette-error40,
    500: $--md-ref-palette-error50,
    600: $--md-ref-palette-error60,
    700: $--md-ref-palette-error70,
    800: $--md-ref-palette-error80,
    900: $--md-ref-palette-error90,
    contrast: (
        800: $--md-ref-palette-error20,
    ),
);