@import 'theme';

.mat-dialog-content {
    display: flex;
    padding: 0;
    margin: -24px;
    min-width: 250px;

    side {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 180px;
        padding: 16px;
        background: $background;

        .avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }

        h4,
        p {
            margin: 0;
        }

        .mat-nav-list {
            width: -webkit-fill-available;
            width: -moz-fill-available;
            width: -moz-available;
            margin: 0 -16px;
        }
    }

    main {
        overflow-y: auto;
    }
}

.mat-spinner {
    margin: 24px auto;
    display: block;
}