@import "theme.scss";

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2001;
  height: 64px;
}

#logo {
  height: 64px;
}

#user-button {
  border: 1px solid $border-color;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}