@use "@angular/material" as mat;

$app-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$app-accent: mat.m2-define-palette(mat.$m2-amber-palette, 600);
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$primary: mat.m2-get-color-from-palette($app-primary);
$accent: mat.m2-get-color-from-palette($app-accent);
$warn: mat.m2-get-color-from-palette($app-warn);

$app-form-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$app-form-accent: mat.m2-define-palette(mat.$m2-green-palette, A700);
$app-form-warn: mat.m2-define-palette(mat.$m2-red-palette);

$form-primary: mat.m2-get-color-from-palette($app-form-primary);
$form-accent: mat.m2-get-color-from-palette($app-form-accent);
$form-warn: mat.m2-get-color-from-palette($app-form-warn);

$gray: #757575;
$gray-l1: #bdbdbd;
$gray-l2: #e0e0e0;
$background: #f5f5f5;
$border-color: rgba(0, 0, 0, 0.12);
$dark-background: #1c212d;

$green: #00c853;
$yellow: #fdd835;
$red: #f44336;
$blue-gray: #90a4ae;
$blue: #2196f3;

$border: 1px solid $border-color;
