mat-toolbar {
  display: flex;
  gap: 8px;
  background-color: var(--mat-sys-background);

  img {
    height: 32px;
    border-radius: 8px;
  }

  h1 {
    font: var(--mat-sys-title-medium);
  }

  .spacer {
    flex: 1;
  }
}
