mat-toolbar {
  display: flex;
  gap: 8px;
  background-color: var(--mat-sys-background);

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  img {
    height: 32px;
    border-radius: 8px;
  }

  h1 {
    font: var(--mat-sys-title-medium);
  }

  .spacer {
    flex: 1;
  }
}
