<mat-toolbar [class.sticky]="sticky()">
  @if (!isRootPage()) {
    <button mat-icon-button appGoBack>
      <ng-icon [svg]="backIcon"></ng-icon>
    </button>
  } @else {
    @if (shopLogoUrl(); as logo) {
      <img [appImageLoader]="logo" [alt]="shopTitle()" />
    }
  }
  <h1>
    {{ displayTitle() }}
  </h1>

  <span class="spacer"></span>
  @if (hideMetaAction()) {
    <ng-content></ng-content>
  }
  @if (!hideMetaAction()) {
    <button
      mat-button
      class="cart-action-button"
      [class.cart-action-button-raised]="cart.length() > 0"
      [class.cart-action-button-expanded]="cart.length() > 0"
      routerLink="/cart"
      [matBadge]="cart.length()"
      matBadgeColor="warn"
      [matBadgeOverlap]="true"
      [matBadgeHidden]="cart.length() === 0"
    >
      <ng-icon [svg]="cartIcon" size="22"></ng-icon>
      @if (cart.length() > 0) {
        <span class="checkout-label" animate.enter="checkout-label-enter" animate.leave="checkout-label-leave">
          تکمیل خرید
        </span>
      }
    </button>
  }
</mat-toolbar>
