<mat-toolbar class="main-toolbar mat-elevation-z3 form-theme">
  <button mat-icon-button class="fa-regular fa-close" goBack></button>
  <h1 class="hide-xs" *ngIf="!queryParamId">{{ 'pos.newTitle' | translate }}</h1>
  <h1 class="hide-xs" *ngIf="queryParamId && POS.editOrder">
    {{ 'pos.editTitle' | translate: { value: POS.editOrder.qNumber } }}
  </h1>
  <span flex></span>
  <button mat-button [disabled]="POS.saving" (click)="POS.clear()" color="warn" [matomoClick]="['order', 'pos', 'clear click']">
    {{ 'app.clear' | translate }}
  </button>
  <button mat-flat-button [disabled]="POS.saving || !POS.items.length" (click)="save(true)" color="accent" [matomoClick]="['order', 'pos', 'save and print click']">
    {{ 'pos.saveAndPrint' | translate }}
  </button>
  <button mat-flat-button [disabled]="POS.saving || !POS.items.length" (click)="save()" color="accent" [matomoClick]="['order', 'pos', 'save click']">
    {{ 'app.save' | translate }}
  </button>
</mat-toolbar>
<main>
  <div flex>
    <menu></menu>
  </div>
  <mat-divider vertical></mat-divider>
  <section>
    <basket></basket>
  </section>
  <mat-divider vertical></mat-divider>
  <section>
    <left-section></left-section>
  </section>
</main>
