<div id="cover" max-center>
  <img src="https://pic.uhomes.com/onlineblog/cdn/uploads/2023/12/seo-manchester-restaurant-header.jpg" />
</div>
<main fxLayout="column" p-md max-center>
  <button mat-mini-fab id="back-button" goBack class="tertiary-button">
    <i class="fa-regular fa-chevron-right"></i>
  </button>
  <header fxLayout="column">
    <img [imageLoader]="shop.logo" [imageFile]="shop.logoImage" id="logo" />
    <h1>{{ shop.title }}</h1>
    @if (shop.description) {
      <p f-md class="outline-text">{{ shop.description }}</p>
    }
  </header>
  <mat-toolbar fxLayout="row">
    @if (shop.instagram) {
      <a
        fxFlex
        mat-stroked-button
        class="tertiary-button"
        href="https://www.instagram.com/{{ shop.instagram }}"
      >
        <i class="fab fa-instagram fa-lg"></i>
        &nbsp;
        {{ 'info.instagram' | translate }}
      </a>
    }
    @if (shop.latitude && shop.longitude) {
      <a
        fxFlex
        mat-stroked-button
        class="tertiary-button"
        [href]="
          'geo:' +
          shop.latitude +
          ',' +
          shop.longitude +
          '?q=' +
          shop.latitude +
          ',' +
          shop.longitude +
          '(' +
          shop.title +
          ')'
        "
      >
        <i class="fab fa-instagram"></i>
        {{ 'info.instagram' | translate }}
      </a>
    }
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'info.about' | translate: { value: shop.title } }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list class="about-list">
        <mat-list-item>
          <span matListItemLine>
            <i class="fa-solid fa-clock"></i>
            &nbsp;
            {{ 'app.fromTo' | translate: { from: 10, to: 14 } }}
          </span>
        </mat-list-item>
        <mat-list-item [matTooltip]="shop.address">
          <span matListItemLine>
            <i class="fa-solid fa-location-dot"></i>
            &nbsp;
            {{ shop.address }}
          </span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemLine>
            <i class="fa-solid fa-phone"></i>
            &nbsp;
            @for (phone of shop.phones; track phone; let last = $last) {
              <a href="tel:{{ phone }}">{{ phone }}</a>
              @if (!last) {
                &nbsp;-&nbsp;
              }
            }
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</main>
