<h3>{{ 'menu.selectDeliveryAddress' | translate }}</h3>
<mat-nav-list>
  <a mat-list-item (click)="sheetRef.dismiss(null)">
    <i matListItemIcon class="fa-regular fa-plus-circle"></i>
    <span matListItemTitle>
      {{ 'app.add' | translate }}
    </span>
    <mat-divider></mat-divider>
  </a>
  @for (location of locations | async; track location; let last = $last) {
    <a mat-list-item (click)="sheetRef.dismiss(location)">
      <i matListItemIcon class="fa-regular fa-location-dot"></i>
      <span matListItemLine>
        {{ location.description }}
      </span>
      @if (location.deliveryArea) {
        <span matListItemMeta class="tertiary-text">
          {{ location.deliveryArea.price | menuCurrency }}
        </span>
      }
    </a>
    <mat-divider></mat-divider>
  }
</mat-nav-list>
@if (loading) {
  <mat-spinner [diameter]="36" mode="indeterminate"></mat-spinner>
}
