<app-top-app-bar [hideMenu]="true" [sticky]="true">
  <div fxLayout="row" fxLayoutAlign="end">
    <a mat-flat-button color="tertiary-button" routerLink="../map">
      {{ 'addressList.new' | translate }}
    </a>
  </div>
</app-top-app-bar>
<main p-md>
  <mat-nav-list>
    @for (address of addresses(); track address.id; let isLast = $last) {
      <a mat-list-item (click)="select(address)">
        @if (address.title) {
          <span matListItemTitle>{{ address.title }}</span>
        }
        <span matListItemLine f-sm>{{ address.description }}</span>
        @if (address.deliveryArea) {
          <span matListItemLine f-sm
            >{{ 'cart.deliveryPrice' | translate }}:
            {{ address.deliveryArea.price | menuCurrency }}
          </span>
        } @else {
          <span matListItemLine f-sm class="error-text">
            {{ 'cart.addressOutOfRange' | translate }}
          </span>
        }
      </a>
      @if (!isLast) {
        <mat-divider />
      }
    }
  </mat-nav-list>
</main>
<!-- <mat-selection-list [multiple]="false" fxLayout="column" fxLayoutGap="16">
    @for (address of addresses(); track address.id) {
      <mat-list-option [class.active]="true">
        @if (address.title) {
          <span matListItemTitle>{{ address.title }}</span>
        }
        <span matListItemLine f-sm>{{ address.description }}</span>
      </mat-list-option>
    }
  </mat-selection-list> -->
