@if (form) {
  <form [formGroup]="form">
    <mat-toolbar class="content-toolbar" fxLayout="row" fxLayoutGap="8px">
      <button mat-icon-button goBack>
        <i class="fa-regular fa-arrow-right"></i>
      </button>
      <h2 fxFlex>
        @if (product()) {
          {{ 'productEdit.editTitle' | translate: { value: this.product()?.title } }}
        } @else {
          {{ 'productEdit.newTitle' | translate }}
        }
      </h2>
      <button mat-button>
        {{ 'app.cancel' | translate }}
      </button>
      <button mat-flat-button [disabled]="!form.dirty" (click)="submit()">
        {{ 'app.save' | translate }}
      </button>
    </mat-toolbar>
    <main p-md w-md fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px">
      <div fxFlex.gt-sm="400px" fxLayout="column" fxLayoutGap="24px">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>
              {{ 'productEdit.baseSection' | translate }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <mat-label>{{ 'app.title' | translate }}</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'menu.category' | translate }}</mat-label>
              <mat-select formControlName="category">
                @for (category of menuService.categories(); track category.id) {
                  <mat-option [value]="category">{{ category.title }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'app.description' | translate }}</mat-label>
              <textarea matInput rows="3" formControlName="description"></textarea>
            </mat-form-field>
            @if (!variantsForm.controls.length) {
              <mat-form-field>
                <mat-label>{{ 'app.price' | translate }}</mat-label>
                <input matInput formControlName="price" type="number" />
                <mat-hint>{{ form.value.price | number | menuCurrency }} </mat-hint>
              </mat-form-field>
            }
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>
              {{ 'productEdit.variantSection' | translate: { value: form.value.title || '' } }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column">
            @if (!variantsForm.controls.length) {
              <app-empty-state text="{{ 'productEdit.variantEmpty' | translate }}" />
            }
            <mat-list cdkDropList (cdkDropListDropped)="moveVariants($event)">
              @for (variant of variantsForm.controls; track $index) {
                <mat-list-item cdkDrag>
                  <i matListItemIcon class="fa-solid fa-grip-dots-vertical middle" cdkDragHandle></i>
                  <span matListItemTitle>{{ variant.value.title }}</span>
                  <span matListItemLine>{{ variant.value.price | number }}</span>
                  <div matListItemMeta>
                    <button mat-icon-button (click)="editVariant(variant)">
                      <i class="fa-regular fa-edit"></i>
                    </button>
                    <button mat-icon-button (click)="deleteVariant($index)">
                      <i class="fa-regular fa-trash-alt"></i>
                    </button>
                  </div>
                </mat-list-item>
              }
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="editVariant()">
              <i class="fa-regular fa-circle-plus"></i>
              {{ 'app.add' | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex.gt-sm>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ 'productEdit.photoSection' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list
              cols="2"
              rowHeight="1:1"
              cdkDropList
              cdkDropListOrientation="mixed"
              (cdkDropListDropped)="moveImage($event)"
            >
              @for (imageControl of imagesForm.controls; track imageControl.value) {
                <mat-grid-tile cdkDrag>
                  <div class="product-image">
                    <button mat-mini-fab class="delete-button" (click)="deleteImage($index)">
                      <i class="fa-regular fa-trash-alt"></i>
                    </button>
                    @if (!$first) {
                      <button
                        mat-mini-fab
                        class="main-image-button"
                        matTooltip="{{ 'productEdit.mainImage' | translate }}"
                        (click)="setMainImage($index)"
                      >
                        <i class="fa-regular fa-check-circle"></i>
                      </button>
                    }
                    @if (imageControl.value?.base64) {
                      <img [src]="imageControl.value.base64" />
                    } @else {
                      <img imageLoader [imageFile]="imageControl.value" imageSize="sm" />
                    }
                  </div>
                  @if ($first && imagesForm.controls.length > 1) {
                    <mat-grid-tile-footer>{{ 'productEdit.mainImage' | translate }}</mat-grid-tile-footer>
                  }
                </mat-grid-tile>
              }
              @if (imagesForm.controls.length === 0) {
                <mat-grid-tile colspan="2">
                  <app-empty-state />
                </mat-grid-tile>
              }
            </mat-grid-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addImage()">
              <i class="fa-regular fa-circle-plus"></i>
              {{ 'app.add' | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </main>
  </form>
} @else {
  <app-data-loading />
}
