<mat-toolbar class="content-toolbar" fxLayoutGap="8px">
  <h1 fxFlex>{{ 'nav.categories' | translate: { value: shop.businessCategoryMenuTitle() } }}</h1>
  @if ((menuService.categories() || []).length > 0) {
    <button mat-button (click)="openSortCategoriesDialog()">
      <i class="fa-regular fa-sort"></i>
      <span fxHide.xs>
        {{ 'menu.sortCategories' | translate }}
      </span>
    </button>
    <button mat-flat-button (click)="editCategory()">
      <i class="fa-regular fa-plus"></i>
      <span fxHide.xs>
        {{ 'menu.addCategory' | translate }}
      </span>
    </button>
  }
</mat-toolbar>
<main p-md>
  <mat-card appearance="outlined">
    <mat-card-content>
      @if ((menuService.categories() || []).length > 0) {
        <table mat-table [dataSource]="menuService.categories() || []">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>{{ 'app.index' | translate }}</th>
            <td mat-cell *matCellDef="let category; let i = index" style="width: 72px">
              <span eng>
                {{ i + 1 }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>{{ 'app.title' | translate }}</th>
            <td mat-cell *matCellDef="let category">
              {{ category.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="costs">
            <th mat-header-cell *matHeaderCellDef>{{ 'menu.costs' | translate }}</th>
            <td mat-cell *matCellDef="let category">
              <mat-chip-set>
                @for (cost of category.costs; track cost.id) {
                  @if (cost.status) {
                    <mat-chip (click)="editCost(cost)">
                      {{ cost.title }}:
                      @if (cost.percentageCost) {
                        {{ cost.percentageCost }}%
                      }
                      @if (cost.fixedCost) {
                        {{ cost.fixedCost | number | menuCurrency }}
                      }
                    </mat-chip>
                  }
                }
              </mat-chip-set>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ 'app.status' | translate }}</th>
            <td mat-cell *matCellDef="let category">
              <mat-chip-set>
                <app-menu-status-chip
                  [status]="category.status"
                  (statusChange)="changeStatus(category, $event)"
                />
              </mat-chip-set>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let category" style="width: 128px">
              <button mat-icon-button (click)="editCategory(category)">
                <i class="fa-regular fa-edit fa-xs"></i>
              </button>
              <button mat-icon-button (click)="deleteCategory(category)">
                <i class="fa-regular fa-trash-alt fa-xs"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      } @else {
        <app-empty-state
          icon="folder-open"
          [text]="'menu.noCategories' | translate"
          [action]="{
            label: 'menu.addCategory' | translate,
            icon: 'plus',
          }"
          (actionClick)="editCategory()"
        />
      }
    </mat-card-content>
  </mat-card>
</main>
