<form [formGroup]="form">
  <mat-toolbar class="page-toolbar">
    <button mat-icon-button goBack>
      <i class="fa-regular fa-arrow-right fa-large"></i>
    </button>
    <h1 flex>{{ 'settings.shop' | translate }}</h1>
    <button mat-flat-button color="primary" (click)="save()" [disabled]="saving || !form.dirty">
      {{ 'app.save' | translate }}
    </button>
  </mat-toolbar>
  <main class="form-page-layout content-wrapper">
    <div class="flex-col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'shopPage.baseSection' | translate }}</mat-card-title>
        </mat-card-header>
        <div spacer></div>
        <mat-card-content>
          <mat-form-field>
            <mat-label>{{ 'shopPage.title' | translate }}</mat-label>
            <input matInput formControlName="title" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label> {{ 'shopPage.businessCategory' | translate }} </mat-label>
            <mat-select matInput formControlName="businessCategory">
              @for (cat of categories; track cat) {
                <mat-option [value]="cat">
                  {{ cat | businessCategory }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'shopPage.description' | translate }}</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'shopPage.addressSection' | translate }}</mat-card-title>
        </mat-card-header>
        <div spacer></div>
        <mat-card-content>
          <mat-form-field>
            <mat-label> {{ 'shopPage.regionState' | translate }} </mat-label>
            <mat-select
              [disabled]="!regionService.regions().length"
              matInput
              (selectionChange)="regionState.set($event.value)"
              [value]="regionState()"
              >
              @for (state of regionService.states(); track state) {
                <mat-option [value]="state.title">
                  {{ state.title }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label> {{ 'shopPage.region' | translate }} </mat-label>
            <mat-select [disabled]="!regions().length" matInput formControlName="region">
              @for (region of regions() || []; track region) {
                <mat-option [value]="region">
                  {{ region.title }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'shopPage.address' | translate }}</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>

          <mat-toolbar>
            @if (mapEdit) {
              <span flex>
                {{ 'shopPage.locationDraft' | translate }}
              </span>
            }
            @if (!mapEdit) {
              <span flex>
                {{ 'shopPage.location' | translate }}
              </span>
              <button mat-stroked-button (click)="mapEdit = true">{{ 'app.edit' | translate }}</button>
            }
          </mat-toolbar>
          <div
            class="map-container"
            leaflet
            [leafletOptions]="mapOptions"
            (leafletClick)="mapClick($event)"
            (leafletMapReady)="mapReady($event)"
            >
            @if (marker) {
              <div [leafletLayer]="marker"></div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="static-col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'shopPage.logo' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (!imageCropperResult) {
            <img class="logo" [imageLoader]="form.controls['logo'].value" />
          }
          @if (imageCropperResult) {
            <img class="logo" [src]="imageCropperResult.base64" />
          }
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" type="button" (click)="upload()">
            <i class="fa-regular fa-upload"></i>
            {{ 'app.upload' | translate }}
          </button>
          @if (imageCropperResult) {
            <button
              mat-button
              type="button"
              (click)="imageCropperResult = undefined"
              >
              <i class="fa-regular fa-undo"></i>
              {{ 'app.undo' | translate }}
            </button>
          }
          <div flex></div>
          <button mat-icon-button color="warn" type="button" (click)="removePhoto()">
            <i class="fa-regular fa-trash-alt"></i>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'shopPage.connectionSection' | translate }}</mat-card-title>
        </mat-card-header>
        <div spacer></div>
        <mat-card-content>
          <mat-form-field>
            <mat-label>{{ 'shopPage.phonesLabel' | translate }}</mat-label>
            <mat-chip-grid #chipGrid>
              @for (phone of form.controls['phones'].value; track phone) {
                <mat-chip-row
                  (removed)="removePhone(phone)"
                  >
                  {{ phone }}
                  <button matChipRemove>
                    <i class="fa-regular fa-close"></i>
                  </button>
                </mat-chip-row>
              }
              <input
                placeholder="{{ 'shopPage.phonesPlaceholder' | translate }}"
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addPhone($event)"
                />
            </mat-chip-grid>
            <mat-hint>{{ 'shopPage.phonesHint' | translate }}</mat-hint>
          </mat-form-field>
          <div spacer></div>
          <mat-form-field>
            <mat-label>{{ 'shopPage.instagram' | translate }}</mat-label>
            <input matInput formControlName="instagram" />
            <mat-hint>{{ 'shopPage.instagramHint' | translate }}</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'shopPage.moreSection' | translate }}</mat-card-title>
        </mat-card-header>
        <div spacer></div>
        <mat-card-content>
          <mat-nav-list>
            <a mat-list-item (click)="openOpeningHoursDialog()">
              <i matListItemIcon class="fa-regular fa-clock"></i>
              {{ 'shopPage.openingHours' | translate }}
              <i matListItemMeta class="fa-regular fa-angle-left"></i>
            </a>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</form>
