<mat-toolbar>
  <button mat-icon-button goBack>
    <i class="fa-regular fa-arrow-right"></i>
  </button>
</mat-toolbar>

@if (coupons) {
  <main>
    @for (c of coupons; track c) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ c.title }}</mat-card-title>
          <mat-card-subtitle>
            @if (c.fixedDiscount) {
              <span>{{ c.fixedDiscount | menuCurrency }}</span>
            }
            @if (c.percentageDiscount) {
              <span>{{ c.percentageDiscount }}%</span>
            }
            {{ 'discountCouponList.discount' | translate }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>{{ 'discountCouponList.expire' | translate }}: {{ c.expiredAt | pdate: 'YYYY/MM/DD' }}</li>
            @if (c.minPrice) {
              <li>
                {{ 'discountCouponList.minPrice' | translate }}: {{ c.minPrice | menuCurrency }}
              </li>
            }
            @if (c.maxDiscount) {
              <li>
                {{ 'discountCouponList.maxDiscount' | translate }}: {{ c.maxDiscount | menuCurrency }}
              </li>
            }
            @if (c.orderTypes?.length) {
              <li>
                {{ 'discountCouponList.types' | translate }}:
                @for (t of c.orderTypes; track t) {
                  <span> {{ t | orderType }} </span>
                }
              </li>
            }
          </ul>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            [disabled]="basket.discountCoupon?.id === c.id"
            (click)="basket.discountCoupon = c"
            >
            @if (basket.discountCoupon?.id !== c.id) {
              <span>
                {{ 'app.set' | translate }}
              </span>
            }
            @if (basket.discountCoupon?.id === c.id) {
              <span class="success-text">
                <i class="fa-regular fa-check"></i>
                {{ 'discountCouponList.set' | translate }}
              </span>
            }
          </button>
        </mat-card-actions>
      </mat-card>
    }
    @if (coupons.length === 0) {
      <empty-state icon="fa-tag"></empty-state>
    }
  </main>
}
