main {
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 88px;
}

mat-card {
  max-width: 80%;
  width: 100%;
  position: relative;

  &.receive {
    align-self: end;
    background-color: var(--mat-sys-surface-variant);

    mat-card-header {
      direction: ltr;
    }
  }
}

mat-card-title {
  font-size: 14px !important;
  line-height: 24px !important;
}

mat-card-subtitle {
  font-size: 11px !important;
  line-height: 16px !important;
}

mat-card-content {
  font-size: 13px;
  word-break: break-word;
}

#actionbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  min-height: 64px;

  textarea {
    outline: none;
    border: none;
    border-radius: 16px;
    min-height: 20px;
    max-height: 120px;
    resize: none;
    padding: 8px 16px;
    line-height: 16px;
  }
}

mat-spinner {
  margin: 0 auto;
}

.fa-eye {
  position: absolute;
  left: 8px;
  top: 12px;
}
