<mat-toolbar>
  <h1 flex>{{ 'shops.pageTitle' | translate }}</h1>
  <button mat-stroked-button color="primary" (click)="shopsService.migrateFromPrev()">
    {{ 'shops.migrate' | translate }}
  </button>
  <span spacer></span>
  <button mat-stroked-button color="primary" (click)="shopsService.create()">
    {{ 'shops.create' | translate }}
  </button>
</mat-toolbar>
<main>
  <mat-card>
    <mat-card-content>
      <table matSort mat-table [dataSource]="dataSource" (matSortChange)="sortChanged($event)">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef style="width: 32px">#</th>
          <td mat-cell *matCellDef="let shop; let i = index">
            <span class="eng">
              {{ dataSource.data.length - i }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="width: 64px">{{ 'app.id' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            <a mat-button class="eng ltr" [copyClipboard]="shop.id">{{ shop.id.substr(0, 6) }}..</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef style="width: 64px" mat-sort-header>
            {{ 'app.code' | translate }}
          </th>
          <td mat-cell *matCellDef="let shop">
            <b class="eng blue">{{ shop.code }}</b>
          </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef style="width: 64px">{{ 'app.logo' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            <img class="shop-logo" [imageLoader]="shop.logo" />
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>{{ 'app.title' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            {{ shop.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="plugins">
          <th mat-header-cell *matHeaderCellDef>{{ 'app.plugins' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            <div class="plugins-wrapper">
              <ng-container *ngFor="let p of shop.plugins?.plugins">
                <i *ngIf="p === Plugin.Menu" class="fa-solid fa-book-open"></i>
                <i *ngIf="p === Plugin.Ordering" class="fa-solid fa-utensils"></i>
                <i *ngIf="p === Plugin.Club" class="fa-solid fa-crown"></i>
              </ng-container>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="expiredAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'app.expiredAt' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            <div class="row" style="gap: 4px">
              <i
                class="fa-solid fa-circle fa-xs green"
                [ngClass]="{
                  yellow: (shop.plugins?.expiredAt | dateValue) - (now | dateValue) < 10*3600000*24,
                  red: (shop.plugins?.expiredAt | dateValue) < (now | dateValue),
                }"
              ></i>
              {{ shop.plugins?.expiredAt | pdate: 'YYYY/MM/DD' }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="manager">
          <th mat-header-cell *matHeaderCellDef>{{ 'shops.manager' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            {{ User.fullName(shop.users[0]?.user) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>{{ 'shops.managerPhone' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            {{ shop.users[0]?.user?.mobilePhone | phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>{{ 'app.username' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            <span class="eng">
              {{ shop.users[0]?.user?.username }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef>{{ 'app.password' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            <span class="eng">
              {{ shop.users[0]?.user?.password }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="connectionAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'shops.connectionAt' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            <i
              class="fa-solid fa-circle fa-xs green"
              [ngClass]="{
                  yellow: (now | dateValue) - (shop.connectionAt | dateValue) > 12*3600000,
                  red: (now | dateValue) - (shop.connectionAt | dateValue) > 7*24*3600000,
                }"
            ></i>
            {{ shop.connectionAt ? (shop.connectionAt | pdate) : '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'shops.createdAt' | translate }}</th>
          <td mat-cell *matCellDef="let shop">
            {{ shop.connectionAt ? (shop.createdAt | pdate: 'YYYY-MM-DD') : '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let shop" style="text-align: end">
            <button mat-icon-button (click)="sendSms(shop)">
              <i class="fa-regular fa-message"></i>
            </button>
            <a mat-icon-button [href]="Shop.appLink(shop, origin)" target="_blank">
              <i class="fa-regular fa-mobile"></i>
            </a>
            <a
              mat-icon-button
              target="_blank"
              href="{{ panelLink }}?u={{ shop.users[0]?.user.username }}&p={{ shop.users[0]?.user.password }}"
            >
              <i class="fa-regular fa-desktop"></i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns" class="clickable"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</main>
