<mat-list>
  <mat-list-item>
    <span matListItemTitle>{{ 'cart.sum' | translate }}</span>
    <div matListItemMeta>
      <span>{{ cart.sum() | menuCurrency }}</span>
    </div>
  </mat-list-item>
  @for (item of cart.abstractItems(); track item.title) {
    <mat-list-item>
      <span matListItemTitle>{{ item.title }}</span>
      <div matListItemMeta>
        <span>{{ item.price | menuCurrency }}</span>
      </div>
    </mat-list-item>
  }
  <mat-list-item>
    <span matListItemTitle>
      <b>
        {{ 'app.total' | translate }}
      </b>
    </span>
    <div matListItemMeta>
      <span>
        <b>
          {{ cart.total() | menuCurrency }}
        </b>
      </span>
    </div>
  </mat-list-item>
</mat-list>

@if (cart.coupon()) {
  <button mat-stroked-button (click)="cart.coupon.set(undefined)" class="coupon-button error-button">
    <i class="fa-regular fa-circle-minus"></i>
    &nbsp;
    {{ 'cart.removeCoupon' | translate }}
  </button>
} @else {
  <button mat-stroked-button (click)="addCoupon()" class="coupon-button tertiary-button">
    <i class="fa-regular fa-circle-plus"></i>
    &nbsp;
    {{ 'cart.addCoupon' | translate }}
  </button>
}
