<mat-list>
  <mat-list-item>
    <span matListItemTitle>{{ 'cart.sum' | translate }}</span>
    <div matListItemMeta>
      <span>{{ cart.realSum() | menuCurrency }}</span>
    </div>
  </mat-list-item>
  @if (cart.sumDiscount()) {
    <mat-list-item>
      <span matListItemTitle>
        {{ 'cart.sumDiscount' | translate }}
      </span>
      <div matListItemMeta>
        <span>
          {{ cart.sumDiscount() | menuCurrency }}
        </span>
      </div>
    </mat-list-item>
  }
  @for (item of cart.abstractItems(); track item.title) {
    <mat-list-item>
      <span matListItemTitle>
        {{ item.title }}
      </span>
      <div matListItemMeta>
        @if (item.title === DELIVERY_COST_TITLE && cart.address()?.deliveryArea?.label) {
          <span>
            {{ cart.address()?.deliveryArea?.label }}
            @if (item.price) {
              &nbsp;
              {{ item.price | menuCurrency: true }}
            }
          </span>
        } @else {
          <span>{{ (item.price > 0 ? item.price : -item.price) | menuCurrency: true }}</span>
        }
      </div>
    </mat-list-item>
  }
  @if (cart.totalDiscount()) {
    <mat-list-item>
      <span matListItemTitle class="secondary-text">
        {{ 'cart.totalDiscount' | translate }}
      </span>
      <div matListItemMeta>
        <span class="secondary-text">
          {{ cart.totalDiscount() | menuCurrency }}
        </span>
      </div>
    </mat-list-item>
  }
  <mat-list-item>
    <span matListItemTitle>
      <b>
        {{ 'app.total' | translate }}
      </b>
    </span>
    @if (
      cart.address()?.deliveryArea?.minOrderPrice &&
      cart.address()!.deliveryArea!.minOrderPrice! > cart.realSum()
    ) {
      <span matListItemLine class="error-text">
        <i class="fa-solid fa-triangle-exclamation fa-xs"></i>
        {{
          'cart.addressMinPriceWarningInline'
            | translate: { value: cart.address()?.deliveryArea?.minOrderPrice | menuCurrency }
        }}
      </span>
    }
    <div matListItemMeta>
      <span>
        <b>
          {{ cart.total() | menuCurrency }}
        </b>
      </span>
    </div>
  </mat-list-item>
</mat-list>

@if (cart.coupon()) {
  <button mat-stroked-button (click)="cart.coupon.set(undefined)" class="coupon-button error-button">
    <i class="fa-regular fa-circle-minus"></i>
    &nbsp;
    {{ 'cart.removeCoupon' | translate }}
  </button>
} @else {
  <button mat-stroked-button (click)="addCoupon()" class="coupon-button tertiary-button">
    <i class="fa-regular fa-circle-plus"></i>
    &nbsp;
    {{ 'cart.addCoupon' | translate }}
  </button>
}
