@import '../public/iransans/iransans.scss';
@import '../public/fontawesome/scss/fontawesome.scss';
@import '../public/fontawesome/scss/regular.scss';
@import '../public/fontawesome/scss/brands.scss';
@import '../public/fontawesome/scss/solid.scss';

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: IRANSans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*[p-xs] {
  padding: 8px;
}

*[p-sm] {
  padding: 12px;
}

*[p-md] {
  padding: 16px;
}

*[p-lg] {
  padding: 24px;
}

.mdc-button {
  border-radius: 8px !important;

  &.large {
    height: 56px !important;
    border-radius: 16px !important;
  }
}

.inverse-surface-button {
  background-color: var(--sys-on-background) !important;
  color: var(--sys-background) !important;
}
