@import '../public/fonts/iransans/iransans.scss';
@import '../public/fonts/fontawesome/scss/fontawesome.scss';
@import '../public/fonts/fontawesome/scss/light.scss';
@import '../public/fonts/fontawesome/scss/regular.scss';
@import '../public/fonts/fontawesome/scss/brands.scss';
@import '../public/fonts/fontawesome/scss/solid.scss';

html,
body {
  min-height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
  margin: 0;
  font-family: IRANSans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*[f-md] {
  font-size: 14px !important;
}

*[f-sm] {
  font-size: 12px !important;
}

*[p-xs] {
  padding: 8px;
}

*[p-sm] {
  padding: 12px;
}

*[p-md] {
  padding: 16px;
}

*[p-lg] {
  padding: 24px;
}

.mdc-button {
  border-radius: 8px !important;

  &.large {
    height: 56px !important;
    border-radius: 16px !important;
  }

  &.compact {
    height: 32px !important;
  }
}

.inverse-surface-button {
  background-color: var(--sys-on-background) !important;
  color: var(--sys-background) !important;
}

div.mat-mdc-list-item-meta {
  height: 100%;
  display: flex !important;
  align-items: center !important;
  gap: 4px;
}

img.mat-mdc-list-item-avatar {
  background-color: var(--sys-surface-variant) !important;
}

.mat-bottom-sheet-container {
  border-radius: 32px 32px 0 0;
}

mat-selection-list {
  mat-list-option {
    border: 1px solid var(--sys-outline-variant);
    // padding: 8px 16px;
    border-radius: 16px !important;

    &.active {
      border-color: var(--sys-on-background) !important;
    }
  }
}

mat-card {
  box-shadow: none !important;
  border: 1px solid var(--sys-outline-variant) !important;
  border-radius: 16px !important;
  background-color: var(--sys-background) !important;
}