<table mat-table [dataSource]="products">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>{{ 'productTable.image' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      <img [imageLoader]="product.images[0]" />
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>{{ 'productTable.title' | translate }}</th>
    <td mat-cell *matCellDef="let product">{{ product.title }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>{{ 'productTable.price' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      {{ product.price | menuCurrency }}

      <mat-chip-listbox *ngIf="product.costs?.length" class="cost-chips">
        <mat-chip-option [selectable]="false" *ngFor="let c of product.costs">
          {{ c.title }}
          (<span *ngIf="c.percentageCost">{{ abs(c.percentageCost) }}%</span>
          <span *ngIf="c.fixedCost">{{ abs(c.fixedCost) | menuCurrency }}</span
          >)
        </mat-chip-option>
      </mat-chip-listbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef>{{ 'productTable.stock' | translate }}</th>
    <td mat-cell *matCellDef="let product"></td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.status' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      <button
        mat-stroked-button
        [mat-menu-trigger-for]="statusMenu"
        stopPropagation
        [disabled]="product._changingStatus"
      >
        <span *ngIf="product.status === Status.Active">
          <i class="fa-solid fa-check-circle green"></i>
          {{ 'app.active' | translate }}
        </span>
        <span *ngIf="product.status === Status.Blocked">
          <i class="fa-solid fa-circle-0 red"></i>
          {{ 'app.finished' | translate }}
        </span>
        <span *ngIf="product.status === Status.Inactive">
          <i class="fa-solid fa-ban red"></i>
          {{ 'app.inactive' | translate }}
        </span>
      </button>
      <mat-menu #statusMenu="matMenu">
        <button mat-menu-item (click)="changeStatus(product, Status.Active)">
          <i class="fa-solid fa-check-circle mat-icon"></i>
          {{ 'app.active' | translate }}
        </button>
        <button mat-menu-item (click)="changeStatus(product, Status.Blocked)">
          <i class="fa-solid fa-circle-0 mat-icon"></i>
          {{ 'app.finished' | translate }}
        </button>
        <button mat-menu-item (click)="changeStatus(product, Status.Inactive)">
          <i class="fa-solid fa-ban mat-icon"></i>
          {{ 'app.inactive' | translate }}
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let product">
      <div style="display: flex; justify-content: end; align-items: center; gap: 4px">
        <span class="order-types" *ngIf="product.orderTypes?.length < 3">
          <ng-container *ngFor="let t of product.orderTypes; let last = last">
            <span>
              {{ t | orderType }}
            </span>
            <mat-divider vertical *ngIf="!last"></mat-divider>
          </ng-container>
        </span>
       
        <button
          mat-icon-button
          routerLink="product"
          [queryParams]="{ id: product.id }"
          [matTooltip]="'productTable.edit' | translate"
        >
          <i class="fa-regular fa-pencil"></i>
        </button>
        <button mat-icon-button [matTooltip]="'app.remove' | translate" (click)="deleteProduct(product)">
          <i class="fa-regular fa-trash-alt"></i>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
