<table mat-table [dataSource]="products">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>{{ 'productTable.image' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      <img (click)="imageClick(product)" [imageLoader]="product.imageFiles?.xs || product.images[0]" />
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>{{ 'productTable.title' | translate }}</th>
    <td mat-cell *matCellDef="let product">{{ product.title }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>{{ 'productTable.price' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      <mat-chip-listbox class="cost-chips">
        @if (product.variants?.length) {
          @for (variant of product.variants; track variant.id) {
            <mat-chip-option [selectable]="false" (click)="variantClick(product, variant)">
              {{ variant.title }}
              ({{ variant.price | menuCurrency }})
              @if (variant._loading) {
                <i class="fa-regular fa-circle-notch fa-spin"></i>
              } @else {
                <i class="fa-regular fa-pencil-alt"></i>
              }
            </mat-chip-option>
          }
        } @else {
          <mat-chip-option [selectable]="false" (click)="priceClick(product)">
            {{ product.price | menuCurrency }}
            @if (product._priceLoading) {
              <i class="fa-regular fa-circle-notch fa-spin"></i>
            } @else {
              <i class="fa-regular fa-pencil-alt"></i>
            }
          </mat-chip-option>
        }
        @if (product.costs.length) {
          @for (c of product.costs; track c) {
            <mat-chip-option [selectable]="false">
              {{ c.title }}
              (@if (c.percentageCost) {
              <span>{{ abs(c.percentageCost) }}%</span>
            }
            @if (c.fixedCost) {
              <span>{{ abs(c.fixedCost) | menuCurrency }}</span
                >
                })
              </mat-chip-option>
            }
          }
        </mat-chip-listbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef>{{ 'productTable.stock' | translate }}</th>
      <td mat-cell *matCellDef="let product">
        @if (!product.variants?.length) {
          <button
            mat-stroked-button
            [mat-menu-trigger-for]="stockMenu"
            stopPropagation
            [disabled]="product._changingStatus"
            >
            @if (product.stock == null) {
              <span>
                <i class="fa-solid fa-infinity green"></i>
                {{ 'productTable.infinity' | translate }}
              </span>
            }
            @if (product.stock != null) {
              <span [ngClass]="{ red: product.stock === 0 }">
                {{ 'app.number' | translate: { value: product.stock } }}
              </span>
            }
          </button>
          <mat-menu #stockMenu="matMenu">
            <button mat-menu-item (click)="changeStock(product, true)">
              <i class="fa-solid fa-infinity mat-icon"></i>
              {{ 'productTable.infinity' | translate }}
            </button>
            <button mat-menu-item (click)="changeStock(product)">
              {{ 'productTable.setStock' | translate }}
            </button>
          </mat-menu>
        }
        @if (product.variants?.length) {
          <small>{{ 'productTable.basedOnVariants' | translate }}</small>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'app.status' | translate }}</th>
      <td mat-cell *matCellDef="let product">
        <button
          mat-stroked-button
          [mat-menu-trigger-for]="statusMenu"
          stopPropagation
          [disabled]="product._changingStatus"
          >
          @if (product.status === Status.Active) {
            <span>
              <i class="fa-solid fa-check-circle green"></i>
              {{ 'app.active' | translate }}
            </span>
          }
          @if (product.status === Status.Blocked) {
            <span>
              <i class="fa-solid fa-circle-0 red"></i>
              {{ 'app.finished' | translate }}
            </span>
          }
          @if (product.status === Status.Inactive) {
            <span>
              <i class="fa-solid fa-ban red"></i>
              {{ 'app.inactive' | translate }}
            </span>
          }
        </button>
        <mat-menu #statusMenu="matMenu">
          <button mat-menu-item (click)="changeStatus(product, Status.Active)">
            <i class="fa-solid fa-check-circle mat-icon"></i>
            {{ 'app.active' | translate }}
          </button>
          <button mat-menu-item (click)="changeStatus(product, Status.Blocked)">
            <i class="fa-solid fa-circle-0 mat-icon"></i>
            {{ 'app.finished' | translate }}
          </button>
          <button mat-menu-item (click)="changeStatus(product, Status.Inactive)">
            <i class="fa-solid fa-ban mat-icon"></i>
            {{ 'app.inactive' | translate }}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <div style="display: flex; justify-content: end; align-items: center; gap: 4px">
          @if (product.orderTypes?.length < 3) {
            <span class="order-types">
              @for (t of product.orderTypes; track t; let last = $last) {
                <span>
                  {{ t | orderType }}
                </span>
                @if (!last) {
                  <mat-divider vertical></mat-divider>
                }
              }
            </span>
          }

          <button
            mat-icon-button
            routerLink="product"
            [queryParams]="{ id: product.id }"
            [matTooltip]="'productTable.edit' | translate"
            >
            <i class="fa-regular fa-pencil"></i>
          </button>
          <button mat-icon-button [matTooltip]="'app.remove' | translate" (click)="deleteProduct(product)">
            <i class="fa-regular fa-trash-alt"></i>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
