<section fxLayout="column" fxLayoutGap="16">
  @for (product of category.products; track product.id; let isLast = $last) {
    <mat-card class="product-card" routerLink="product/{{ product.id }}" appearance="outlined">
      <!-- <img mat-card-image [imageLoader]="product.images?.[0]" /> -->
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="8">
          <img
            fxFlex="none"
            class="product-card__image"
            [imageLoader]="product.images?.[0]"
            [imageFile]="Product.mainImageFile(product)"
            [imageSize]="'sm'"
            alt="{{ product.title }}"
          />
          <div fxFlex fxLayout="column">
            <h3 class="product-card__title">{{ product.title }}</h3>
            <p
              class="product-card__description outline-text"
              [class.compact]="!product.variants.length"
              fxFlex
            >
              {{ product.description }}
            </p>

            @if (!product.variants.length) {
              <div fxLayout="row" style="margin-top: 10px">
                <div
                  class="product-card__price-section"
                  fxFlex
                  fxLayout="column"
                  fxLayoutAlign="space-around"
                >
                  @if (Product.hasDiscount(product)) {
                    <span class="line-price error-text">{{ Product.realPrice(product) | menuCurrency }}</span>
                  }
                  <span>{{ Product.totalPrice(product) | menuCurrency }}</span>
                </div>
                <app-quantity-selector [product]="product" />
              </div>
            }
          </div>
        </div>
        @if (product.variants.length) {
          <mat-list>
            @for (variant of product.variants; track variant.id; let last = $last) {
              <mat-list-item>
                <span matListItemTitle>{{ variant.title }}</span>
                <span matListItemLine>
                  <span>{{ Product.totalPrice(product, variant) | menuCurrency }}</span> &nbsp;
                  @if (Product.hasDiscount(product, variant)) {
                    <span class="line-price error-text">{{
                      Product.realPrice(product, variant) | number
                    }}</span>
                  }
                </span>
                <div matListItemMeta>
                  <app-quantity-selector [product]="product" [variant]="variant" />
                </div>
              </mat-list-item>
            }
          </mat-list>
        }
      </mat-card-content>
    </mat-card>
  }
</section>
