.product-card {
  mat-card-content {
    padding: 8px;
  }

  &__image {
    width: 104px;
    height: 104px;
    border-radius: 16px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  &__description {
    font-size: 10px;
    display: -webkit-box;
    max-width: 200px;
    max-height: 80px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;

    &.compact {
      max-height: 36px;
      -webkit-line-clamp: 2;
    }
  }

  &__price-section {
    font-size: 11px;

    b {
      display: block;
      font-size: 14px;
    }

    span {
      display: block;
    }

  }
}

.line-price {
  text-decoration: line-through;
}

mat-divider {
  margin: 0 8px;
}
