@if (categories().length > 0) {
  <app-section 
    [title]="title() || ''"
    [seeMoreLabel]="seeMoreLabel()"
    [seeMoreRouterLink]="seeMoreRouterLink()"
  >
    @if (isCarousel()) {
      <div class="category-list-carousel-container">
        @for (rowIndex of getRowIndices(); track rowIndex) {
          <div class="category-list-carousel" [class.multi-row]="carouselRows() > 1">
            @for (category of getCategoriesForRow(rowIndex); track category.id) {
              <a
                [routerLink]="getCategoryLink(category)"
                class="category-tile-carousel"
                [imageFile]="getCategoryImage(category)"
                [imageSize]="'md'"
                appImageLoader
              >
                <div class="category-tile-footer">
                  {{ category.title }}
                </div>
              </a>
            }
          </div>
        }
      </div>
    } @else if (isGrid()) {
      <mat-grid-list [cols]="gridCols()" rowHeight="1:1" gutterSize="8">
        @for (category of categories(); track category.id) {
          <mat-grid-tile
            [routerLink]="getCategoryLink(category)"
            class="category-tile"
            [imageFile]="getCategoryImage(category)"
            [imageSize]="'md'"
            appImageLoader
          >
            <mat-grid-tile-footer class="category-tile-footer">
              {{ category.title }}
            </mat-grid-tile-footer>
          </mat-grid-tile>
        }
      </mat-grid-list>
    } @else if (isButton()) {
      <div class="category-list-button-container">
        <div class="category-list-button-scroll">
          @for (category of categories(); track category.id) {
            <a [routerLink]="getCategoryLink(category)" class="category-button">
              <span class="category-button-title">{{ category.title }}</span>
            </a>
          }
        </div>
      </div>
    }
  </app-section>
}

