<div>
  <ng-container *ngFor="let product of category.products; let last = last">
    <mat-card
      routerLink="/menu/product/{{ product.id }}"
      class="product surface-variant on-surface-variant-text"
      matRipple
    >
      <mat-card-header>
        <mat-card-title-group>
          <img
            mat-card-sm-image
            class="product__image"
            [ngClass]="{ finished: product.status === Status.Blocked }"
            [imageLoader]="product.images ? product.images[0] : undefined"
          />
          <mat-card-title class="product__title">{{ product.title }}</mat-card-title>
          <mat-card-subtitle class="product__description outline-text">
            {{ product.description }}
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-actions class="price-section">
        <span flex *ngIf="!shopService.hasOrderingPlugin()"></span>
        <span class="price-section__text">
          <span class="price-section__text__old error-text" *ngIf="Product.hasDiscount(product)">
            {{ Product.realPrice(product) | menuCurrency }}
          </span>
          <b class="secondary-text">{{ Product.totalPrice(product) | menuCurrency }}</b>
        </span>
        <ng-container *ngIf="!product._orderItem?.quantity">
          <span spacer></span>
          <discount-badge *ngIf="Product.hasDiscount(product)">
            {{ 'discount.percentage' | translate: { value: Product.percentageDiscount(product) } }}
          </discount-badge>
        </ng-container>

        <ng-container *ngIf="shopService.hasOrderingPlugin()">
          <span flex></span>
          <count-selector
            *ngIf="product._orderItem?.quantity"
            [count]="product._orderItem?.quantity || 0"
            (plusClick)="plus(product, $event)"
            (minusClick)="minus(product, $event)"
          ></count-selector>
          <button
            mat-stroked-button
            (click)="plus(product, $event)"
            *ngIf="!product._orderItem?.quantity"
            [disabled]="product.status === Status.Blocked"
          >
            <span *ngIf="product.status === Status.Blocked">
              {{ 'app.finished' | translate }}
            </span>
            <span class="error-text" *ngIf="product.status === Status.Active">
              {{ 'app.add' | translate }}
            </span>
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card>
    <span spacer *ngIf="!last"></span>
  </ng-container>
</div>
