<mat-toolbar fxLayout="row" fxLayoutGap="8px">
  <button mat-icon-button (click)="isDrawerClose.set(!isDrawerClose())">
    <i class="fa-solid fa-bars"></i>
  </button>
  <span fxFlex></span>
  <button
    mat-icon-button
    [matBadge]="notifications.data()?.length"
    [matBadgeHidden]="!notifications.data()?.length"
    [disabled]="!notifications.data()?.length"
    matBadgePosition="before"
    [matMenuTriggerFor]="notificationMenu"
  >
    <i class="fa-solid fa-bell"></i>
  </button>
  <mat-menu #notificationMenu="matMenu">
    <mat-nav-list>
      @for (notification of notifications.data(); track notification) {
        <a
          mat-list-item
          routerLink="/orders/details/{{ (notification.order || notification.chat?.order)?.id }}"
        >
          @if (notification.order) {
            <span matListItemTitle>{{ 'notifications.newOrder' | translate }}</span>
          }
          @if (notification.chat) {
            <span matListItemTitle>{{ 'notifications.newMessage' | translate }}</span>
          }
          <span matListItemLine>{{ notification.date | pdate: true }}</span>
        </a>
        @if (!$last) {
          <mat-divider />
        }
      }
    </mat-nav-list>
  </mat-menu>
  <button mat-stroked-button id="profile-button" [matMenuTriggerFor]="userMenu">
    {{ shop.data()?.title }}
    <img imageLoader [imageFile]="shop.data()?.logoImage" placeholderImageSize="sm" />
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">{{ 'shell.logout' | translate }}</button>
  </mat-menu>
  <h1 fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <b fxHide.lt-sm>MENNO</b>
    <img src="icons/logo.svg" id="logo" />
  </h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [mode]="isSmallScreen() ? 'over' : 'side'"
    [opened]="!isDrawerClose()"
    [fixedTopGap]="64"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/home"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-house"></i>
        <span matListItemTitle>{{ 'nav.home' | translate }}</span>
      </a>
      <mat-divider />
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/orders"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-solid fa-receipt"></i>
        <span matListItemTitle>{{ 'nav.orderList' | translate }}</span>
      </a>
      <mat-divider />
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/menu/categories"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-folder-tree flip"></i>
        <span matListItemTitle>{{
          'nav.categories' | translate: { value: shop.businessCategoryMenuTitle() }
        }}</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/menu/list"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-list flip"></i>
        <span matListItemTitle>{{
          'nav.products' | translate: { value: shop.businessCategoryMenuTitle() }
        }}</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/menu/costs"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-badge-dollar"></i>
        <span matListItemTitle>{{ 'nav.pricing' | translate }}</span>
      </a>
      <mat-divider />
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/inventory/materials"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-flask-vial"></i>
        <span matListItemTitle>{{ 'nav.materials' | translate }}</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/inventory/bom"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-flask-gear"></i>
        <span matListItemTitle>{{ 'nav.bom' | translate }}</span>
      </a>
      <mat-divider />
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/club/members"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-user-group-crown"></i>
        <span matListItemTitle>{{ 'nav.clubMembers' | translate }}</span>
      </a>
      <mat-divider />
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/reports/dashboard"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-chart-simple"></i>
        <span matListItemTitle>{{ 'nav.dashboard' | translate }}</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/reports/analytics"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-chart-mixed"></i>
        <span matListItemTitle>{{ 'nav.analytics' | translate }}</span>
      </a>
      <mat-divider />
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/club/coupons"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-tags"></i>
        <span matListItemTitle>{{ 'nav.discountCoupons' | translate }}</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/reports/analytics"
        (click)="isSmallScreen() && isDrawerClose.set(true)"
      >
        <i matListItemIcon class="fa-duotone fa-bullseye-arrow"></i>
        <span matListItemTitle>{{ 'nav.missions' | translate }}</span>
      </a>
      <mat-divider />
      <a mat-list-item routerLinkActive="active-link" (click)="toggleSection('settings')">
        <span matListItemTitle>
          <i class="fa-duotone fa-caret-{{ collapse()['settings'] ? 'left' : 'down' }}"></i>
          {{ 'nav.settings' | translate }}
        </span>
      </a>
      @if (!collapse()['settings']) {
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/shop"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-store"></i>
          <span matListItemTitle>{{ 'settings.shop' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/app-config"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-palette"></i>
          <span matListItemTitle>{{ 'settings.appConfig' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/order-config"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-receipt"></i>
          <span matListItemTitle>{{ 'settings.orderConfig' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/sms"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-message-smile"></i>
          <span matListItemTitle>{{ 'orderMessagesSetting.title' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/printers"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-print"></i>
          <span matListItemTitle>{{ 'settings.printers' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/delivery-areas"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-map-location-dot"></i>
          <span matListItemTitle>{{ 'settings.deliveryAreas' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/users"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-users"></i>
          <span matListItemTitle>{{ 'settings.users' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/qr"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-qrcode"></i>
          <span matListItemTitle>{{ 'settings.qr' | translate }}</span>
        </a>
        <a mat-list-item routerLinkActive="active-link" (click)="isSmallScreen() && isDrawerClose.set(true)">
          <i matListItemIcon class="fa-duotone fa-key"></i>
          <span matListItemTitle>{{ 'settings.changePassword' | translate }}</span>
        </a>
        <a mat-list-item routerLinkActive="active-link" (click)="isSmallScreen() && isDrawerClose.set(true)">
          <i matListItemIcon class="fa-duotone fa-credit-card"></i>
          <span matListItemTitle>{{ 'settings.poses' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="settings/third-parties"
          (click)="isSmallScreen() && isDrawerClose.set(true)"
        >
          <i matListItemIcon class="fa-duotone fa-puzzle-piece"></i>
          <span matListItemTitle>{{ 'settings.thirdParties' | translate }}</span>
        </a>
      }
    </mat-nav-list>
    <!-- @if (auth.user) {
      <nav fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
        <a mat-icon-button routerLink="/leads" matTooltip="مدیریت آیتم‌ها" matTooltipPosition="after">
          <i class="fa-duotone fa-list"></i>
        </a>
        <a mat-icon-button routerLink="/orders" matTooltip="سفارشات" matTooltipPosition="after">
          <i class="fa-duotone fa-receipt"></i>
        </a>
        <a mat-icon-button routerLink="/reports" matTooltip="کزارشات" matTooltipPosition="after">
          <i class="fa-duotone fa-chart-simple"></i>
        </a>
        <span fxFlex></span>
        <button mat-icon-button [mat-menu-trigger-for]="settingsMenu">
          <i class="fa-duotone fa-gear"></i>
        </button>
        <mat-menu #settingsMenu="matMenu">
          <button mat-menu-item routerLink="/settings/interaction-types">مدیریت وضعیت لیدها</button>
          <button mat-menu-item routerLink="/settings/products">مدیریت محصولات</button>
          <button mat-menu-item routerLink="/settings/users">مدیریت کابران</button>
        </mat-menu>
      </nav>
    } -->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
