<mat-toolbar mat-dialog-title>
  <input
    [formControl]="queryControl"
    placeholder="{{ 'messageTemplateSelectDialog.placeholder' | translate }}"
    type="search"
    />
</mat-toolbar>
<mat-dialog-content>
  {{ 'messageTemplateSelectDialog.description' | translate }}
  @if (templates | async) {
    <mat-nav-list dense>
      <a mat-list-item (click)="openAddMessageTemplDialog()">
        <i matListItemIcon class="far fa-plus-circle blue"></i>
        <span matListItemLine>{{ 'messageTemplateSelectDialog.add' | translate }}</span>
      </a>
      <mat-divider></mat-divider>
      @for (template of templates | async; track template) {
        <a mat-list-item (click)="select(template)">
          <b matListItemTitle>{{ template.title }}</b>
          <span matListItemLine>{{ template.message }}</span>
          <div matListItemMeta class="secondary">
            @if (template.isVerified) {
              <i class="fas fa-check-circle green"></i>
            }
            @if (!template.isVerified && template.responseText) {
              <i class="fas fa-times-circle red"></i>
            }
            <button mat-icon-button color="warn" (click)="remove(template, $event)">
              <i class="far fa-trash-alt"></i>
            </button>
            @if (!template.isVerified && !template.responseText) {
              <span class="red">
                {{ 'messageTemplateSelectDialog.notVerified' | translate }}
              </span>
            }
          </div>
          <mat-divider></mat-divider>
        </a>
      }
    </mat-nav-list>
  }
  @if (!(templates | async)) {
    <mat-spinner mode="indeterminate" [diameter]="24"></mat-spinner>
  }
</mat-dialog-content>
