<span spacer></span>
@if (mapOptions) {
  <div class="wrapper">
    @if (map?.dragging?.enabled()) {
      <mat-form-field appearance="outline">
        <mat-label>{{ 'locationEditBottomSheet.searchLabel' | translate }}</mat-label>
        <input
          type="search"
          placeholder="{{ 'locationEditBottomSheet.searchPlaceholder' | translate }}"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (s of searchResults | async; track s) {
            <mat-option (click)="selectAddress(s)">
              <span class="search-result-text">
                {{ s.label }}
              </span>
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    }
    @if (map?.dragging?.enabled()) {
      <p class="gray">
        {{ 'locationEditBottomSheet.description' | translate }}
      </p>
    }
    <div class="map-container" [class.disabled]="!map?.dragging?.enabled()">
      <div
        id="map"
        leaflet
        [leafletOptions]="mapOptions"
        (leafletMapReady)="onMapReady($event)"
        (leafletClick)="enableMap()"
        (leafletMapMoveStart)="noMoveYet = false"
        >
        @if (shopMarker) {
          <div [leafletLayer]="shopMarker"></div>
        }
      </div>
      <img src="assets/icons/user-pin.png" id="user-pin" />
    </div>
    <br />
    @if (map?.dragging?.enabled()) {
      <button
        mat-flat-button
        color="accent"
        [disabled]="noMoveYet"
        (click)="disableMap()"
        class="submit-button"
        >
        {{ 'locationEditBottomSheet.setLocation' | translate }}
      </button>
    }
    @if (!map?.dragging?.enabled()) {
      <div class="form-theme" ngClass="wrapper">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'locationEditBottomSheet.addressLabel' | translate }}</mat-label>
          <textarea
            placeholder="{{ 'locationEditBottomSheet.addressPlaceholder' | translate }}"
            matInput
            [(ngModel)]="address"
            required
            rows="3"
            autocomplete="off"
          ></textarea>
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          class="submit-button"
          (click)="disableMap()"
          [disabled]="saving"
          (click)="save()"
          >
          {{ 'app.save' | translate }}
          @if (saving) {
            <i class="fad fa-spinner-third"></i>
          }
        </button>
      </div>
    }
  </div>
}
