.wrapper {
    display: flex;
    flex-direction: column;
}

.map-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 300px;
    transition: 300ms;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    &.disabled {
        height: 100px;
    }

    #map {
        width: 100%;
        height: 300px;
    }

    #user-pin {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -50px;
        z-index: 1000;
    }
}

#searchbar {
    position: relative;

    input {
        width: 100%;
        display: block;
        outline: none;
        border: none;
        padding: 0 4px;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .mat-nav-list {
        position: absolute;
        width: 100%;
        top: 40px;
        left: 0;
        z-index: 100000;
    }
}

.search-result-text {
    display: inline-block;
    font-size: 11px;
    width: 100%;
    white-space: initial;
    line-height: 18px;
    vertical-align: middle;
}
