<mat-toolbar class="page-toolbar">
  <h1 class="hide-xs">
    {{ 'menu.pageTitle' | translate }}
  </h1>
  <span flex></span>
  <button mat-stroked-button routerLink="discounts" class="hide-xs">
    <i class="fa-regular fa-badge-percent"></i>
    {{ 'menuDiscountPage.pageTitle' | translate }}
  </button>
  <button mat-stroked-button routerLink="costs" class="hide-xs">
    <i class="fa-regular fa-grid-2-plus"></i>
    {{ 'menuCostPage.pageTitle' | translate }}
  </button>
  <button
    mat-icon-button
    routerLink="discounts"
    class="show-xs"
    matTooltip="{{ 'menuDiscountPage.pageTitle' | translate }}"
  >
    <i class="fa-regular fa-badge-percent"></i>
  </button>
  <button
    mat-icon-button
    routerLink="costs"
    class="show-xs"
    matTooltip="{{ 'menuCostPage.pageTitle' | translate }}"
  >
    <i class="fa-regular fa-grid-2-plus"></i>
  </button>
  <button
    mat-flat-button
    color="primary"
    routerLink="category"
    [matomoClick]="['menu', 'category', 'add click']"
  >
    {{ 'menu.addCategory' | translate }}
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <i class="fa-regular fa-ellipsis-vertical"></i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openSort()">
      <i class="fa-solid fa-sort mat-icon"></i>
      <span>{{ 'menu.sortCategories' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <input #customInputFile hidden type="file" accept=".csv" (change)="importFromCSV($event)" />
    <button mat-menu-item (click)="customInputFile.click()">
      <i class="fa-solid fa-file-import mat-icon"></i>
      <span>{{ 'menu.importFromCsv' | translate }}</span>
    </button>
    <a mat-menu-item href="assets/files/sample-products.csv" download>
      <i class="fa-solid fa-file-csv mat-icon"></i>
      <span>{{ 'menu.downloadSampleCsv' | translate }}</span>
    </a>
  </mat-menu>
</mat-toolbar>

<mat-tab-group
  mat-stretch-tabs="false"
  (selectedIndexChange)="selectedTabChange($event)"
  animationDuration="0"
>
  <mat-tab *ngFor="let cat of categories">
    <ng-template mat-tab-label>
      {{ cat.title }}
      <ng-container *ngIf="cat.status !== Status.Active">
        <i class="fa-solid fa-period red"></i>
      </ng-container>
    </ng-template>
    <div class="content-wrapper">
      <menu-category-container [category]="cat"></menu-category-container>
    </div>
  </mat-tab>
</mat-tab-group>

<empty-state
  *ngIf="!categories?.length"
  text="{{ 'menu.noCategory' | translate }}"
  icon="fa-face-smile-tongue"
></empty-state>
