<div class="page-container">
  @if (orderQuery.isPending()) {
    <div class="loading-shade">
      <mat-spinner diameter="24"></mat-spinner>
    </div>
  } @else if (order()) {
    <mat-card appearance="outlined" class="status-card" [ngClass]="'status-' + order()?.state">
      <mat-card-content>
        <div class="status-content">
          <div class="status-icon-container">
            <ng-icon [name]="stateIcon" size="28px"></ng-icon>
          </div>
          <div class="status-texts">
            <div class="status-header">
              <span class="status-label">وضعیت سفارش:</span>
            </div>
            <p class="status-description">{{ stateDescription }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <button
      mat-raised-button
      color="primary"
      routerLink="/chat/order/{{ id }}"
      class="track-order-btn"
      [matBadge]="notSeenChatCount()"
      [matBadgeHidden]="notSeenChatCount() === 0"
      matBadgeColor="warn"
    >
      <ng-icon name="saxMessage2Outline" size="20" middle></ng-icon>
      &nbsp;پیگیری سفارش و ارسال پیام
    </button>

    <mat-list class="items-list">
      <div matSubheader>اقلام سفارش</div>
      @for (item of order()?.items; track item.id) {
        <mat-list-item class="order-item">
          <span matListItemTitle class="item-title">{{ item.title }}</span>
          @if (!item.isAbstract) {
            <span matListItemLine class="item-quantity">تعداد: {{ item.quantity }}</span>
          }
          <div matListItemMeta class="item-price">
            <span>{{ item.price * (item.quantity || 1) | number }} تومان</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      }
      <mat-list-item class="total-row">
        <span matListItemTitle>جمع کل</span>
        <div matListItemMeta class="total-price">
          <span>{{ order()?.totalPrice | number }} تومان</span>
        </div>
      </mat-list-item>
    </mat-list>
  }
</div>

