<app-top-app-bar title="تکمیل سفارش" [sticky]="true" [hideMetaAction]="true"></app-top-app-bar>

@if (cart.length() && addressesService.addresses()) {
  <main class="main-content">
    <app-section
      title="آدرس تحویل"
      [icon]="addressIcon"
      seeMoreLabel="تغییر آدرس"
      (seeMoreClick)="openAddressDialog()"
    >
      <app-address-card [address]="cart.address()"></app-address-card>
    </app-section>

    <!-- Invoice Section -->
    <app-section title="صورتحساب" [icon]="invoiceIcon">
      <app-invoice></app-invoice>
    </app-section>

    <!-- Payment Methods Section -->
    <app-section title="شیوه پرداخت" [icon]="paymentIcon">
      <app-payment-methods></app-payment-methods>
    </app-section>
  </main>

  <mat-toolbar class="action-toolbar">
    <button mat-raised-button (click)="submit()" [disabled]="cart.saving()">
      @if (cart.saving()) {
        <span>در حال ثبت...</span>
      } @else {
        <span>ثبت سفارش ({{ total() | number }} تومان)</span>
      }
    </button>
  </mat-toolbar>
}

