<mat-toolbar class="content-toolbar" fxLayoutGap="8px">
  <h1 fxFlex>{{ 'settings.welcomeMessage' | translate }}</h1>
  <button mat-flat-button (click)="save()" [disabled]="!form.dirty || saveMutation.isPending()">
    {{ 'app.save' | translate }}
  </button>
</mat-toolbar>

<form [formGroup]="form">
  <main p-md w-md fxLayout="column" fxLayoutGap="16px">
    <!-- Welcome Message Section -->
    <mat-card appearance="outlined">
      <mat-card-content fxLayout="column" fxLayoutGap="16px">
        <h3>{{ 'welcomeMessage.titleSection' | translate }}</h3>
        <p>{{ 'welcomeMessage.titleDescription' | translate }}</p>

        <mat-checkbox formControlName="enabled">
          {{ 'welcomeMessage.enabled' | translate }}
        </mat-checkbox>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'welcomeMessage.title' | translate }}</mat-label>
          <input
            matInput
            formControlName="title"
            placeholder="{{ 'welcomeMessage.titlePlaceholder' | translate }}"
            [disabled]="!form.get('enabled')?.value"
            />
          @if (form.get('title')?.hasError('required')) {
            <mat-error>
              {{ 'app.required' | translate }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'welcomeMessage.description' | translate }}</mat-label>
          <textarea
            matInput
            rows="4"
            formControlName="description"
            placeholder="{{ 'welcomeMessage.descriptionPlaceholder' | translate }}"
            [disabled]="!form.get('enabled')?.value"
            >
          </textarea>
          @if (form.get('description')?.hasError('required')) {
            <mat-error>
              {{ 'app.required' | translate }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'welcomeMessage.delay' | translate }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="delayInSeconds"
            placeholder="{{ 'welcomeMessage.delayPlaceholder' | translate }}"
            [disabled]="!form.get('enabled')?.value"
            eng
            ltr
            />
          <mat-hint>{{ 'welcomeMessage.delayHint' | translate }}</mat-hint>
          @if (form.get('delayInSeconds')?.hasError('min')) {
            <mat-error>
              {{ 'app.minValue' | translate: { value: 0 } }}
            </mat-error>
          }
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </main>
</form>
