/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../public/fonts/iransans/iransans.scss';

@include mat.core();

html {
  color-scheme: light;
  @include mat.theme(
    (
      // color: mat.$violet-palette,
      typography: IRANSans,
      density: 0
    )
  );
}

// Global styles
html,
body {
  height: 100%;
  margin: 0;
  font-family: IRANSans, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
