@use "@angular/material" as mat;
@forward "./config/vars.scss";

@import "./config/vars.scss";
@import "./config/colors.module.scss";
@import "./config/palette.scss";

@import "./config/theme.light.scss";

$app-primary-light: mat.define-palette($md-primary-palette, 400);
$app-accent-light: mat.define-palette($md-accent-palette, 400);
$app-warn-light: mat.define-palette($md-warn-palette, 400);

$app-primary-dark: mat.define-palette($md-primary-palette, 800);
$app-accent-dark: mat.define-palette($md-accent-palette, 800);
$app-warn-dark: mat.define-palette($md-warn-palette, 800);

$app-typography: mat.define-typography-config(
  $font-family: "IRANSans",
);

$app-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $app-primary-light,
      accent: $app-accent-light,
      warn: $app-warn-light,
    ),
    typography: $app-typography,
  )
);

$app-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $app-primary-dark,
      accent: $app-accent-dark,
      warn: $app-warn-dark,
    ),
    typography: $app-typography,
  )
);
@include mat.core();

@media (prefers-color-scheme: light) {
  @import "./config/theme.light.scss";
  @include mat.all-component-themes($app-theme-light);
}

@media (prefers-color-scheme: dark) {
  @import "./config/theme.dark.scss";
  @include mat.all-component-colors($app-theme-dark);
}
