<mat-toolbar class="page-toolbar">
  <button mat-icon-button goBack>
    <i class="fa-regular fa-arrow-right"></i>
  </button>
  <h1>{{ 'thirdParties.alopeyk.title' | translate }}</h1>
</mat-toolbar>
<main class="content-wrapper form-page-layout">
  <div class="static-col form-theme">
    <mat-card>
      <mat-card-header>
        <img src="assets/icons/alopeyk.png" mat-card-avatar />
        <mat-card-title>{{ 'thirdParties.alopeyk.title' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'thirdParties.alopeyk.description' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>{{ 'thirdParties.alopeyk.formDescription' | translate }}</p>
        <form [formGroup]="thirdPartyForm">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'thirdParties.alopeyk.token' | translate }}</mat-label>
            <input matInput formControlName="token" class="ltr eng" />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-stroked-button
          color="primary"
          *ngIf="thirdPartyForm.disabled"
          (click)="thirdPartyForm.enable()"
        >
          {{ 'app.edit' | translate }}
        </button>
        <ng-container *ngIf="!thirdPartyForm.disabled">
          <button mat-flat-button color="accent" (click)="save()">
            {{ 'app.save' | translate }}
          </button>
          <button mat-button (click)="initForm()">
            {{ 'app.cancel' | translate }}
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flex-col">
    <mat-card
      ><mat-card-content>
        @if (!thirdParty) {
          <app-empty-state
            icon="fa-triangle-exclamation"
            text="{{ 'thirdParties.notConnectedDescription' | translate }}"
          />
        }

        <mat-nav-list *ngIf="thirdParty">
          <a mat-list-item target="_blank" href="https://alopeyk.com/">
            <span matListItemTitle>{{ 'thirdParties.alopeyk.site' | translate }}</span>
            <span matListItemLine>{{ 'thirdParties.alopeyk.siteDescription' | translate }}</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item target="_blank" href="https://app.alopeyk.com/">
            <span matListItemTitle>{{ 'thirdParties.alopeyk.panel' | translate }}</span>
            <span matListItemLine>{{ 'thirdParties.alopeyk.panelDescription' | translate }}</span>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</main>
