.product {
  border-radius: 16px !important;

  &__title {
    margin-bottom: 8px;
    font-size: 14px;
  }

  &__description {
    font-size: 12px;
    color: inherit;
    max-height: 40px;
    overflow-y: hidden;
  }

  &__image {
    border-radius: 12px !important;
    &.finished {
      filter: grayscale(1);
    }
  }
}

.price-section {
  &__text {
    display: flex;
    flex-direction: column;

    &__old {
      text-decoration: line-through;
      font-size: 12px;
    }
  }
}

::ng-deep mat-card.product {
  mat-card-title-group {
    flex-direction: row-reverse;
    gap: 8px;

    & > div {
      flex: 1;
    }
  }
}
