.product {
  border-radius: 16px;

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    font-size: 0.7rem;
    color: inherit;
  }

  &__image {
    border-radius: 12px !important;
  }
}


.price-section {
  &__text {
    display: flex;
    flex-direction: column;

    &__old {
      text-decoration: line-through;
      font-size: 12px;
    }
  }
}
