<mat-toolbar class="content-toolbar" fxLayout="row" fxLayoutGap="8px">
  <h1 fxFlex>{{ 'homeSections.title' | translate }}</h1>
  <button mat-stroked-button (click)="openSortDialog()">
    <i class="fa-regular fa-sort"></i>
    {{ 'app.sort' | translate }}
  </button>
  <button mat-stroked-button [matMenuTriggerFor]="addMenu">
    <i class="fa-regular fa-plus"></i>
    {{ 'app.add' | translate }}
  </button>
  <mat-menu #addMenu="matMenu">
    <button mat-menu-item (click)="addSection(HomeSectionType.Banner)">
      {{ 'homeSections.banner' | translate }}
    </button>
    <button mat-menu-item (click)="addSection(HomeSectionType.ProductList)">
      {{ 'homeSections.productList' | translate }}
    </button>
    <button mat-menu-item (click)="addSection(HomeSectionType.CategoryList)">
      {{ 'homeSections.categoryList' | translate }}
    </button>
  </mat-menu>
</mat-toolbar>

<main p-md>
  @if (sections().length > 0) {
    <mat-card appearance="outlined">
      <mat-card-content>
        <table mat-table [dataSource]="sections()">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>{{ 'app.index' | translate }}</th>
            <td mat-cell *matCellDef="let section; let i = index" style="width: 72px">
              <span eng>{{ i + 1 }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>{{ 'homeSections.type' | translate }}</th>
            <td mat-cell *matCellDef="let section">
              {{ getSectionTitle(section) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>{{ 'homeSections.title' | translate }}</th>
            <td mat-cell *matCellDef="let section">
              @if (section.type === HomeSectionType.ProductList || section.type === HomeSectionType.CategoryList) {
                {{ getSectionTitle(section) }}
              } @else {
                -
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef>{{ 'homeSections.visible' | translate }}</th>
            <td mat-cell *matCellDef="let section">
              <mat-slide-toggle
                [checked]="section.isVisible"
                (change)="toggleVisibility(section)"
              ></mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let section" style="width: 128px">
              <button mat-icon-button (click)="editSection(section)">
                <i class="fa-regular fa-edit fa-xs"></i>
              </button>
              <button mat-icon-button (click)="deleteSection(section)">
                <i class="fa-regular fa-trash-alt fa-xs"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  } @else {
    <app-empty-state
      icon="layer-group"
      [text]="'homeSections.emptyTitle' | translate"
    />
  }
</main>

