mat-dialog-content {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  mat-button-toggle {
    width: 48px;
    border: none !important;
  }
}