::ng-deep .product-tile {
  border-radius: 12px !important;
  position: absolute !important;

  .mat-grid-tile-footer {
    flex-direction: column;
    align-items: initial !important;
    height: fit-content !important;
    padding: 0 8px !important;
    padding-top: 16px !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%) !important;

    .product-title {
      font-size: 13px !important;
      height: 24px;
      line-height: 24px;
      flex: 1;
      font-weight: 900;
      text-shadow: 0 1px 3px black, 0 -1px 3px black, 1px 0 3px black, -1px 0 3px black;
    }
    .product-price {
      font-size: 13px !important;
      height: 24px;
      line-height: 24px;
      text-shadow: 0 1px 3px black, 0 -1px 3px black, 1px 0 3px black, -1px 0 3px black;
    }
  }

  &.finished {
    filter: grayscale(1);
  }
}

discount-badge {
  position: absolute;
  left: 8px;
  top: 8px;
}
