::ng-deep .product-tile {
  border-radius: 12px;
  position: absolute !important;
  .mat-grid-tile-footer {
    padding: 0 8px !important;
    height: 24px !important;
    background-color: rgba(0, 0, 0, 0.6) !important;

    .product-title {
      flex: 1;
      font-size: 11px;
      height: 24px;
      line-height: 24px;
    }
  }
}

discount-badge {
  position: absolute;
  left: 8px;
  top: 8px;
}
