<app-top-app-bar [sticky]="true" />
<form fxLayout="column" fxLayoutGap="16" p-md>
  <br />
  <br />
  <h1>{{ 'login.otpTitle' | translate }}</h1>
  <p>{{ 'login.otpDescription' | translate }}</p>

  <a mat-button class="edit-phone-button" goBack type="button">
    <i class="fa-regular fa-pencil-alt"></i>
    {{ phone }}
  </a>

  <input webOtp (newOtp)="otpInputs.setValue($event)" style="display: none" />

  <ng-otp-input
    #otpInputs
    [formCtrl]="otpFormControl"
    [config]="{
      length: 4,
      allowNumbersOnly: true,
      containerStyles: { display: 'flex', justifyContent: 'space-between', direction: 'ltr' },
      containerClass: 'mono',
      inputStyles: { outline: 'none', border: 'none', padding: '8px' },
      inputClass: 'surface-variant-background on-background-text',
    }"
  ></ng-otp-input>

  <!-- <mat-form-field>
    <input
      matInput
      #input
      [formControl]="inputFormControl"
      autofocus
      type="tel"
      [readonly]="loading()"
      minlength="4"
      maxlength="4"
      class="mono"
    />
    @if (!time()) {
      <mat-error>{{ 'login.tokenExpired' | translate }}</mat-error>
    } @else if (error()) {
      <mat-error>{{ 'login.otpError' | translate }}</mat-error>
    } @else {
      <mat-hint>{{ 'login.remainingTime' | translate: { value: time() } }}</mat-hint>
    }
  </mat-form-field> -->
  <!-- <div fxLayout="row" fxLayoutAlign="space-between" id="token-containers">
  </div> -->

  @if (time()) {
    <label class="timer outline-text">{{ 'login.remainingTime' | translate: { value: time() } }}</label>

    <button
      id="action"
      type="submit"
      [disabled]="loading()"
      mat-flat-button
      class="large"
      (click)="setToken($event)"
    >
      {{ 'app.ok' | translate }}
      @if (loading()) {
        ...
      }
    </button>
  } @else {
    <label class="timer error-text">{{ 'login.tokenExpired' | translate }}</label>

    <button
      id="action"
      type="submit"
      [disabled]="loading()"
      mat-flat-button
      class="large error-button"
      (click)="sendTokenAgain()"
    >
      {{ 'login.resendToken' | translate }}
      @if (loading()) {
        ...
      }
    </button>
  }
</form>
