button#action {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

input {
  direction: ltr;
  text-align: center;
}

mat-form-field {
  width: 64px;
}

#token-containers {
  direction: ltr;
}

.timer {
  font-size: 11px;
  margin-top: -24px;
}

.edit-phone-button {
  width: fit-content;
}
