img {
  width: 100%;
}

p {
  text-align: center;
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    flex: 1;
    max-width: 300px;
  }
}

#close-button {
  position: absolute;
  left: 8px;
  top: 8px;
}
