<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-toolbar class="content-toolbar" fxLayout="row" fxLayoutGap="8px">
    <button mat-icon-button goBack type="button">
      <i class="fa-regular fa-arrow-right"></i>
    </button>
    <h2 fxFlex>
      @if (section()) {
        {{ 'homeSections.editCategoryList' | translate }}
      } @else {
        {{ 'homeSections.newCategoryList' | translate }}
      }
    </h2>
    <button mat-button (click)="location.back()" type="button">
      {{ 'app.cancel' | translate }}
    </button>
    <button mat-flat-button [disabled]="form.invalid || !form.dirty" type="submit">
      {{ 'app.save' | translate }}
    </button>
  </mat-toolbar>

  <main p-md w-md fxLayout="column" fxLayoutGap="24px">
    <mat-card appearance="outlined">
      <mat-card-content fxLayout="column" fxLayoutGap="24px">
        <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
          <mat-label>{{ 'app.title' | translate }}</mat-label>
          <input matInput formControlName="title" />
          <mat-hint>{{ 'homeSections.titleHint' | translate }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
          <mat-label>{{ 'homeSections.viewType' | translate }}</mat-label>
          <mat-select formControlName="viewType">
            <mat-option [value]="CategoryListViewType.Carousel">
              {{ 'homeSections.carousel' | translate }}
            </mat-option>
            <mat-option [value]="CategoryListViewType.Grid">
              {{ 'homeSections.grid' | translate }}
            </mat-option>
            <mat-option [value]="CategoryListViewType.Button">
              {{ 'homeSections.button' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        @if (form.controls.viewType.value === CategoryListViewType.Grid) {
          <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
            <mat-label>{{ 'homeSections.gridCols' | translate }}</mat-label>
            <input matInput type="number" formControlName="gridCols" min="1" max="6" />
            <mat-hint>{{ 'homeSections.gridColsHint' | translate }}</mat-hint>
          </mat-form-field>
        }

        @if (form.controls.viewType.value === CategoryListViewType.Carousel || form.controls.viewType.value === CategoryListViewType.Button) {
          <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
            <mat-label>{{ 'homeSections.carouselRows' | translate }}</mat-label>
            <input matInput type="number" formControlName="carouselRows" min="1" max="4" />
            <mat-hint>{{ 'homeSections.carouselRowsHint' | translate }}</mat-hint>
          </mat-form-field>
        }
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ 'homeSections.categories' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutGap="24px">
        <br />
        <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'" fxFlex>
          <mat-label>{{ 'homeSections.selectCategories' | translate }}</mat-label>
          <input
            matInput
            [(ngModel)]="searchCategoryInput"
            [matAutocomplete]="auto"
            [ngModelOptions]="{ standalone: true }"
            placeholder="{{ 'homeSections.selectCategories' | translate }}"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            autoActiveFirstOption
            (optionSelected)="selectCategory($event.option.value)"
          >
            @for (category of filteredCategories(); track category.id) {
              <mat-option [value]="category">
                {{ category.title }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        @if (form.controls.categoryIds.value.length > 0) {
          <mat-list cdkDropList (cdkDropListDropped)="moveCategory($event)" class="category-list">
            @for (categoryId of form.controls.categoryIds.value; track categoryId; let i = $index) {
              @if (getCategoryById(categoryId)) {
                <mat-list-item cdkDrag>
                  <i matListItemIcon class="fa-solid fa-grip-vertical" cdkDragHandle></i>
                  <span matListItemTitle>{{ getCategoryById(categoryId)?.title }}</span>
                  <button mat-icon-button matListItemMeta (click)="removeCategory(categoryId)">
                    <i class="fa-regular fa-trash-alt"></i>
                  </button>
                </mat-list-item>
              }
            }
          </mat-list>
        } @else {
          <app-empty-state icon="layer-group" [text]="'homeSections.noCategoriesSelected' | translate" />
        }
      </mat-card-content>
    </mat-card>
  </main>
</form>

