<mat-card appearance="outlined" id="category_{{ category()?.id }}">
  <mat-card-header>
    <mat-card-title>
      @if (category()?.faIcon) {
        <i class="fa-solid fa-{{ category()?.faIcon }}"></i>
      }
      {{ category()?.title }}
      <button mat-button routerLink="../product" [queryParams]="{ categoryId: category()?.id }">
        <i class="fa-regular fa-edit fa-sm"></i>
        <span fxHide.xs>
          {{ 'menu.editCategory' | translate }}
        </span>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions fxLayoutGap="8px">
    <button mat-stroked-button routerLink="../product" [queryParams]="{ categoryId: category()?.id }">
      <i class="fa-regular fa-plus fa-sm"></i>
      <span fxHide.xs>
        {{ 'menu.addProduct' | translate }}
      </span>
    </button>
    <button mat-button (click)="openSortItemsDialog()">
      <i class="fa-regular fa-sort fa-sm"></i>
      <span fxHide.xs>
        {{ 'menu.sortProducts' | translate: { value: '' } }}
      </span>
    </button>
    <app-menu-status-chip
      title="{{ 'menu.category' | translate }}"
      [status]="category()?.status"
      (statusChange)="statusChange($event)"
    />
  </mat-card-actions>
  <mat-divider />
  <mat-card-content>
    <app-product-table [category]="category()" />
  </mat-card-content>
</mat-card>
