.invoice-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--mat-sys-surface-container);
  border-radius: 12px;
}

.invoice-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.invoice-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.discount {
    color: var(--mat-sys-error);
  }

  &.total {
    margin-top: 8px;
  }
}

.invoice-divider {
  margin: 8px 0;
}
