<mat-list class="invoice-list">
  <mat-list-item class="invoice-row">
    <span matListItemTitle>مجموع اقلام ({{ cart.length() }})</span>
    <span matListItemMeta class="invoice-amount">{{ cart.realSum() | number }} تومان</span>
  </mat-list-item>

  @if (cart.sumDiscount()) {
    <mat-list-item class="invoice-row">
      <span matListItemTitle>تخفیف</span>
      <span matListItemMeta class="invoice-amount">{{ cart.sumDiscount() | number }} تومان</span>
    </mat-list-item>
  }

  @for (item of cart.abstractItems(); track item.title) {
    <mat-list-item class="invoice-row">
      <span matListItemTitle>
        {{ item.title }}
        @if (item.title === DELIVERY_COST_TITLE && cart.address()?.deliveryArea?.label) {
          - {{ cart.address()?.deliveryArea?.label }}
        }
      </span>
      <span matListItemMeta class="invoice-amount">{{ (item.price > 0 ? item.price : -item.price) | number }} تومان</span>
    </mat-list-item>
  }

  @if (cart.totalDiscount()) {
    <mat-list-item class="invoice-row">
      <span matListItemTitle class="success-text">تخفیف نهایی</span>
      <span matListItemMeta class="success-text invoice-amount">{{ cart.totalDiscount() | number }} تومان -</span>
    </mat-list-item>
  }

  <mat-list-item class="invoice-total-row">
    <span matListItemTitle class="total-text">جمع کل</span>
    <span matListItemMeta>
      <span class="total-text invoice-amount"> {{ cart.total() | number }} تومان </span>
    </span>
  </mat-list-item>
</mat-list>

<div class="coupon-container">
  @if (cart.coupon()) {
    <div class="coupon-applied">
      <div class="coupon-applied__info">
        <ng-icon [svg]="couponIcon" size="20" class="text-success"></ng-icon>
        <span class="coupon-applied__label">کد تخفیف اعمال شد</span>
      </div>
      <button mat-icon-button color="warn" (click)="cart.coupon.set(undefined)">
        <ng-icon [svg]="removeIcon" size="20"></ng-icon>
      </button>
    </div>
  } @else {
    <button mat-stroked-button class="coupon-add-button" (click)="addCoupon()">
      <ng-icon [svg]="couponIcon" size="18" middle></ng-icon>
      ثبت کد تخفیف
    </button>
  }
</div>
