::host {
  position: relative;
}

#col-settings {
  position: absolute;
  top: 24px;
  left: 16px;
}

tr.selectable-row:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

tr.new {
  background-color: var(--mat-sys-error-container) !important;
}
