<table mat-table [dataSource]="orderMessages">
  <ng-container matColumnDef="event">
    <th mat-header-cell *matHeaderCellDef>{{ 'smsSettings.event' | translate }}</th>
    <td mat-cell *matCellDef="let message">
      <span>{{ 'smsSettings.eventType.' + message.event | translate }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>{{ 'smsSettings.orderType' | translate }}</th>
    <td mat-cell *matCellDef="let message">
      @if (message.type != undefined) {
        <span>{{ message.type | orderType }}</span>
      }
      @if (message.type == undefined) {
        <span>{{ 'app.all' | translate }}</span>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>{{ 'smsSettings.orderState' | translate }}</th>
    <td mat-cell *matCellDef="let message">
      @if (message.state != undefined) {
        <span>{{ message.state | orderState }}</span>
      }
      @if (message.state == undefined) {
        <span>{{ 'app.all' | translate }}</span>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="payment">
    <th mat-header-cell *matHeaderCellDef>{{ 'smsSettings.orderPayment' | translate }}</th>
    <td mat-cell *matCellDef="let message">
      @if (message.payment != undefined) {
        <span>{{ message.payment | orderPayment }}</span>
      }
      @if (message.payment == undefined) {
        <span>{{ 'app.all' | translate }}</span>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="manual">
    <th mat-header-cell *matHeaderCellDef>{{ 'smsSettings.orderManual' | translate }}</th>
    <td mat-cell *matCellDef="let message">
      @if (message.isManual != undefined) {
        <span>{{ message.isManual }}</span>
      }
      @if (message.isManual == undefined) {
        <span>{{ 'app.all' | translate }}</span>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="template">
    <th mat-header-cell *matHeaderCellDef>{{ 'smsSettings.smsTemplate' | translate }}</th>
    <td mat-cell *matCellDef="let message">
      <button mat-stroked-button (click)="setTemplate(message)">
        {{ message.smsTemplate ? message.smsTemplate.title : ('smsSettings.setSmsTemplate' | translate) }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delay">
    <th mat-header-cell *matHeaderCellDef>{{ 'smsSettings.delay' | translate }}</th>
    <td mat-cell *matCellDef="let message">
      <span>{{ message.delayInMinutes }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.status' | translate }}</th>
    <td mat-cell *matCellDef="let message" class="form-theme">
      <mat-slide-toggle
        [disabled]="message.status === Status.Pending"
        [checked]="message.status == Status.Active"
        (change)="changeMessageStatus(message, $event)"
        >
        {{ (message.status ? 'app.active' : 'app.inactive') | translate }}
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let message">
      <button mat-icon-button (click)="onEdit.emit(message)">
        <i class="fa-regular fa-pencil-alt"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
