.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  min-height: 64px;
  z-index: 1000;

  #checkout-action {
    height: 56px;
    &__texts {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &__button {
      width: 180px;
    }
  }

  #nav-row {
    padding: 0;
    height: 64px;
    background-color: inherit;
    z-index: 100;
  }

  .nav-button {
    flex: 1;
    padding: 8px 12px;
    min-width: 0;
    height: 64px;
    border-radius: 0;
    color: var(--mat-sys-outline);

    .nav-button_content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    .nav-label {
      font: var(--mat-sys-label-small);
      line-height: 1;
    }

    &.active {
      color: var(--mat-toolbar-container-text-color, inherit);
    }
  }
}

.slide-animation {
  animation: slide 0.2s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
