<table
  mat-table
  [dataSource]="category()?.products || []"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  cdkDropListData="dataSource"
>
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.index' | translate }}</th>
    <td mat-cell *matCellDef="let product; let i = index" style="width: 72px">
      <i class="fa-solid fa-grip-dots-vertical middle" cdkDragHandle></i>
      <span eng>
        {{ i + 1 }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.image' | translate }}</th>
    <td mat-cell *matCellDef="let product" style="width: 48px">
      <div
        class="product-image"
        imageLoader
        [imageFile]="product.imageFiles?.[0] || product.imageFiles"
        placeholderImageSize="sm"
        FFB300
      ></div>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.title' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      {{ product.title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.price' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      <mat-chip-set>
        @if (product.variants?.length) {
          @for (variant of product.variants; track variant.id) {
            <mat-chip (click)="changeProductVariantPrice(product, variant)">
              {{ variant.title }}: {{ variant.price | number | menuCurrency }}
            </mat-chip>
          }
        } @else {
          <mat-chip (click)="changeProductPrice(product)">
            {{ product.price | number | menuCurrency }}
          </mat-chip>
        }
      </mat-chip-set>
    </td>
  </ng-container>

  <ng-container matColumnDef="costs">
    <th mat-header-cell *matHeaderCellDef>{{ 'menu.costs' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      <mat-chip-set>
        @for (cost of product.costs; track cost.id) {
          @if (cost.status) {
            <mat-chip (click)="editCost(cost)">
              {{ cost.title }}:
              @if (cost.percentageCost) {
                {{ cost.percentageCost }}%
              }
              @if (cost.fixedCost) {
                {{ cost.fixedCost | number | menuCurrency }}
              }
            </mat-chip>
          }
        }
      </mat-chip-set>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.status' | translate }}</th>
    <td mat-cell *matCellDef="let product">
      <mat-chip-set>
        @if (category()?.status === Status.Active) {
          @if (product.variants?.length && product.status === Status.Active) {
            @for (variant of product.variants; track variant.id) {
              <app-menu-status-chip
                [title]="variant.title"
                [status]="variant.status"
                (statusChange)="changeProductVariantStatus(product, variant, $event)"
              />
            }
          } @else {
            <app-menu-status-chip
              [status]="product.status"
              (statusChange)="changeProductStatus(product, $event)"
            />
          }
        } @else {
          <app-menu-status-chip
            [disabled]="true"
            title="{{ 'menu.category' | translate }}"
            [status]="category()!.status"
          />
        }
      </mat-chip-set>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let product" style="width: 128px">
      <button mat-icon-button routerLink="../product" [queryParams]="{ id: product.id }">
        <i class="fa-regular fa-edit fa-xs"></i>
      </button>
      <button mat-icon-button>
        <i class="fa-regular fa-trash-alt fa-xs"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag></tr>
</table>

@if (category()?.products?.length === 0) {
  <app-empty-state />
}
