/* primary */
$palette-primary0: var(--md-ref-palette-primary0);
$palette-primary10: var(--md-ref-palette-primary10);
$palette-primary20: var(--md-ref-palette-primary20);
$palette-primary30: var(--md-ref-palette-primary30);
$palette-primary40: var(--md-ref-palette-primary40);
$palette-primary50: var(--md-ref-palette-primary50);
$palette-primary60: var(--md-ref-palette-primary60);
$palette-primary70: var(--md-ref-palette-primary70);
$palette-primary80: var(--md-ref-palette-primary80);
$palette-primary90: var(--md-ref-palette-primary90);
$palette-primary95: var(--md-ref-palette-primary95);
$palette-primary99: var(--md-ref-palette-primary99);
$palette-primary100: var(--md-ref-palette-primary100);
/* secondary */
$palette-secondary0: var(--md-ref-palette-secondary0);
$palette-secondary10: var(--md-ref-palette-secondary10);
$palette-secondary20: var(--md-ref-palette-secondary20);
$palette-secondary30: var(--md-ref-palette-secondary30);
$palette-secondary40: var(--md-ref-palette-secondary40);
$palette-secondary50: var(--md-ref-palette-secondary50);
$palette-secondary60: var(--md-ref-palette-secondary60);
$palette-secondary70: var(--md-ref-palette-secondary70);
$palette-secondary80: var(--md-ref-palette-secondary80);
$palette-secondary90: var(--md-ref-palette-secondary90);
$palette-secondary95: var(--md-ref-palette-secondary95);
$palette-secondary99: var(--md-ref-palette-secondary99);
$palette-secondary100: var(--md-ref-palette-secondary100);
/* tertiary */
$palette-tertiary0: var(--md-ref-palette-tertiary0);
$palette-tertiary10: var(--md-ref-palette-tertiary10);
$palette-tertiary20: var(--md-ref-palette-tertiary20);
$palette-tertiary30: var(--md-ref-palette-tertiary30);
$palette-tertiary40: var(--md-ref-palette-tertiary40);
$palette-tertiary50: var(--md-ref-palette-tertiary50);
$palette-tertiary60: var(--md-ref-palette-tertiary60);
$palette-tertiary70: var(--md-ref-palette-tertiary70);
$palette-tertiary80: var(--md-ref-palette-tertiary80);
$palette-tertiary90: var(--md-ref-palette-tertiary90);
$palette-tertiary95: var(--md-ref-palette-tertiary95);
$palette-tertiary99: var(--md-ref-palette-tertiary99);
$palette-tertiary100: var(--md-ref-palette-tertiary100);
/* error */
$palette-error0: var(--md-ref-palette-error0);
$palette-error10: var(--md-ref-palette-error10);
$palette-error20: var(--md-ref-palette-error20);
$palette-error30: var(--md-ref-palette-error30);
$palette-error40: var(--md-ref-palette-error40);
$palette-error50: var(--md-ref-palette-error50);
$palette-error60: var(--md-ref-palette-error60);
$palette-error70: var(--md-ref-palette-error70);
$palette-error80: var(--md-ref-palette-error80);
$palette-error90: var(--md-ref-palette-error90);
$palette-error95: var(--md-ref-palette-error95);
$palette-error99: var(--md-ref-palette-error99);
$palette-error100: var(--md-ref-palette-error100);
/* neutral */
$palette-neutral0: var(--md-ref-palette-neutral0);
$palette-neutral10: var(--md-ref-palette-neutral10);
$palette-neutral20: var(--md-ref-palette-neutral20);
$palette-neutral30: var(--md-ref-palette-neutral30);
$palette-neutral40: var(--md-ref-palette-neutral40);
$palette-neutral50: var(--md-ref-palette-neutral50);
$palette-neutral60: var(--md-ref-palette-neutral60);
$palette-neutral70: var(--md-ref-palette-neutral70);
$palette-neutral80: var(--md-ref-palette-neutral80);
$palette-neutral90: var(--md-ref-palette-neutral90);
$palette-neutral95: var(--md-ref-palette-neutral95);
$palette-neutral99: var(--md-ref-palette-neutral99);
$palette-neutral100: var(--md-ref-palette-neutral100);
/* neutral-variant */
$palette-neutral-variant0: var(--md-ref-palette-neutral-variant0);
$palette-neutral-variant10: var(--md-ref-palette-neutral-variant10);
$palette-neutral-variant20: var(--md-ref-palette-neutral-variant20);
$palette-neutral-variant30: var(--md-ref-palette-neutral-variant30);
$palette-neutral-variant40: var(--md-ref-palette-neutral-variant40);
$palette-neutral-variant50: var(--md-ref-palette-neutral-variant50);
$palette-neutral-variant60: var(--md-ref-palette-neutral-variant60);
$palette-neutral-variant70: var(--md-ref-palette-neutral-variant70);
$palette-neutral-variant80: var(--md-ref-palette-neutral-variant80);
$palette-neutral-variant90: var(--md-ref-palette-neutral-variant90);
$palette-neutral-variant95: var(--md-ref-palette-neutral-variant95);
$palette-neutral-variant99: var(--md-ref-palette-neutral-variant99);
$palette-neutral-variant100: var(--md-ref-palette-neutral-variant100);
/* light */
$color-primary-light: var(--md-sys-color-primary-light);
$color-on-primary-light: var(--md-sys-color-on-primary-light);
$color-primary-container-light: var(--md-sys-color-primary-container-light);
$color-on-primary-container-light: var(--md-sys-color-on-primary-container-light);
$color-secondary-light: var(--md-sys-color-secondary-light);
$color-on-secondary-light: var(--md-sys-color-on-secondary-light);
$color-secondary-container-light: var(--md-sys-color-secondary-container-light);
$color-on-secondary-container-light: var(--md-sys-color-on-secondary-container-light);
$color-tertiary-light: var(--md-sys-color-tertiary-light);
$color-on-tertiary-light: var(--md-sys-color-on-tertiary-light);
$color-tertiary-container-light: var(--md-sys-color-tertiary-container-light);
$color-on-tertiary-container-light: var(--md-sys-color-on-tertiary-container-light);
$color-error-light: var(--md-sys-color-error-light);
$color-on-error-light: var(--md-sys-color-on-error-light);
$color-error-container-light: var(--md-sys-color-error-container-light);
$color-on-error-container-light: var(--md-sys-color-on-error-container-light);
$color-outline-light: var(--md-sys-color-outline-light);
$color-background-light: var(--md-sys-color-background-light);
$color-on-background-light: var(--md-sys-color-on-background-light);
$color-surface-light: var(--md-sys-color-surface-light);
$color-on-surface-light: var(--md-sys-color-on-surface-light);
$color-surface-variant-light: var(--md-sys-color-surface-variant-light);
$color-on-surface-variant-light: var(--md-sys-color-on-surface-variant-light);
$color-inverse-surface-light: var(--md-sys-color-inverse-surface-light);
$color-inverse-on-surface-light: var(--md-sys-color-inverse-on-surface-light);
$color-inverse-primary-light: var(--md-sys-color-inverse-primary-light);
$color-shadow-light: var(--md-sys-color-shadow-light);
$color-surface-tint-light: var(--md-sys-color-surface-tint-light);
$color-outline-variant-light: var(--md-sys-color-outline-variant-light);
$color-scrim-light: var(--md-sys-color-scrim-light);
/* dark */
$color-primary-dark: var(--md-sys-color-primary-dark);
$color-on-primary-dark: var(--md-sys-color-on-primary-dark);
$color-primary-container-dark: var(--md-sys-color-primary-container-dark);
$color-on-primary-container-dark: var(--md-sys-color-on-primary-container-dark);
$color-secondary-dark: var(--md-sys-color-secondary-dark);
$color-on-secondary-dark: var(--md-sys-color-on-secondary-dark);
$color-secondary-container-dark: var(--md-sys-color-secondary-container-dark);
$color-on-secondary-container-dark: var(--md-sys-color-on-secondary-container-dark);
$color-tertiary-dark: var(--md-sys-color-tertiary-dark);
$color-on-tertiary-dark: var(--md-sys-color-on-tertiary-dark);
$color-tertiary-container-dark: var(--md-sys-color-tertiary-container-dark);
$color-on-tertiary-container-dark: var(--md-sys-color-on-tertiary-container-dark);
$color-error-dark: var(--md-sys-color-error-dark);
$color-on-error-dark: var(--md-sys-color-on-error-dark);
$color-error-container-dark: var(--md-sys-color-error-container-dark);
$color-on-error-container-dark: var(--md-sys-color-on-error-container-dark);
$color-outline-dark: var(--md-sys-color-outline-dark);
$color-background-dark: var(--md-sys-color-background-dark);
$color-on-background-dark: var(--md-sys-color-on-background-dark);
$color-surface-dark: var(--md-sys-color-surface-dark);
$color-on-surface-dark: var(--md-sys-color-on-surface-dark);
$color-surface-variant-dark: var(--md-sys-color-surface-variant-dark);
$color-on-surface-variant-dark: var(--md-sys-color-on-surface-variant-dark);
$color-inverse-surface-dark: var(--md-sys-color-inverse-surface-dark);
$color-inverse-on-surface-dark: var(--md-sys-color-inverse-on-surface-dark);
$color-inverse-primary-dark: var(--md-sys-color-inverse-primary-dark);
$color-shadow-dark: var(--md-sys-color-shadow-dark);
$color-surface-tint-dark: var(--md-sys-color-surface-tint-dark);
$color-outline-variant-dark: var(--md-sys-color-outline-variant-dark);
$color-scrim-dark: var(--md-sys-color-scrim-dark);

// system
$color-primary: var(--md-sys-color-primary);
$color-on-primary: var(--md-sys-color-on-primary);
$color-primary-container: var(--md-sys-color-primary-container);
$color-on-primary-container: var(--md-sys-color-on-primary-container);
$color-secondary: var(--md-sys-color-secondary);
$color-on-secondary: var(--md-sys-color-on-secondary);
$color-secondary-container: var(--md-sys-color-secondary-container);
$color-on-secondary-container: var(--md-sys-color-on-secondary-container);
$color-tertiary: var(--md-sys-color-tertiary);
$color-on-tertiary: var(--md-sys-color-on-tertiary);
$color-tertiary-container: var(--md-sys-color-tertiary-container);
$color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
$color-error: var(--md-sys-color-error);
$color-error-container: var(--md-sys-color-error-container);
$color-on-error: var(--md-sys-color-on-error);
$color-on-error-container: var(--md-sys-color-on-error-container);
$color-background: var(--md-sys-color-background);
$color-on-background: var(--md-sys-color-on-background);
$color-surface: var(--md-sys-color-surface);
$color-on-surface: var(--md-sys-color-on-surface);
$color-surface-variant: var(--md-sys-color-surface-variant);
$color-on-surface-variant: var(--md-sys-color-on-surface-variant);
$color-outline: var(--md-sys-color-outline);
$color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
$color-inverse-surface: var(--md-sys-color-inverse-surface);
$color-inverse-primary: var(--md-sys-color-inverse-primary);
$color-shadow: var(--md-sys-color-shadow);
$color-surface-tint: var(--md-sys-color-surface-tint);
$color-outline-variant: var(--md-sys-color-outline-variant);
$color-scrim: var(--md-sys-color-scrim);
