/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

:root {
  // Fix ripple colors somehow
  .mat-ripple-element {
    background-color: var(--mat-ripple-color, rgba(0, 0, 0, 0.1)) !important;
  }
}

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      use-system-variables: true,
    ),
    typography: (
      plain-family: 'IRANSans',
      brand-family: 'IRANSans',
      bold-weight: 900,
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      use-system-variables: true,
    ),
    typography: (
      plain-family: 'IRANSans',
      brand-family: 'IRANSans',
      bold-weight: 900,
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

@mixin setTheme($theme) {
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);
  @include mat.system-level-typography($theme);

  .tertiary-button {
    @include mat.button-color($theme, $color-variant: tertiary);
  }

  .error-button {
    @include mat.button-color($theme, $color-variant: error);
  }
}

html,
body {
  &:not(.dark) {
    @include setTheme($light-theme);
  }
  &.dark {
    @include setTheme($dark-theme);
  }
}
