/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

:root {
  // Fix ripple colors somehow
  .mat-ripple-element {
    background-color: var(--mat-ripple-color, rgba(0, 0, 0, 0.1)) !important;
  }

  @include mat.divider-overrides(
    (
      color: var(--mat-sys-outline-variant),
    )
  );

  @include mat.card-overrides(
    (
      outlined-container-color: var(--mat-sys-background),
    )
  );
}

html,
body {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: 'IRANYekanX',
    )
  );
  color: var(--mat-sys-on-background);

  .tertiary-button {
    @include mat.theme-overrides(
      (
        primary: light-dark(#161616, #e6e6e6),
        on-primary: light-dark(#ffffff, #131313),
      )
    );
  }

  .error-button {
    @include mat.theme-overrides(
      (
        primary: #db3b21,
        on-primary: #ffffff,
      )
    );
  }

  .form-theme {
    @include mat.theme-overrides(
      (
        primary: #2eb85c,
        on-primary: #ffffff,
      )
    );
  }

  &.dark {
    color-scheme: dark;
  }
}
