<div class="page-container">
  <h1>My Orders</h1>
  <div class="orders-container">
    @if (query.isPending()) {
      <div class="loading-shade">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    }

    @if (query.data()) {
      <div class="orders-list">
        @for (order of query.data(); track order.id) {
          <mat-card class="order-card" appearance="outlined" [routerLink]="['/orders', order.id]">
            <mat-card-header>
              <div mat-card-avatar class="order-avatar" [appImageLoader]="order.shop?.logo"></div>
              <mat-card-title>{{ order.shop?.title }}</mat-card-title>
              <mat-card-subtitle>{{ order.createdAt | date: 'medium' }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="order-details">
                <span class="price">{{ order.totalPrice | currency: 'IRR' : 'symbol-narrow' }}</span>
                <span class="status">Order #{{ order.qNumber }}</span>
              </div>
              <div class="order-status">Status: {{ order.state }}</div>
            </mat-card-content>
          </mat-card>
        }
      </div>

      <mat-paginator
        [length]="total()"
        [pageSize]="pageSize"
        [pageIndex]="page()"
        [hidePageSize]="true"
        (page)="onPageChange($event)"
        aria-label="Select page of orders"
      >
      </mat-paginator>
    }
  </div>
</div>
