img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  vertical-align: middle;
}

.cost-chips {
  vertical-align: middle;
  display: inline-flex;

  mat-chip-option {
    font-size: 12px;
  }
}
