<mat-toolbar class="content-toolbar">
  <button mat-icon-button goBack>
    <i class="fa-regular fa-arrow-right"></i>
  </button>
  <h1 flex>{{ 'thirdParties.pageTitle' | translate }}</h1>
</mat-toolbar>

<main w-xs p-md>
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <img matListItemAvatar src="images/zarinpal.png" />
          <span matListItemTitle>{{ 'thirdParties.zarinpal.title' | translate }}</span>
          <span matListItemLine>{{ 'thirdParties.zarinpal.description' | translate }}</span>
          <div matListItemMeta class="actions">
            <button mat-stroked-button routerLink="zarinpal">
              {{ 'thirdParties.setup' | translate }}
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <img matListItemAvatar src="images/zibal.png" />
          <span matListItemTitle>{{ 'thirdParties.zibal.title' | translate }}</span>
          <span matListItemLine>{{ 'thirdParties.zibal.description' | translate }}</span>
          <div matListItemMeta class="actions">
            <button mat-stroked-button routerLink="zibal">
              {{ 'thirdParties.setup' | translate }}
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <img matListItemAvatar src="images/sizpay.png" />
          <span matListItemTitle>{{ 'thirdParties.sizpay.title' | translate }}</span>
          <span matListItemLine>{{ 'thirdParties.sizpay.description' | translate }}</span>
          <div matListItemMeta class="actions">
            <button mat-stroked-button routerLink="sizpay">
              {{ 'thirdParties.setup' | translate }}
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <img matListItemAvatar src="icons/alopeyk.png" />
          <span matListItemTitle>{{ 'thirdParties.alopeyk.title' | translate }}</span>
          <span matListItemLine>{{ 'thirdParties.alopeyk.description' | translate }}</span>
          <div matListItemMeta class="actions">
            <button mat-stroked-button routerLink="alopeyk">
              {{ 'thirdParties.setup' | translate }}
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <img matListItemAvatar src="images/basalam.jpg" />
          <span matListItemTitle>{{ 'thirdParties.basalam.title' | translate }}</span>
          <span matListItemLine>{{ 'thirdParties.basalam.description' | translate }}</span>
          <div matListItemMeta class="actions">
            <button mat-stroked-button routerLink="basalam">
              {{ 'thirdParties.setup' | translate }}
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</main>
