@import 'theme';

.mat-button-toggle-checked[color='warn'] {
  background-color: $red !important;
}

mat-spinner {
  margin: 24px auto;
}

main {
  padding: 24px;
  max-width: 800px;
}

.image-section {
  padding: 16px;
  img {
    width: 200px;
    border-radius: 16px;
  }
}

.image-options {
  display: flex;
  gap: 16px;
}

.image-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.03);
  width: fit-content;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  &.selected {
    box-shadow: 0 0 4px 2px $blue;
  }

  img {
    width: 160px;
    border-radius: 8px;
  }
}
