<div class="wrapper" *ngIf="shop">
  <div class="content">
    <img [imageLoader]="shop.logo" id="logo" class="mat-elevation-z3"/>
    <h1 id="title">{{ shop.title }}</h1>
    <p *ngIf="shop.description" id="description">{{ shop.description }}</p>
    <button mat-raised-button color="primary" routerLink="/menu" class="submit-button">
      مشاهده منو و ثبت سفارش
      <i class="fa-solid fa-utensils fa-large"></i>
    </button>

    <mat-toolbar flex-row>
      <button mat-button flex (click)="openShopInfoModal()">
        اطلاعات مجموعه
      </button>
      <mat-divider vertical></mat-divider>
      <button mat-button flex>
        باشگاه مشتریان
      </button>
    </mat-toolbar>
  </div>
</div>
