<mat-toolbar class="content-toolbar">
  <h1 fxFlex>
    {{ 'members.title' | translate }}
  </h1>
  <span fxFlex></span>
  <button mat-flat-button (click)="downloadCsv()">
    {{ 'members.downloadCsv' | translate }}
  </button>
</mat-toolbar>
<main p-md w-lg fxLayout="column" fxLayoutGap="24px">
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-members-table
        [data]="query.data()?.data"
        [startIndex]="filterDto().skip ?? 0"
        (sortChange)="onSortChange($event)"
        [sortBy]="filterDto().sortBy"
        [sortType]="filterDto().sortType"
      />
      <mat-paginator
        [length]="query.data()?.totalCount || 0"
        [pageSize]="filterDto().take"
        [pageIndex]="(filterDto().skip ?? 0) / (filterDto().take ?? 25)"
        [pageSizeOptions]="[25, 50, 100]"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</main>
