@let selectedMembersLength = selectedMembers()?.length;
<mat-toolbar class="content-toolbar">
  <h1 fxFlex>
    {{ 'members.title' | translate }}
  </h1>
  <span fxFlex></span>
  <button mat-flat-button (click)="downloadCsv()">
    {{ 'members.downloadCsv' | translate }}
  </button>
</mat-toolbar>
<main p-md fxLayout="column" fxLayoutGap="24px">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutGap="8px" style="font-size: 18px">
      @if (selectedMembersLength) {
        {{ 'members.selectedMembers' | translate: { value: selectedMembersLength | number } }}
        <button mat-button (click)="onSelectAll(false)">
          <i class="fa-solid fa-xmark-circle"></i>
          {{ 'members.deselectAll' | translate }}
        </button>
      } @else {
        <button mat-stroked-button (click)="openFilterDialog()">
          {{ 'members.filterTitle' | translate }}
        </button>
        <small>{{ 'app.number' | translate: { value: query.data()?.totalCount | number } }}</small>
      }
      <span fxFlex></span>
      @if (query.data()) {
        @let totalCount = selectedMembersLength || query.data()?.totalCount;
        <button
          mat-button
          (click)="sendMessage()"
          matTooltip="{{ 'members.filterTooltip' | translate: { value: totalCount | number } }}"
        >
          <i class="fa-regular fa-message"></i>
          {{ 'members.sendSms' | translate }}
        </button>
        <button
          mat-button
          (click)="chargeWallet()"
          matTooltip="{{ 'members.filterTooltip' | translate: { value: totalCount | number } }}"
        >
          <i class="fa-regular fa-wallet"></i>
          {{ 'members.chargeWallet' | translate }}
        </button>
      }
    </mat-toolbar-row>
    @if (hasActiveFilters()) {
      <mat-toolbar-row>
        <mat-chip-set>
          @if (filterDto().query) {
            <mat-chip (click)="removeFilter('query')">
              {{ 'members.query' | translate }}: {{ filterDto().query }}
              <i class="fa-solid fa-xmark-circle"></i>
            </mat-chip>
          }
          @if (filterDto().joinedAtFromDate || filterDto().joinedAtToDate) {
            <mat-chip (click)="removeFilter('joinedAt')">
              {{ 'members.joinedAtDateRange' | translate }}:
              @if (filterDto().joinedAtFromDate) {
                <span>{{ filterDto().joinedAtFromDate | pdate }}</span>
              }
              @if (filterDto().joinedAtFromDate && filterDto().joinedAtToDate) {
                <span> - </span>
              }
              @if (filterDto().joinedAtToDate) {
                <span>{{ filterDto().joinedAtToDate | pdate }}</span>
              }
              <i class="fa-solid fa-xmark-circle"></i>
            </mat-chip>
          }
          @if (filterDto().lastVisitFromDate || filterDto().lastVisitToDate) {
            <mat-chip (click)="removeFilter('lastVisit')">
              {{ 'members.lastVisitDateRange' | translate }}:
              @if (filterDto().lastVisitFromDate) {
                <span>{{ filterDto().lastVisitFromDate | pdate }}</span>
              }
              @if (filterDto().lastVisitFromDate && filterDto().lastVisitToDate) {
                <span> - </span>
              }
              @if (filterDto().lastVisitToDate) {
                <span>{{ filterDto().lastVisitToDate | pdate }}</span>
              }
              <i class="fa-solid fa-xmark-circle"></i>
            </mat-chip>
          }
          @if (filterDto().firstOrderFromDate || filterDto().firstOrderToDate) {
            <mat-chip (click)="removeFilter('firstOrder')">
              {{ 'members.firstOrderDateRange' | translate }}:
              @if (filterDto().firstOrderFromDate) {
                <span>{{ filterDto().firstOrderFromDate | pdate }}</span>
              }
              @if (filterDto().firstOrderFromDate && filterDto().firstOrderToDate) {
                <span> - </span>
              }
              @if (filterDto().firstOrderToDate) {
                <span>{{ filterDto().firstOrderToDate | pdate }}</span>
              }
              <i class="fa-solid fa-xmark-circle"></i>
            </mat-chip>
          }
          @if (filterDto().lastOrderFromDate || filterDto().lastOrderToDate) {
            <mat-chip (click)="removeFilter('lastOrder')">
              {{ 'members.lastOrderDateRange' | translate }}:
              @if (filterDto().lastOrderFromDate) {
                <span>{{ filterDto().lastOrderFromDate | pdate }}</span>
              }
              @if (filterDto().lastOrderFromDate && filterDto().lastOrderToDate) {
                <span> - </span>
              }
              @if (filterDto().lastOrderToDate) {
                <span>{{ filterDto().lastOrderToDate | pdate }}</span>
              }
              <i class="fa-solid fa-xmark-circle"></i>
            </mat-chip>
          }
          @if (
            filterDto().minOrderCount ||
            filterDto().maxOrderCount ||
            filterDto().orderFromDate ||
            filterDto().orderToDate
          ) {
            <mat-chip (click)="removeFilter('orderCount')">
              {{ 'members.orderCountBasedFilter' | translate }}: {{ filterDto().orderFromDate | pdate }} -
              {{ filterDto().orderToDate | pdate }}
              <i class="fa-solid fa-xmark-circle"></i>
            </mat-chip>
          }
          @let toStar = filterDto().toStar;
          @if (filterDto().fromStar || (toStar && toStar < 5)) {
            <mat-chip (click)="removeFilter('star')">
              {{ 'members.starRange' | translate }}: {{ filterDto().fromStar }} - {{ toStar }}
              <i class="fa-solid fa-xmark-circle"></i>
            </mat-chip>
          }
        </mat-chip-set>
      </mat-toolbar-row>
    }
  </mat-toolbar>
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-members-table
        [data]="query.data()?.data"
        [startIndex]="filterDto().skip ?? 0"
        (sortChange)="onSortChange($event)"
        [sortBy]="filterDto().sortBy"
        [sortType]="filterDto().sortType"
        (starClick)="setStar($event)"
        (walletClick)="chargeWallet($event)"
        (selectMember)="onSelectMember($event.member, $event.checked)"
        (selectAll)="onSelectAll($event)"
        [selectedMembers]="selectedMembersIds()"
      />
      <mat-paginator
        [length]="query.data()?.totalCount || 0"
        [pageSize]="filterDto().take"
        [pageIndex]="(filterDto().skip ?? 0) / (filterDto().take ?? 25)"
        [pageSizeOptions]="[25, 50, 100]"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</main>
