<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-toolbar class="content-toolbar" fxLayout="row" fxLayoutGap="8px">
    <button mat-icon-button goBack type="button">
      <i class="fa-regular fa-arrow-right"></i>
    </button>
    <h2 fxFlex>
      @if (cost()) {
        {{ 'menuCost.editTitle' | translate: { value: this.cost()?.title } }}
      } @else {
        {{ 'menuCost.newTitle' | translate }}
      }
    </h2>
    <button mat-button (click)="location.back()" type="button">
      {{ 'app.cancel' | translate }}
    </button>
    <button mat-flat-button [disabled]="!form.dirty" type="submit">
      {{ 'app.save' | translate }}
    </button>
  </mat-toolbar>
  <main p-md w-md fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutGap="24px" fxFlex>
      <mat-card appearance="outlined">
        <mat-card-content fxLayout="column" fxLayoutGap="24px">
          <h3>{{ 'menuCost.type' | translate }}</h3>
          <p class="mat-caption">{{ 'menuCost.typeDescription' | translate }}</p>

          <mat-button-toggle-group [(ngModel)]="costFactor" [ngModelOptions]="{ standalone: true }">
            <mat-button-toggle fxFlex [value]="-1">
              {{ 'menuCost.discountToggle' | translate }}
            </mat-button-toggle>
            <mat-button-toggle fxFlex [value]="1">
              {{ 'menuCost.costToggle' | translate }}
            </mat-button-toggle>
          </mat-button-toggle-group>

          <span>
            @if (costFactor() === 1) {
              {{ 'menuCost.costHint' | translate }}
            } @else {
              {{ 'menuCost.discountHint' | translate }}
            }
          </span>

          <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
            <mat-label>{{ 'app.title' | translate }}</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card appearance="outlined">
        <mat-card-content fxLayout="column" fxLayoutGap="24px">
          <h3>{{ 'menuCost.amount' | translate }}</h3>
          <p class="mat-caption">{{ 'menuCost.amountDescription' | translate }}</p>

          <mat-button-toggle-group [(ngModel)]="costType" [ngModelOptions]="{ standalone: true }">
            <mat-button-toggle fxFlex value="percentage">
              {{ 'menuCost.percentageType' | translate }}
            </mat-button-toggle>
            <mat-button-toggle fxFlex value="fixed">
              {{ 'menuCost.fixedType' | translate }}
            </mat-button-toggle>
          </mat-button-toggle-group>

          @if (costType() === 'percentage') {
            <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
              <mat-label>{{ 'menuCost.percentageTypeLabel' | translate }}</mat-label>
              <input matInput type="number" formControlName="percentageCost" />
            </mat-form-field>
          }

          @if (costType() === 'fixed') {
            <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
              <mat-label>{{ 'menuCost.fixedTypeLabel' | translate }}</mat-label>
              <input matInput type="number" formControlName="fixedCost" />
            </mat-form-field>
          }
        </mat-card-content>
      </mat-card>
    </div>

    <div fxLayout="column" fxLayoutGap="24px" fxFlex>
      <mat-card appearance="outlined">
        <mat-card-content fxLayout="column" fxLayoutGap="24px">
          <h3>{{ 'menuCost.scope' | translate }}</h3>
          <p class="mat-caption">{{ 'menuCost.scopeDescription' | translate }}</p>

          <mat-radio-group
            [(ngModel)]="scopeType"
            [ngModelOptions]="{ standalone: true }"
            fxLayout="column"
            fxLayoutGap="8px"
          >
            <mat-radio-button value="all">{{ 'menuCost.scopeAll' | translate }}</mat-radio-button>
            <mat-radio-button value="categories">{{
              'menuCost.scopeCategories' | translate
            }}</mat-radio-button>
            <mat-radio-button value="products">{{ 'menuCost.scopeProducts' | translate }}</mat-radio-button>
          </mat-radio-group>

          @if (scopeType() === 'categories') {
            <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
              <mat-label>{{ 'menuCost.selectCategories' | translate }}</mat-label>
              <mat-select formControlName="includeProductCategory" multiple>
                @for (category of menuService.data()?.categories; track category) {
                  <mat-option [value]="category.id">{{ category.title }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          }

          @if (scopeType() === 'products') {
            <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
              <mat-label>{{ 'menuCost.selectProducts' | translate }}</mat-label>
              <mat-select formControlName="includeProduct" multiple>
                @for (category of menuService.data()?.categories; track category) {
                  <mat-optgroup [label]="category.title">
                    @for (product of category.products; track product) {
                      <mat-option [value]="product.id">{{ product.title }}</mat-option>
                    }
                  </mat-optgroup>
                }
              </mat-select>
            </mat-form-field>
          }
        </mat-card-content>
      </mat-card>

      <mat-card appearance="outlined">
        <mat-card-content fxLayout="column" fxLayoutGap="24px">
          <h3>{{ 'menuCost.display' | translate }}</h3>
          <p class="mat-caption">{{ 'menuCost.displayDescription' | translate }}</p>

          <mat-button-toggle-group formControlName="showOnItem">
            <mat-button-toggle fxFlex [value]="true">
              {{ 'menuCost.showOnItem' | translate }}
            </mat-button-toggle>
            <mat-button-toggle fxFlex [value]="false">
              {{ 'menuCost.showOnInvoice' | translate }}
            </mat-button-toggle>
          </mat-button-toggle-group>

          <span class="mat-caption">
            @if (form.get('showOnItem')?.value) {
              {{ 'menuCost.showOnItemHint' | translate }}
            } @else {
              {{ 'menuCost.showOnInvoiceHint' | translate }}
            }
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</form>
