<mat-toolbar class="content-toolbar">
  <h1 fxFlex>{{ 'nav.pricing' | translate: { value: shopService.businessCategoryMenuTitle() } }}</h1>
</mat-toolbar>
<main p-md fxLayout="column" fxLayoutGap="16px">
  <mat-toolbar fxLayout="row" fxLayoutGap="16px">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'app.search' | translate }}</mat-label>
      <input matInput [(ngModel)]="searchQuery" type="search" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'pricing.category' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option [value]="null">{{ 'app.all' | translate }}</mat-option>
        @for (category of categories(); track category.id) {
          <mat-option [value]="category">{{ category.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-toolbar>

  <mat-card appearance="outlined">
    <mat-card-content>
      <table mat-table [dataSource]="pricingItems()">
        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'pricing.category' | translate }}
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.category.title }}
          </td>
        </ng-container>

        <!-- Product Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'pricing.products' | translate }}
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.product?.title }}
            @if (item.variant) {
              - {{ item.variant.title }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="basePrice">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'pricing.basePrice' | translate }}
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-button (click)="editPrice(item)">
              {{ (item.variant || item.product).price | number | menuCurrency }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="costs">
          <th mat-header-cell *matHeaderCellDef>{{ 'pricing.costs' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            <mat-chip-set>
              @for (cost of item.costs; track cost.id) {
                <mat-chip>
                  {{ cost.title }}:
                  @if (cost.percentageCost) {
                    {{ cost.percentageCost }}%
                  }
                  @if (cost.fixedCost) {
                    {{ cost.fixedCost | number | menuCurrency }}
                  }
                </mat-chip>
              }
            </mat-chip-set>
          </td>
        </ng-container>

        <ng-container matColumnDef="discounts">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'pricing.discounts' | translate }}
          </th>
          <td mat-cell *matCellDef="let item">
            <mat-chip-set>
              @for (discount of item.discounts; track discount.id) {
                <mat-chip>
                  {{ discount.title }}:
                  @if (discount.percentageCost) {
                    {{ discount.percentageCost * -1 }}%
                  }
                  @if (discount.fixedCost) {
                    {{ discount.fixedCost * -1 | number | menuCurrency }}
                  }
                </mat-chip>
              }
            </mat-chip-set>
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>{{ 'pricing.total' | translate }}</th>
          <td mat-cell *matCellDef="let item" eng>
            {{ item.total | number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="materialCost">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'pricing.materialCost' | translate }}
          </th>
          <td mat-cell *matCellDef="let item" eng>
            @if (item.materialCost) {
              {{ item.materialCost | number }}
            } @else {
              <i class="fa-regular fa-question"></i>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="profit">
          <th mat-header-cell *matHeaderCellDef>{{ 'pricing.profit' | translate }}</th>
          <td mat-cell *matCellDef="let item" eng ltr>
            @if (item.materialCost) {
              @let price = item.total;
              @let percentage = ((price - item.materialCost) / price) * 100;
              <span [class.error-text]="percentage < 0" [class.success-text]="percentage > 50">
                {{ price - item.materialCost | number }}
              </span>
            } @else {
              <i class="fa-regular fa-question"></i>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="profitPercentage">
          <th mat-header-cell *matHeaderCellDef>{{ 'pricing.profitPercentage' | translate }}</th>
          <td mat-cell *matCellDef="let item" eng ltr>
            @if (item.materialCost) {
              @let price = item.total;
              @let percentage = ((price - item.materialCost) / price) * 100;
              <span [class.error-text]="percentage < 0" [class.success-text]="percentage > 50">
                {{ percentage | number: '1.0-0' }}%
              </span>
            } @else {
              <i class="fa-regular fa-question"></i>
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</main>
