<mat-toolbar class="content-toolbar">
  <h1 fxFlex>
    {{ 'home.title' | translate }}
  </h1>
</mat-toolbar>
@let shop = shopService.data();
@if (shop) {
  <main p-md w-lg fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutGap="24px" fxFlex>
      <app-shop-info-card></app-shop-info-card>
      <app-plan-card></app-plan-card>
    </div>
    <div fxLayout="column" fxLayoutGap="24px" fxFlex>
      <app-sms-account-card></app-sms-account-card>
    </div>
  </main>
}
