<section class="container">
  @if (shopService.isPaymentAvailable()) {
    <mat-card
      appearance="outlined"
      (click)="onPaymentTypeChange(OrderPaymentType.Online)"
      matRipple
      [class.selected]="selectedPaymentType === OrderPaymentType.Online"
    >
      <mat-card-content>
        <mat-radio-button [checked]="selectedPaymentType === OrderPaymentType.Online" color="primary">
          پرداخت آنلاین
        </mat-radio-button>
      </mat-card-content>
    </mat-card>
  }

  <mat-card
    appearance="outlined"
    (click)="onPaymentTypeChange(OrderPaymentType.Cash)"
    matRipple
    [class.selected]="selectedPaymentType === OrderPaymentType.Cash"
  >
    <mat-card-content>
      <mat-radio-button [checked]="selectedPaymentType === OrderPaymentType.Cash" color="primary">
        پرداخت نقدی / کارتخوان
      </mat-radio-button>
    </mat-card-content>
  </mat-card>

  <!-- @if (club.wallet?.charge) { -->
  <mat-checkbox [checked]="cart.useWallet()" (change)="onWalletChange($event.checked)" color="primary">
    استفاده از کیف پول
    <span class="mat-title-small" style="margin-right: 8px">{{ club.wallet?.charge | number }} تومان</span>
  </mat-checkbox>
  <!-- } -->
</section>
