<mat-toolbar class="content-toolbar" fxLayoutGap="8px">
  <h1 fxFlex>{{ 'menu.title' | translate }}</h1>
  <button mat-button (click)="openSortCategoriesDialog()">
    <i class="fa-regular fa-sort"></i>
    <span fxHide.xs>
      {{ 'menu.sortCategories' | translate }}
    </span>
  </button>
  <button mat-stroked-button>
    <i class="fa-regular fa-plus"></i>
    <span fxHide.xs>
      {{ 'menu.addCategory' | translate }}
    </span>
  </button>
</mat-toolbar>
<main p-md>
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'app.search' | translate }}</mat-label>
      <input matInput [(ngModel)]="searchInput" type="search" />
    </mat-form-field>
  </div>
  @let cats = categories();
  @if (cats && cats.length > 1) {
    <mat-chip-set>
      @for (category of cats; track category.id) {
        <mat-chip (click)="scrollTo(category)">
          @if (category.faIcon) {
            <i class="fa-solid fa-{{ category.faIcon }}"></i>
          }
          {{ category.title }}
        </mat-chip>
      }
    </mat-chip-set>
    <br />
  }
  @if (cats) {
    <div fxLayout="column" fxLayoutGap="24px">
      @for (category of cats; track category.id) {
        <app-menu-category [category]="category" />
      }
    </div>
  } @else {
    <app-data-loading />
  }
</main>
