.page-container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
  
  h2 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  ul {
    padding-right: 20px;
  }
  
  p {
    margin-bottom: 16px;
    line-height: 1.6;
  }
}

