@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 100;
	src: url('./NotoSansArabic-Thin.ttf');
}
@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 200;
	src: url('./NotoSansArabic-ExtraLight.ttf');
}
@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 400;
	src: url('./NotoSansArabic-Regular.ttf');
}
@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 500;
	src: url('./NotoSansArabic-Medium.ttf');
}
@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 600;
	src: url('./NotoSansArabic-SemiBold.ttf');
}
@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 700;
	src: url('./NotoSansArabic-Bold.ttf');
}
@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 800;
	src: url('./NotoSansArabic-ExtraBold.ttf');
}
@font-face {
	font-family: NotoSansArabic;
	font-style: normal;
	font-weight: 900;
	src: url('./NotoSansArabic-Black.ttf');
}
