<form
  p-md
  w-xs
  fxLayout="column"
  fxLayoutAlign="center stretch"
  center-align
  [formGroup]="loginForm"
  (ngSubmit)="submit()"
  fxLayoutAlign="center default"
  [class.loading]="isLoading()"
  >
  <h1>Menno | Admin Panel</h1>
  <mat-form-field>
    <mat-label>username</mat-label>
    <input matInput formControlName="username" eng ltr [disabled]="isLoading()" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>password</mat-label>
    <input matInput formControlName="password" eng ltr type="password" [disabled]="isLoading()" />
  </mat-form-field>

  <button mat-flat-button [disabled]="isLoading() || loginForm.invalid">
    @if (!isLoading()) {
      <span>Login</span>
    }
    @if (isLoading()) {
      <mat-spinner diameter="24"></mat-spinner>
    }
  </button>
</form>
