<mat-card>
  <mat-toolbar>
    <mat-toolbar-row>
      <h3 flex>
        @if (category.faIcon) {
          <i class="fa-solid fa-{{ category.faIcon }}"></i>
        }
        {{ category.title }}
        @if (category.status !== Status.Active) {
          <span class="inactive-badge">
            {{ 'app.inactive' | translate }}
          </span>
        }
        @if (category.orderTypes && category.orderTypes.length < 3) {
          <span class="order-types">
            @for (t of category.orderTypes; track t; let last = $last) {
              <span>
                {{ t | orderType }}
              </span>
              @if (!last) {
                <mat-divider vertical></mat-divider>
              }
            }
          </span>
        }
      </h3>

      <button mat-stroked-button [matMenuTriggerFor]="starMenu">
        @if (category.star == null) {
          <span>{{ 'menu.star.all' | translate }}</span>
        }
        @if (category.star === 0) {
          <span class="red">{{ 'menu.star.star0' | translate }}</span>
        }
        @if (category.star === 1) {
          <span class="red">{{ 'menu.star.star1' | translate }}</span>
        }
        @if (category.star === 2) {
          <span class="red">{{ 'menu.star.star2' | translate }}</span>
        }
        @if (category.star === 3) {
          <span class="red">{{ 'menu.star.star3' | translate }}</span>
        }
        @if (category.star === 4) {
          <span class="red">{{ 'menu.star.star4' | translate }}</span>
        }
        @if (category.star === 5) {
          <span class="red">{{ 'menu.star.star5' | translate }}</span>
        }
      </button>
      <mat-menu #starMenu="matMenu">
        <button mat-menu-item (click)="changeStar(null)">
          {{ 'menu.star.all' | translate }}
        </button>
        <button mat-menu-item (click)="changeStar(0)">
          {{ 'menu.star.star0' | translate }}
        </button>
        <button mat-menu-item (click)="changeStar(1)">
          {{ 'menu.star.star1' | translate }}
        </button>
        <button mat-menu-item (click)="changeStar(2)">
          {{ 'menu.star.star2' | translate }}
        </button>
        <button mat-menu-item (click)="changeStar(3)">
          {{ 'menu.star.star3' | translate }}
        </button>
        <button mat-menu-item (click)="changeStar(4)">
          {{ 'menu.star.star4' | translate }}
        </button>
        <button mat-menu-item (click)="changeStar(5)">
          {{ 'menu.star.star5' | translate }}
        </button>
      </mat-menu>
      <button
        mat-icon-button
        matTooltip="{{ 'menu.editCategory' | translate }}"
        routerLink="category"
        [queryParams]="{ id: category.id }"
        >
        <i class="fa-regular fa-pencil-alt"></i>
      </button>
      <button mat-icon-button matTooltip="{{ 'menu.deleteCategory' | translate }}" (click)="deleteCategory()">
        <i class="fa-regular fa-trash-alt"></i>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="fa-regular fa-ellipsis-vertical"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openSort()">
          <i class="fa-solid fa-sort mat-icon"></i>
          <span>{{ 'menu.sortProducts' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-card-content style="overflow-x: auto">
    @if (category.products && category.products.length) {
      <products-table [products]="category.products"></products-table>
    }
    @if (!category.products?.length) {
      <div class="empty-state">
        @if (category.faIcon) {
          <i empty-state-icon class="fa-solid fa-{{ category.faIcon }}"></i>
        }
        <p>{{ 'menu.emptyProductsDescription' | translate }}</p>
      </div>
    }
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button color="primary" routerLink="product" [queryParams]="{ categoryId: category.id }">
      <i class="fa-regular fa-plus"></i>
      {{ 'menu.addProduct' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
