<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <h4>{{ 'cart.sendTo' | translate }}</h4>

  @if (cart.address()) {
    <a mat-button routerLink="/address/list" class="tertiary-button">
      {{ 'cart.changeAddress' | translate }}
    </a>
  }
</mat-toolbar>
@if (cart.address()) {
  <mat-card appearance="outlined" class="address-card">
    <mat-card-content>
      <h4>
        @if (cart.address()?.title) {
          {{ cart.address()?.title }} .
        }
        @if (cart.address()?.region) {
          {{ cart.address()?.region?.title }}
        }
      </h4>
      <p>
        {{ cart.address()?.description }}
        @if (cart.address()?.unit) {
          {{ 'editAddress.unit' | translate }} {{ cart.address()?.unit }}
        }
        @if (cart.address()?.ring) {
          {{ 'editAddress.ring' | translate }} {{ cart.address()?.ring }}
        }
        @if (cart.address()?.postalCode) {
          {{ 'editAddress.postalCode' | translate }} {{ cart.address()?.postalCode }}
        }
      </p>
    </mat-card-content>
  </mat-card>
} @else {
  <button
    mat-stroked-button
    routerLink="/address/edit"
    class="tertiary-button"
    id="select-address-button"
    [queryParams]="{ historyBackCount: 1 }"
  >
    {{ 'cart.selectAddress' | translate }}
  </button>
}
