@use "@angular/material" as mat;

@import "assets/fonts/iransans/iransans.scss";
@import "assets/fonts/fontawesome/scss/fontawesome.scss";
@import "assets/fonts/fontawesome/scss/regular.scss";
@import "assets/fonts/fontawesome/scss/brands.scss";
@import "assets/fonts/fontawesome/scss/solid.scss";

@import "theming-class.scss";
@import "material-theming.scss";

html[dir="rtl"] {
  .mat-button-ripple {
    position: absolute;
  }

  i.rtl-dir {
    transform: scaleX(-1);
  }
}

html,
body {
  min-height: 100vh;
}

body {
  overflow-y: scroll;
  margin: 0;
  font-family: "IRANSans";
  background-color: $background;
}

input,
select,
textarea {
  font-family: inherit;
}

.spacer,
*[spacer] {
  padding: 8px;
  flex: none !important;
}

.spacer-2x,
*[spacer-2x] {
  padding: 16px;
  flex: none !important;
}

.spacer-sm,
*[spacer-sm] {
  padding: 4px;
  flex: none !important;
}

[flex] {
  flex: 1;
}

*[hidden] {
  display: none !important;
}

.gray-color {
  color: $gray;
}

.green-color {
  color: $green;
}

menu {
  margin: 0;
  padding: 0;
}

i {
  vertical-align: middle;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flat-scrollbar::-webkit-scrollbar-track,
.flat-scrollbar *::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

.flat-scrollbar::-webkit-scrollbar,
.flat-scrollbar *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.flat-scrollbar::-webkit-scrollbar-thumb,
.flat-scrollbar *::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 10px;
}

i[empty-state-icon] {
  font-size: 64px;
  display: block;
  margin: auto;
  opacity: 0.5;
  text-align: center;
}

.border-bottom {
  border-bottom: $border;
}

.row {
  display: flex;
  align-items: center;
}

.flex {
  flex: 1;
}

.form-page-layout {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .static-col {
    width: 400px;
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .flex-col {
    display: flex;
    flex: 1;
    gap: 16px;
    flex-direction: column;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 960px) {
    flex-direction: column;

    .static-col {
      width: initial !important;
    }
  }
}

[hidden] {
  display: hidden !important;
}

.page-toolbar {
  position: sticky;
  top: 64px;
  z-index: 500;
  background-color: white !important;
  @include mat.elevation(3);
}

.content-wrapper {
  padding: 24px;
  max-width: 1280px;
  margin: auto;

  h2,
  h3,
  h4 {
    font-size: 24px;
  }
}

.content-toolbar {
  z-index: 499;
  height: 48px;
  border-bottom: $border;
  padding: 0 !important;
  margin-bottom: 24px;
}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.01) !important;
  }
}

.ltr {
  direction: ltr;
  text-align: left !important;
}

.eng {
  font-family: monospace !important;
}

.submit-button {
  height: 56px !important;
}

// material components

mat-spinner.loading {
  display: block;
  margin: 24px auto;
}

.mat-mdc-list-item-icon {
  text-align: center !important;
  line-height: 24px !important;
  color: black !important;
}

.mdc-button {
  letter-spacing: normal !important;
  border-radius: 32px !important;
}

.mat-button-toggle-group {
  border-radius: 32px !important;
}

.mat-stepper-vertical,
.mat-stepper-horizontal,
.mat-calendar {
  font-family: inherit !important;
}

.mat-mdc-tab-header {
  border-bottom: $border;
}

[mat-icon-button] {
  line-height: 24px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  i {
    font-size: 16px;
    line-height: 24px;
  }
}

.mat-toolbar {
  background-color: transparent;

  &.mat-toolbar-single-row {
    gap: 8px;
  }
}

mat-card {
  border-radius: 8px !important;
  box-shadow: none !important;
  border: $border !important;
  overflow: hidden;

  mat-toolbar {
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 8px 4px 0 0;
    margin-bottom: 0 !important;
    // height: 48px;

    h2,
    h3,
    h4,
    h5 {
      font-size: 16px;
      flex: 1;
    }
  }

  .mat-mdc-list-item {
    .secondary {
      display: flex;
      align-items: center;
    }
  }

  mat-card-title {
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  &.success {
    box-shadow: none !important;
    color: $green;
    border: 1px solid $green;
    background: rgba($green, 0.1);
  }

  &.info {
    box-shadow: none !important;
    color: $blue;
    border: 1px solid $blue;
    background: rgba($blue, 0.1);
  }

  &.warning {
    box-shadow: none !important;
    color: darken($yellow, 15);
    border: 1px solid $yellow;
    background: rgba($yellow, 0.1);
  }

  &.error {
    box-shadow: none !important;
    color: $red;
    border: 1px solid $red;
    background: rgba($red, 0.1);
  }
}

mat-table {
  tr {
    &.clickable {
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        background-color: rgba(black, 0.03);
      }
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

@mixin colorizeSnackbar($background, $color, $icon) {
  .mdc-snackbar__surface {
    background-color: $background !important;
    color: $color !important;
    // padding-right: 32px !important;
    // border: 2px solid $color;

    button {
      color: $color !important;
    }

    .mdc-snackbar__label {
      color: $color !important;
    }
  }
}

mat-snack-bar-container {
  &.success {
    @include colorizeSnackbar($green, white, "\f058");
  }

  &.info {
    @include colorizeSnackbar($blue, white, "\f05a");
  }

  &.warning {
    @include colorizeSnackbar($yellow, black, "\f06a");
  }

  &.error {
    @include colorizeSnackbar($red, white, "\f071");
  }
}

.show-xs {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: block !important;
  }
}
