@import "assets/fonts/iransans/iransans.scss";
@import "assets/fonts/fontawesome/scss/fontawesome.scss";
@import "assets/fonts/fontawesome/scss/regular.scss";
@import "assets/fonts/fontawesome/scss/brands.scss";
@import "assets/fonts/fontawesome/scss/solid.scss";

@import "theming-class.scss";
@import "material-theming.scss";

html[dir="rtl"] {
  .mat-button-ripple {
    position: absolute;
  }

  i.rtl-dir {
    transform: scaleX(-1);
  }
}

html,
body {
  min-height: 100vh;
}

body {
  overflow-y: scroll;
  margin: 0;
  font-family: "IRANSans";
  background-color: $background;
}

input,
select,
textarea {
  font-family: inherit;
}

.spacer,
*[spacer] {
  padding: 8px;
  flex: none !important;
}

.spacer-2x,
*[spacer-2x] {
  padding: 16px;
  flex: none !important;
}

.spacer-sm,
*[spacer-sm] {
  padding: 4px;
  flex: none !important;
}

[flex] {
  flex: 1;
}

i {
  vertical-align: middle;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flat-scrollbar::-webkit-scrollbar-track,
.flat-scrollbar *::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

.flat-scrollbar::-webkit-scrollbar,
.flat-scrollbar *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.flat-scrollbar::-webkit-scrollbar-thumb,
.flat-scrollbar *::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 10px;
}

i[empty-state-icon] {
  font-size: 64px;
  display: block;
  margin: auto;
  opacity: 0.5;
  text-align: center;
}

.form-page-layout {
  display: flex;
  flex-direction: row;

  .static-col {
    width: 400px;
    flex: none;
    display: flex;
    flex-direction: column;
  }

  .flex-col {
    flex: 1;
    flex-direction: column;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 960px) {
    flex-direction: column;

    .static-col {
      width: initial;
    }
  }
}

// material components

[mat-icon-button] {
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 14px;
    line-height: 24px;
  }
}

.mat-toolbar {
  background-color: transparent;
}

mat-card {
  border-radius: 8px !important;

  mat-toolbar {
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 8px 4px 0 0;
    margin-bottom: 0 !important;
    // height: 48px;

    h2,
    h3,
    h4,
    h5 {
      font-size: 16px;
      flex: 1;
    }
  }

  mat-card-title {
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  &.success {
    color: $green;
    border-color: $green;
    background: rgba($green, 0.1);
  }

  &.info {
    color: $blue;
    border-color: $blue;
    background: rgba($blue, 0.1);
  }

  &.warning {
    color: darken($yellow, 15);
    border-color: $yellow;
    background: rgba($yellow, 0.1);
  }

  &.error {
    color: $red;
    border-color: $red;
    background: rgba($red, 0.1);
  }
}

mat-table {
  tr {
    &.clickable {
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        background-color: rgba(black, 0.03);
      }
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

@mixin colorizeSnackbar($background, $color, $icon) {
  background-color: $background !important;
  color: $color !important;
  padding-right: 32px !important;
  // border: 2px solid $color;

  &::after {
    font-family: "Font Awesome 5 Pro" !important;
    content: $icon !important;
    color: $color !important;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    text-align: center !important;
    float: right !important;
    font-weight: 600 !important;
    display: inline-block !important;
    margin-top: -24px !important;
    transform: translate(24px, 2px) !important;
  }

  button {
    color: $color !important;
  }
}

snack-bar-container {
  &.success {
    @include colorizeSnackbar($green, white, "\f058");
  }

  &.info {
    @include colorizeSnackbar($blue, white, "\f05a");
  }

  &.warning {
    @include colorizeSnackbar($yellow, black, "\f06a");
  }

  &.error {
    @include colorizeSnackbar($red, white, "\f071");
  }
}

.page-toolbar {
  position: sticky;
  top: 64px;
  z-index: 2000;
  height: 48px;
  background-color: white !important;
}

.content-wrapper {
  padding: 24px;
  max-width: 1280px;
  margin: auto;

  h2, h3, h4 {
    font-size: 24px;
  }
}

.content-toolbar {
  z-index: 1999;
  border-bottom: $border;
  padding: 0 !important;
  margin-bottom: 24px;
}

.ltr {
  direction: ltr;
  text-align: left !important;
}

.show-xs {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: block !important;
  }
}

// leaflet override
.leaflet-touch .leaflet-draw-actions a {
  font-family: "IRANSans" !important;
}

.leaflet-tooltip {
  font-family: "IRANSans" !important;
}

// raychat
.raychat_main_button {
  display: none !important;
}
