@if (title) {
  <h3 mat-dialog-title>{{ title }}</h3>
}
<form [formGroup]="form" class="form-theme">
  <mat-dialog-content>
    @if (description) {
      <p>{{ description }}</p>
    }

    @for (key of keys; track key) {
      <mat-form-field appearance="fill">
        <mat-label>{{ fields[key].label }}</mat-label>
        @if (['textarea', 'select', 'multiple', 'datepicker'].indexOf(fields[key].type!) === -1) {
          <input matInput
            formControlName="{{ key }}" [placeholder]="fields[key].placeholder!" type="{{ fields[key].type }}"
            [class.ltr]="fields[key].ltr" />
        }
        @if (fields[key].type === 'datepicker') {
          <input matInput formControlName="{{ key }}"
            [placeholder]="fields[key].placeholder!" [matDatepicker]="picker" />
        }
        @if (fields[key].type === 'datepicker') {
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        }
        <mat-datepicker [hidden]="fields[key].type !== 'datepicker'" #picker></mat-datepicker>
        @if (fields[key].type === 'textarea') {
          <textarea matInput formControlName="{{ key }}"
          [placeholder]="fields[key].placeholder!" type="{{ fields[key].type }}" [rows]="fields[key].rows || 3"></textarea>
        }
        @if (fields[key].type === 'select' || fields[key].type === 'multiple') {
          <mat-select formControlName="{{ key }}"
            [multiple]="fields[key].type === 'multiple'">
            @if (fields[key].options) {
              @for (option of fields[key].options; track option) {
                <mat-option [value]="option.value">
                  {{ option.text }}
                </mat-option>
              }
            }
            @if (fields[key].groups) {
              @for (group of fields[key].groups; track group) {
                <mat-optgroup [label]="group.text">
                  @for (option of group.options; track option) {
                    <mat-option [value]="option.value">
                      {{ option.text }}
                    </mat-option>
                  }
                </mat-optgroup>
              }
            }
          </mat-select>
        }
        @if (fields[key].hint) {
          <mat-hint> {{ fields[key].hint }} </mat-hint>
        }
      </mat-form-field>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="submit()" [disabled]="!form.dirty" color="primary">
      تایید
    </button>
    <button mat-button [mat-dialog-close]="null">
      انصراف
    </button>
  </mat-dialog-actions>
</form>