<mat-button-toggle-group
  (change)="setType($event.value)"
  [value]="service.type()"
  hideSingleSelectionIndicator
>
  @for (type of shop.data()?.appConfig?.orderingTypes; track $index) {
    <mat-button-toggle [value]="type">
      @switch (type) {
        @case (OrderType.DineIn) {
          <i class="fa-solid middle fa-mug-hot"></i>
        }
        @case (OrderType.Delivery) {
          <i class="fa-solid middle fa-truck-fast"></i>
        }
        @case (OrderType.Takeaway) {
          <i class="fa-solid middle fa-cart-shopping"></i>
        }
      }
      {{ 'order.type.' + type | translate }}
    </mat-button-toggle>
  }
</mat-button-toggle-group>
