.product-card {
  mat-card-content {
    padding: 8px;
  }

  &__image {
    width: 64px;
    height: 64px;
    border-radius: 16px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  &__description {
    font-size: 12px;
  }

  &__price {
    font-size: 14px;
  }
}