<section fxLayout="column" fxLayoutGap="16">
  @for (item of cart.orderItems(); track $index) {
    <mat-card class="product-card">
      <!-- <img mat-card-image [imageLoader]="product.images?.[0]" /> -->
      <mat-card-content fxLayout="row" fxLayoutGap="8" fxLayoutAlign="start center">
        <img
          fxFlex="none"
          class="product-card__image"
          [imageLoader]="item.product?.images?.[0]"
          [imageFile]="item.product?.imageFiles?.[0]"
        />
        <div fxFlex fxLayout="column" fxLayoutAlign="space-around">
          <h3 class="product-card__title">{{ item.product?.title }}</h3>
          <p class="product-card__description outline-text" fxFlex>{{ item.productVariant?.title }}</p>
          <b class="product-card__price">{{ item.price | menuCurrency }}</b>

          <!-- @if (!item.v.variants.length) {
            <div fxLayout="row">
              <div class="product-card__price-section" fxFlex fxLayout="column" fxLayoutAlign="space-around">
                @if (Product.hasDiscount(product)) {
                  <span class="line-price error-text">{{ Product.realPrice(product) | menuCurrency }}</span>
                }
                <span class="price">{{ Product.totalPrice(product) | menuCurrency }}</span>
              </div>
              <app-quantity-selector [product]="product" />
            </div>
          } -->
        </div>
        @if (item.product) {
          <app-quantity-selector [product]="item.product" [variant]="item.productVariant" />
        }
      </mat-card-content>
    </mat-card>
  }
</section>
