<h4 matDialogTitle>{{ 'home.plan.buyTitle' | translate }}</h4>

<mat-dialog-content>
  <p class="description">{{ 'home.plan.buyDescription' | translate }}</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'home.plan.days' | translate }}</mat-label>
      <input
        matInput
        type="number"
        formControlName="days"
        min="1"
        step="1"
        placeholder="{{ 'home.plan.daysPlaceholder' | translate }}"
        />
      @if (form.get('days')?.hasError('required')) {
        <mat-error>
          {{ 'home.plan.daysRequired' | translate }}
        </mat-error>
      }
      @if (form.get('days')?.hasError('min')) {
        <mat-error>
          {{ 'home.plan.daysMin' | translate }}
        </mat-error>
      }
      @if (form.get('days')?.hasError('max')) {
        <mat-error>
          {{ 'home.plan.daysMax' | translate }}
        </mat-error>
      }
    </mat-form-field>
    <br />
    <div class="total-amount">
      <span class="label">{{ 'home.plan.totalAmount' | translate }}:</span>
      <span class="amount">{{ formattedTotalAmount }} {{ 'home.plan.currency' | translate }}</span>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button">
    {{ 'app.cancel' | translate }}
  </button>
  <button mat-flat-button (click)="onSubmit()" [disabled]="form.invalid">
    {{ 'app.buy' | translate }}
  </button>
</mat-dialog-actions>
