<app-top-app-bar [sticky]="true" />
<form fxLayout="column" fxLayoutGap="16" p-md (ngSubmit)="sendToken(phoneInput.value, $event)">
  <br />
  <br />
  <h1>{{ 'login.phoneTitle' | translate }}</h1>
  <p>{{ 'login.phoneDescription' | translate }}</p>
  <mat-form-field>
    <input
      #phoneInput
      autofocus
      matInput
      type="tel"
      placeholder="{{ 'login.phonePlaceholder' | translate }}"
      [readonly]="loading()"
      minlength="9"
      maxlength="9"
      class="mono"
    />
    <span matTextSuffix class="mono">09</span>
  </mat-form-field>

  <button id="action" type="submit" [disabled]="loading()" mat-flat-button class="large">
    {{ 'login.phoneAction' | translate }}
    @if (loading()) {
      ...
    }
  </button>
</form>
