<app-top-app-bar title="{{ 'payment.title' | translate }}" [sticky]="true" [hideMenu]="true" />

@if (cart.length()) {
  <main fxLayout="column" fxLayoutGap="16" p-md max-center pb>
    @if (menu.type() === OrderType.Delivery) {
      <app-address-list />
      <mat-divider />
    }

    <app-invoice />

    <app-payment-methods />
  </main>
}

<mat-toolbar fxLayout="row" fxLayoutAlign="center" id="actionbar" class="background-background" p-md>
  <a mat-flat-button fxFlex (click)="submit()" class="large" [disabled]="cart.saving()" max-center>
    {{ 'order.add' | translate }} ({{ total() | menuCurrency }})
    @if (cart.saving()) {
      ...
    }
  </a>
</mat-toolbar>
