<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'selectOrderType.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [formControl]="control">
      @if (shopService.isRestaurantOrCoffeeShop) {
        <mat-list-option [value]="OrderType.DineIn">
          {{ 'orderType.dineIn' | translate }}
        </mat-list-option>
      }
      <mat-list-option [value]="OrderType.Delivery">
        {{ 'orderType.delivery' | translate }}
      </mat-list-option>
      <mat-list-option [value]="OrderType.Takeaway">
        {{ 'orderType.takeaway' | translate }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
