mat-nav-list {
  padding: 0;
  margin: 0 -16px;

  a[mat-list-item] {
    height: 56px !important;
  }

  img[matListItemAvatar] {
    border-radius: 8px;
    margin-top: 8px;

    &.finished {
      filter: grayscale(1);
    }
  }

  .title {
    margin-top: -8px;
    font-size: 12px !important;
  }

  .subtitle {
    font-size: 10px !important;

    .line-through {
      text-decoration: line-through;
    }
  }

  .badge {
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
  }
}
