<mat-nav-list>
  @for (product of category.products; track product; let last = $last) {
    <a mat-list-item routerLink="/menu/product/{{ product.id }}">
      <img
        matListItemAvatar
        [ngClass]="{ finished: product.status === Status.Blocked }"
        [imageLoader]="
          product.imageFiles?.[0]?.xs || (product.images ? product.images[0] : undefined) || undefined
        "
        />
      <h3 matListItemTitle class="title">{{ product.title }}</h3>
      <span matListItemLine class="subtitle">
        @if (Product.hasDiscount(product)) {
          <span class="line-through error-text">
            {{ Product.realPrice(product) | menuCurrency }}
            <span spacer-sm></span>
          </span>
        }
        {{ Product.totalPrice(product) | menuCurrency }}
      </span>
      <div matListItemMeta>
        @if (product._orderItem?.quantity) {
          <span class="badge primary on-primary-text">{{
            product._orderItem?.quantity
          }}</span>
        }
        @if (product.status === Status.Blocked) {
          <span class="error-text">{{
            'app.finished' | translate
          }}</span>
        }
        <span spacer-sm></span>
        <i class="fa-regular fa-angle-left"></i>
      </div>
    </a>
    @if (!last) {
      <mat-divider></mat-divider>
    }
  }
</mat-nav-list>
