<mat-nav-list *screen="'MOBILE'">
  <ng-container *ngFor="let order of dataSource.data">
    <a mat-list-item (click)="orderClicked.emit(order)">
      <i matListItemIcon class="fa-solid fa-circle-small red" *ngIf="order.state === OrderState.Pending"></i>
      <i
        matListItemIcon
        class="fa-solid fa-hat-chef yellow"
        *ngIf="order.state === OrderState.Processing"
      ></i>
      <i matListItemIcon class="fa-solid fa-check blue" *ngIf="order.state === OrderState.Ready"></i>
      <i matListItemIcon class="fa-solid fa-moped blue" *ngIf="order.state === OrderState.Shipping"></i>
      <i
        matListItemIcon
        class="fa-solid fa-circle-check green"
        *ngIf="order.state === OrderState.Completed"
      ></i>
      <i matListItemIcon class="fa-solid fa-circle-xmark red" *ngIf="order.state === OrderState.Canceled"></i>
      <span matListItemTitle class="row">
        <b class="eng">
          <span *ngIf="order.mergeFrom?.length">G</span>{{ order.qNumber
          }}<sup class="red" *ngIf="order.details?.itemChanges?.length">c</sup>.
        </b>
        <span *ngIf="order.customer">
          {{ User.fullName(order.customer) }}
          {{ order.customer.mobilePhone | phone }}
        </span>
        <!-- <span *ngIf="!order.customer">
          {{ 'ordersTable.addCustomer' | translate }}
        </span> -->
        <span flex></span>
        <span class="eng gray">{{ order.createdAt | date: 'HH:mm' }}</span>
      </span>
      <span matListItemLine [ngSwitch]="order.type" class="row">
        {{ order.type | orderType }}
        <span spacer-sm></span>
        <span class="eng" *ngIf="order.type === OrderType.DineIn && order.details?.table">{{
          order.details?.table
        }}</span>
        <span flex></span>
        <b [class.green]="order.paymentType !== OrderPaymentType.NotPayed">{{
          order.totalPrice | menuCurrency
        }}</b>
      </span>
    </a>
    <mat-divider></mat-divider>
  </ng-container>
</mat-nav-list>

<table mat-table [dataSource]="dataSource" *screen="'DESKTOP'">
  <ng-container matColumnDef="qNumber">
    <th mat-header-cell *matHeaderCellDef [style.width.px]="showCheckbox ? 110 : 72"></th>
    <td mat-cell *matCellDef="let order">
      <mat-checkbox *ngIf="showCheckbox" [checked]="order._selected"></mat-checkbox>
      <b class="eng">
        <span *ngIf="order.mergeFrom?.length">G</span>{{ order.qNumber
        }}<sup class="red" *ngIf="order.details?.itemChanges?.length">c</sup>
      </b>
    </td>
  </ng-container>

  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>{{ 'ordersTable.customer' | translate }}</th>
    <td mat-cell *matCellDef="let order">
      <button
        stopPropagation
        mat-flat-button
        *ngIf="!order.customer?.mobilePhone"
        class="add-customer"
        [disabled]="order._settingCustomer || order.deletedAt"
        (click)="openSelectMember(order)"
      >
        <i class="fa-solid fa-user-plus fa-large"></i>
        <span spacer-sm></span>
        {{ 'ordersTable.addCustomer' | translate }}
      </button>
      <span *ngIf="order.customer?.mobilePhone">
        <button
          mat-flat-button
          (click)="memberInfo(order)"
          stopPropagation
          style="background-color: rgba(0, 0, 0, 0.1)"
        >
          {{ User.fullName(order.customer) }}
        </button>
        <a
          stopPropagation
          mat-button
          color="primary"
          class="eng"
          style="text-decoration: underline"
          href="tel://{{ order.customer?.mobilePhone | phone }}"
        >
          {{ order.customer?.mobilePhone | phone }}
        </a>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef style="width: 160px; text-align: center">
      {{ 'ordersTable.type' | translate }}
    </th>
    <td mat-cell *matCellDef="let order" [ngSwitch]="order.type">
      <i matListItemIcon *ngSwitchCase="OrderType.DineIn" class="fa-solid fa-mug-hot"></i>
      <i matListItemIcon *ngSwitchCase="OrderType.Takeaway" class="fa-solid fa-cup-togo"></i>
      <i matListItemIcon *ngSwitchCase="OrderType.Delivery" class="fa-solid fa-moped"></i>
      <span class="eng" *ngIf="order.type === OrderType.DineIn && order.details?.table">
        {{ order.details?.table }}
      </span>
      <span *ngIf="order.type !== OrderType.DineIn || !order.details?.table">
        {{ order.type | orderType }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>{{ 'ordersTable.state' | translate }}</th>
    <td mat-cell *matCellDef="let order" [ngSwitch]="order.state">
      <button
        mat-button
        stopPropagation
        class="state-button"
        [disabled]="order._changingState || order.deletedAt"
        (click)="changeState(order)"
        [ngClass]="{
          red: order.state === OrderState.Pending,
          yellow: order.state === OrderState.Processing,
          blue: order.state === OrderState.Shipping || order.state === OrderState.Ready,
          green: order.state === OrderState.Completed
        }"
      >
        {{ order.state | orderState }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>{{ 'ordersTable.total' | translate }}</th>
    <td mat-cell *matCellDef="let order">
      {{ order.totalPrice | menuCurrency }}
      <span *ngIf="order.paymentType" class="payed-label">
        <i class="fa-solid fa-circle-check"></i>
        {{ order.paymentType | orderPayment: order.details.posPayed:order.totalPrice }}
      </span>
      <button
        stopPropagation
        mat-icon-button
        color="warn"
        [disabled]="order._settlementing || order.deletedAt"
        *ngIf="!order.paymentType"
        (click)="settlement(order)"
      >
        <i class="fa-regular fa-cash-register"></i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="waiter">
    <th mat-header-cell *matHeaderCellDef>{{ 'ordersTable.waiter' | translate }}</th>
    <td mat-cell *matCellDef="let order">
      {{ User.fullName(order.waiter) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>{{ 'ordersTable.date' | translate }}</th>
    <td mat-cell *matCellDef="let order">{{ order.createdAt | pdate }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let order" style="text-align: end">
      <ng-container *ngIf="!order.deletedAt">
        <button mat-icon-button stopPropagation [matMenuTriggerFor]="itemsMenu">
          <i class="fa-regular fa-list-ul fa-flip-horizontal"></i>
        </button>
        <mat-menu #itemsMenu="matMenu">
          <ng-container *ngFor="let item of order.items">
            <button mat-menu-item *ngIf="!item.isAbstract">
              {{ item.title }}
              <span *ngIf="item.quantity > 1">
                ({{ 'app.number' | translate: { value: item.quantity } }})
              </span>
            </button>
          </ng-container>
        </mat-menu>
        <button mat-icon-button (click)="print(order)" stopPropagation>
          <i class="fa-regular fa-print"></i>
        </button>
        <button mat-icon-button routerLink="/pos" [queryParams]="{ id: order.id }" stopPropagation>
          <i class="fa-regular fa-pencil"></i>
        </button>
        <button mat-icon-button stopPropagation (click)="remove(order)">
          <i class="fa-regular fa-trash-alt"></i>
        </button>
      </ng-container>
      <span class="red" *ngIf="order.deletedAt">{{ 'app.removed' | translate }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns" class="clickable" (click)="orderClicked.emit(row)"></tr>
</table>
