@import "theme";

:host {
  display: block;
  min-width: 960px;
  width: 100%;
}

table {
  box-shadow: none;
}

.add-customer {
  background-color: $gray-l2;
  border-radius: 24px;
  height: 32px;
  font-size: 12px;
}

.state-button {
  border-radius: 24px;
  height: 32px;
  &.red {
    background-color: lighten($red, 35) !important;
    color: $red !important;
  }

  &.yellow {
    background-color: lighten($yellow, 30) !important;
    color: darken($yellow, 30) !important;
  }

  &.blue {
    background-color: lighten($blue, 30) !important;
    color: $blue !important;
  }

  &.green {
    background-color: lighten($green, 50) !important;
    color: $green !important;
  }
}

.payed-label {
  color: $green;
  font-size: 12px;
}
