@use '@angular/material' as mat;

#carousel {
  overflow-x: auto;
  flex-wrap: nowrap;
  position: sticky;
  z-index: 100;
  top: -1px;

  button {
    padding: 0 12px;
  }

  &.shadow {
    @include mat.elevation(4);
  }
}
