<mat-toolbar fxLayout="row" id="carousel" [class.mat-elevation-z2]="true" [class.shadow]="isCarouselStick()">
  @for (category of menu.categories; track category.id; let index = $index) {
  <button
    mat-button
    [ngClass]="
      index === selectedIndex()
        ? 'mat-mdc-unelevated-button inverse-surface-button'
        : 'mat-mdc-outlined-button'
    "
    fxFlex="none"
    (click)="selectCategory(index)"
    #categoryButton
  >
    @if (category.faIcon) {
    <i class="fa-solid fa-{{ category.faIcon }}"></i>
    &nbsp; }
    {{ category.title }}
  </button>
  }
</mat-toolbar>
