::ng-deep .category-chips {
  overflow-x: auto;
  margin: 0 -24px;
  padding: 8px 24px;

  & > * {
    flex-wrap: nowrap !important;
  }
}

::ng-deep .category-chips {
  .on-primary-text span {
    color: inherit !important;
  }
}
