<mat-grid-list cols="2" rowHeight="1:1" gutterSize="16">
  @for (product of category.products; track product.id; let isLast = $last) {
  <mat-grid-tile
    routerLink=""
    class="item"
    [imageLoader]="product.images?.[0]"
    [rowspan]="product.details?.rowspan || 1"
    [colspan]="product.details?.colspan || 1"
  >
    <div class="item__content" fxLayout="column">
      <span class="item__content__title">{{ product.title }}</span>
      <span class="item__content__subtitle">
        @if (Product.hasDiscount(product)) {
        <span class="line-price error-text">{{ Product.realPrice(product) | number }}</span
        >&nbsp; }
        <span>{{ Product.totalPrice(product) | menuCurrency }}</span>
      </span>
    </div>
  </mat-grid-tile>
  }
</mat-grid-list>
<!-- <mat-nav-list>
  @for (product of category.products; track product.id; let isLast = $last) {
    @defer {
      <a mat-list-item class="item">
        <img matListItemAvatar class="item__image" [imageLoader]="product.images?.[0]" />
        <span matListItemTitle class="item__title">{{ product.title }}</span>
        <span matListItemLine class="item__subtitle">
          @if (Product.hasDiscount(product)) {
            <span class="line-price error-text">{{ Product.realPrice(product)| number }}</span>&nbsp;
          }
          <span>{{ Product.totalPrice(product) | menuCurrency }}</span>
        </span>
        <div matListItemMeta>
          <i class="fa-regular fa-chevron-left"></i>
        </div>
      </a>
      @if (!isLast) {
        <mat-divider />
      }
    }
  }
</mat-nav-list> -->
