<h3 matDialogTitle class="green">
  <i class="far fa-lightbulb-on green"></i>
  <span spacer-sm style="display: inline-block;"></span>
  {{'updateDialog.title' | translate}}
</h3>
<mat-dialog-content>
  <p>{{'updateDialog.description' | translate}}</p>
  <mat-list>
    @for (change of changes; track change; let i = $index) {
      <mat-list-item>
        <i matListItemIcon class="far fa-check fa-sm"></i>
        <span matListItemTitle> {{change}} </span>
      </mat-list-item>
    }
  </mat-list>
  <a mat-button color="primary" target="_blank" [href]="link">
    {{'updateDialog.link' | translate}}
  </a>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" [mat-dialog-close]="true">
    {{'updateDialog.update' | translate}}
  </button>
  @if (!isForced) {
    <button mat-button mat-dialog-close>
      {{'updateDialog.skip' | translate}}
    </button>
  }
</mat-dialog-actions>