@let charge = shopService.data()?.smsAccount?.charge || 0;

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <i class="fa-solid fa-calendar-heart fa-xl"></i>
      <span spacer-sm></span>
      {{ 'home.plan.title' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="form-theme">
    <mat-list>
      <mat-list-item>
        <span matListItemLine>{{ 'home.plan.yourPlan' | translate }}</span>
        <span matListItemMeta>
          {{ 'home.plan.remainDays' | translate: { value: remainingDays() | number: '1.0-0' } }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemLine>
          {{ 'home.plan.charge' | translate }}
          <i class="fa-regular fa-circle-info" (click)="walletHelp()"></i>
        </span>
        <span matListItemMeta>
          {{ charge | number: '1.0-0' | menuCurrency }}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="buyPlan()">
      {{ 'home.plan.buy' | translate }}
    </button>
    <button mat-button (click)="chargeSmsAccount()">
      {{ 'home.plan.charge' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
