<mat-card
  appearance="outlined"
  [ngClass]="{
    error: type === 'error',
    compact: compact,
  }"
>
  @if (!compact) {
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
      @if (emoji) {
        <em>{{ emoji }}</em>
      } @else if (!type || type === 'info') {
        <i class="fa-regular fa-square-info"></i>
      } @else if (type === 'success') {
        <i class="fa-regular fa-check-circle"></i>
      } @else {
        <i class="fa-regular fa-triangle-exclamation"></i>
      }
      <h4>{{ title }}</h4>
      <p f-sm>{{ description }}</p>
    </mat-card-content>
  } @else {
    <mat-card-content fxLayout="row" fxLayoutGap="8px">
      @if (emoji) {
        <em>{{ emoji }}</em>
      } @else if (!type || type === 'info') {
        <i class="fa-regular fa-square-info"></i>
      } @else if (type === 'success') {
        <i class="fa-regular fa-check-circle"></i>
      } @else {
        <i class="fa-regular fa-triangle-exclamation"></i>
      }
      <p>{{ title }}</p>
    </mat-card-content>
  }
</mat-card>
