.image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  &::after {
    position: absolute;
    content: close-quote;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.2) 39.78%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
  }

  .image {
    height: 100%;
  }
}
