.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  form {
    max-width: 90vw;
    width: 300px;

    img {
      margin: auto;
      display: block;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
    }
  }
}
