<mat-card appearance="outlined">
  <mat-card-header>
    <img mat-card-avatar imageLoader [imageFile]="shopService.data()?.logoImage" />
    <mat-card-title>{{ shopService.data()?.title }}</mat-card-title>
    <mat-card-subtitle class="blue">
      {{ 'home.shopInfo.code' | translate }}:
      <span eng>{{ shopService.data()?.code }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item [href]="shopService.appLink()" target="_blank">
        <i matListItemIcon class="fa-solid fa-link"></i>
        <span matListItemTitle>{{ 'home.shopInfo.appLink' | translate }}</span>
        <span matListItemMeta>{{ shopService.appLink() }}</span>
      </a>
      <a mat-list-item>
        <i matListItemIcon class="fa-solid fa-sms"></i>
        <span matListItemTitle>{{ 'home.shopInfo.sendAppLink' | translate }}</span>
      </a>
      <a mat-list-item [routerLink]="['/settings/app-config']">
        <i matListItemIcon class="fa-solid fa-palette"></i>
        <span matListItemTitle>{{ 'home.shopInfo.designConfig' | translate }}</span>
      </a>
      <a mat-list-item>
        <i matListItemIcon class="fa-solid fa-gear"></i>
        <span matListItemTitle>{{ 'home.shopInfo.orderConfig' | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
