<mat-grid-list cols="2" rowHeight="1:1" gutterSize="16">
  @for (product of category.products; track product.id; let isLast = $last) {
    <mat-grid-tile
      routerLink="product/{{ product.id }}"
      class="item"
      [imageLoader]="product.images?.[0]"
      [imageFile]="product.imageFiles?.[0]"
      [imageSize]="'sm'"
      [rowspan]="product.details?.rowspan || 1"
      [colspan]="product.details?.colspan || 1"
    >
      <div class="item__content" fxLayout="column">
        <span class="item__content__title">{{ product.title }}</span>
        <span class="item__content__subtitle">
          @if (Product.hasDiscount(product)) {
            <span class="line-price error-text">{{ Product.realPrice(product) | number }}</span
            >&nbsp;
          }
          <span>{{ Product.totalPrice(product) | menuCurrency }}</span>
        </span>
      </div>
    </mat-grid-tile>
  }
</mat-grid-list>
