.product-list-carousel-container {
  margin-inline: -16px;

  .product-list-carousel {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding-inline: 16px;
    margin-bottom: 12px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .product-list-carousel-item {
      flex: none !important;
      width: 320px;

      app-product-card {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }

  &.multi-row {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .product-list-carousel-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-inline: 16px;
      min-width: fit-content;
    }

    .product-list-carousel-row {
      display: flex;
      gap: 12px;
      min-width: fit-content;
    }

    .product-list-carousel-item {
      flex: none !important;
      width: 320px;

      app-product-card {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
}

.product-tile {
  border-radius: var(--mat-sys-corner-large);
  cursor: pointer;
}

.product-tile-footer {
  font: var(--mat-sys-label-medium);
  text-shadow:
    0 1px 3px rgba(0, 0, 0, 0.2),
    0 -1px 3px rgba(0, 0, 0, 0.2),
    1px 0 3px rgba(0, 0, 0, 0.2),
    -1px 0 3px rgba(0, 0, 0, 0.2);
}

